@use 'sass:map';
@use 'sass:color';
@use '@angular/material' as mat;

@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $primary: map.get($config, 'primary');
  $accent: map.get($config, accent);
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);

  body {
    // background-color: mat.get-color-from-palette($background, background);
    color: mat.get-color-from-palette($foreground, text);
  }

}
