.app-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 1200px;
}

// // This works for all Flex Layout breakpoints
// @include layout-bp(md) {
//   .app-content {
//     width: 960px;
//   }
// }

// @include layout-bp(sm) {
//   .app-content {
//     width: 100%;
//   }
// }

// @include layout-bp(xs) {
//   .app-content {
//     width: 100%;
//   }
// }

.ngm-member-tree,
.ngm-member-table,
.ngm-member-list {
  width: 300px;
  height: 200px;
}
