
<div fxLayout="column" fxLayoutAlign="start stretch" >
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <!-- <span>{{ title$ | async }}</span> -->
        <span class="example-spacer"></span>

        <button mat-button routerLink="./charts" routerLinkActive="mat-accent">Charts</button>
        <button mat-button routerLink="./covid" routerLinkActive="mat-accent">Covid</button>
    </mat-toolbar>
    
    <div class="app-content" >
        <!-- <div fxLayout="row">
            <ngm-smart-filter [dataSettings]="dataSettings"
                [options]="smartFilterOptions"
                [appearance]="appearance"
                [(ngModel)]="slicer"
                (ngModelChange)="onSlicerChange($event)">
            </ngm-smart-filter>

            <ngm-smart-filter [dataSettings]="dataSettings"
                [options]="productFilterOptions"
                [appearance]="appearance"
                [(ngModel)]="product"
                (ngModelChange)="onSlicerChange($event)">
            </ngm-smart-filter>

            <ngm-smart-filter [dataSettings]="dataSettings"
                [options]="{
                    dimension: departmentDimension,
                    initialLevel: 1,
                    searchable: true
                }"
                [appearance]="appearance"
                [(ngModel)]="department"
                (ngModelChange)="onSlicerChange($event)">
            </ngm-smart-filter>

            <ngm-member-tree [dataSettings]="dataSettings"
                [dimension]="departmentDimension"
                [appearance]="appearance"
            ></ngm-member-tree>

            <ngm-member-table [dataSettings]="dataSettings"
                [dimension]="departmentDimension"
                [appearance]="appearance"
                [(ngModel)]="department"
                (ngModelChange)="onSlicerChange($event)"
            ></ngm-member-table>
        </div> -->

        <router-outlet #o="outlet"></router-outlet>

    </div>
</div>
