:host {
  display: flex;
  flex-direction: column;
  
  .ngm-card-header .actions {
    opacity: .1;
  }

  &:hover {
    .ngm-card-header .actions {
      opacity: 1;
    }
  }
}

.mat-card-content {
  height: calc(100% - 40px);
}

.echarts-chart {
  height: 100%;
  max-height: 100%;
}

.ngm-analytical-card__loading {
  position: absolute;
  right: 0;
  margin: 10px;
}

.ngm-card-error {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}