<ng-content></ng-content>

<div
  aria-label=""
  type="button"
  id="radix-:r4a:"
  aria-haspopup="menu"
  aria-expanded="false"
  data-state="closed"
  class="group flex cursor-pointer items-center gap-1 rounded-lg py-1.5 px-3 text-lg font-semibold overflow-hidden whitespace-nowrap
    text-token-text-secondary hover:bg-token-main-surface-secondary"
  [cdkMenuTriggerFor]="menu"
>
  <div class="text-token-text-secondary">{{role()?.title || 'Common'}} <span class="text-token-text-secondary"></span></div>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="icon-md text-token-text-tertiary"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M5.29289 9.29289C5.68342 8.90237 6.31658 8.90237 6.70711 9.29289L12 14.5858L17.2929 9.29289C17.6834 8.90237 18.3166 8.90237 18.7071 9.29289C19.0976 9.68342 19.0976 10.3166 18.7071 10.7071L12.7071 16.7071C12.5196 16.8946 12.2652 17 12 17C11.7348 17 11.4804 16.8946 11.2929 16.7071L5.29289 10.7071C4.90237 10.3166 4.90237 9.68342 5.29289 9.29289Z"
      fill="currentColor"
    ></path>
  </svg>
</div>

<div class="flex-1"></div>

<ng-template #menu>
  <div class="ngm-cdk-menu p-2" cdkMenu displayDensity="cosy">
    <label class="px-2 pb-2">{{'PAC.KEY_WORDS.Knowledgebases' | translate: {Default: 'Knowledgebases'} }}</label>
    <div class="max-h-64 w-56 overflow-y-auto" (click)="$event.stopPropagation()">
      @if (knowledgebaseList()?.length) {
        <pac-knowledgebase-list class="w-full" [disabled]="disabled()" [knowledgebaseList]="knowledgebaseList()" [(knowledgebases)]="knowledgebases" />
      } @else {
        <div class="flex justify-center p-4 text-token-text-secondary">
          <mat-icon fontSet="material-icons-round">battery_horiz_000</mat-icon> {{ 'PAC.KEY_WORDS.Empty' | translate: {Default: 'Empty'}  }}</div>
      }
    </div>

    <label class="p-2">{{'PAC.KEY_WORDS.Toolset' | translate: {Default: 'Toolset'} }}</label>
    <div class="max-h-64 w-56 mb-2" (click)="$event.stopPropagation()">
      @if (toolsetList()?.length) {
        <pac-toolset-list class="w-full" [disabled]="disabled()" [toolsetList]="toolsetList()" [(toolsets)]="toolsets" />
      } @else {
        <div class="flex justify-center p-4 text-token-text-secondary">
          <mat-icon fontSet="material-icons-outlined">battery_horiz_000</mat-icon> {{ 'PAC.KEY_WORDS.Empty' | translate: {Default: 'Empty'}  }}</div>
      }
    </div>

    <!-- <button class="ngm-cdk-menu-item" cdkMenuItem>
      <mat-icon class="text-token-text-secondary mr-2">visibility_off</mat-icon>
      <span>{{'PAC.KEY_WORDS.Hidden'  | translate: {Default: 'Hidden'} }}</span>
    </button> -->

    @if (role()?.id) {
      <button class="ngm-cdk-menu-item p-1" cdkMenuItem (click)="openAbout()">
        <mat-icon class="text-token-text-secondary mr-2">info</mat-icon>
        {{'PAC.KEY_WORDS.About'  | translate: {Default: 'About'} }}
      </button>
    }
  </div>
</ng-template>