:host {
  @apply w-full flex flex-col p-4;
}

.pac-knowledgebase-card {
  @apply flex;
  .pac-card__menu {
    @apply absolute;
    right: 5px;
    top: 5px;

    &.active {
      opacity: 1;
    }
  }
}
