:host {
  @apply w-full flex flex-col p-4;
}

.pac-knowledgebase-card {
  @apply flex shadow-sm border border-gray-200 rounded-xl hover:bg-gray-100 dark:border-neutral-700 dark:bg-white/10 dark:hover:bg-white/20;
  .pac-card__menu {
    @apply absolute;
    right: 5px;
    top: 5px;

    &.active {
      opacity: 1;
    }
  }
}
