@use 'sass:map';
@use '@angular/material' as mat;
@use './style/table-theme' as table;
@use './style/card-theme' as card;
@use './style/mat-list-theme' as mat-list;
@use './style/mat-form-field-theme' as mat-formfield;
@use './style/mat-button-theme' as mat-button;
@use './style/mat-viewport-theme' as mat-viewport;
@use './style/density-theme' as mat-density;
@use './style/mat-tab-theme' as mat-tab;
@use './style/mat-radio-group-theme' as mat-radio-group;
@use './style/mat-paginator-theme' as mat-paginator;
@use './style/mat-dialog-theme' as mat-dialog;
@use './style/mat-checkbox-theme' as mat-checkbox;
@use './directives/appearance-theme' as appearance;
@use './directives/button-group-theme' as button-group;

@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);

  @include table.color($config-or-theme);
  @include card.color($config-or-theme);
  @include mat-list.color($config-or-theme);
  @include mat-formfield.color($config-or-theme);
  @include mat-button.color($config-or-theme);
  @include mat-radio-group.color($config-or-theme);
  @include mat-paginator.color($config-or-theme);
  @include mat-dialog.color($config-or-theme);
  @include mat-checkbox.color($config-or-theme);
  @include appearance.color($config-or-theme);
  @include button-group.color($config-or-theme);
}

@mixin typography($config-or-theme) {
}

@mixin density($config-or-theme) {
  @include table.density($config-or-theme);
  @include card.density($config-or-theme);
  @include mat-list.density($config-or-theme);
  @include mat-formfield.density($config-or-theme);
  @include mat-button.density($config-or-theme);
  @include mat-viewport.density($config-or-theme);
  @include mat-density.density($config-or-theme);
  @include mat-tab.density($config-or-theme);
  @include mat-radio-group.density($config-or-theme);
  @include mat-paginator.density($config-or-theme);
  @include mat-dialog.density($config-or-theme);
  @include mat-checkbox.density($config-or-theme);
  @include appearance.density($config-or-theme);
  @include button-group.density($config-or-theme);
}

@mixin theme($theme) {
  $color: mat.get-color-config($theme);
  $density: mat.get-density-config($theme);
  $typography: mat.get-typography-config($theme);

  @if $color != null {
    @include color($color);
  }
  @if $density != null {
    @include density($density);
  }
  @if $typography != null {
    @include typography($typography);
  }
}
