<mat-card class="w-full">
  <mat-card-header>
    <mat-card-title>{{ 'PAC.KEY_WORDS.ORGANIZATION' | translate: {Default: 'Organization'} }}</mat-card-title>
  </mat-card-header>
  <mat-card-content >
    <div class="w-full flex flex-col justify-center items-center">
      <pac-org-avatar-editor [org]="selectedOrg"></pac-org-avatar-editor>
      <div>{{ selectedOrg?.name }}</div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="w-full">
  <mat-card-header>
    <mat-card-title>{{ 'PAC.ORGANIZATIONS_PAGE.Organization.MAIN' | translate: {Default: "Main"} }}</mat-card-title>
  </mat-card-header>
  <mat-card-content >
    <div class="w-full flex justify-center">
      <pac-edit-org-main></pac-edit-org-main>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="w-full">
  <mat-card-header>
    <mat-card-title>{{ 'PAC.KEY_WORDS.Tags' | translate: {Default: "Tags"} }}</mat-card-title>
  </mat-card-header>
  <mat-card-content >
    <tag-maintain class="w-full" />
  </mat-card-content>
</mat-card>

<mat-card class="w-full">
  <mat-card-header>
    <mat-card-title>{{ 'PAC.ORGANIZATIONS_PAGE.Organization.DEMO' | translate: {Default: "Demo"} }}</mat-card-title>
  </mat-card-header>
  <mat-card-content >
    <div class="w-full flex justify-start">
      <pac-organization-demo></pac-organization-demo>
    </div>
  </mat-card-content>
</mat-card>
