:host {
  @apply flex flex-col justify-start items-stretch shadow-sm;
}

.line {
  display: flex;
  place-content: space-between;
}

.ranking {
  padding: 3px;
  border: 1px solid transparent;
  border-radius: 3px;
  margin-right: 5px;
  font-style: italic;
}
