:host {
  @apply flex flex-col;
}

.mat-input-element {
  @apply w-12 text-xs bg-gray-200 text-gray-700 border-2 border-solid border-gray-200 rounded focus:outline-none focus:bg-white focus:border-slate-500 py-1 px-2;
}

.pac-widget-designer__color {
  @apply relative;

  .mat-input-element {
    @apply pr-8 w-full;
  }
  .mtx-colorpicker-toggle {
    @apply absolute right-0;
  }
}

.pac-image-tile.active {
  @apply outline-violet-500;
}
.pac-image-tile {
  .pac-image-tile__copy {
    @apply absolute;
  }
}

.mat-mdc-select {
  --mat-select-trigger-text-size: 10px;
  --mat-select-trigger-text-line-height: 12px;
  padding: 0 10px;
}