<div class="relative flex-1 flex flex-col items-center overflow-auto p-4" [class.pac-indight__expand-model]="showModel() && entityType()">
  <mat-accordion *ngIf="answers()?.length" class="flex-1 w-full md:w-1/2 lg:1/3 gap-4">
    <mat-expansion-panel *ngFor="let answer of answers(); index as index" class="pac-indight__answer-panel group" togglePosition="before"
      [expanded]="answer.expanded"
    >
      <mat-expansion-panel-header class="pac-indight__answer-header">
        <mat-panel-title class="flex items-center overflow-hidden">
          <span class="flex-1 whitespace-nowrap text-ellipsis overflow-hidden">
            {{ answer.title }}
          </span>
        </mat-panel-title>
        <mat-panel-description class="flex justify-end gap-2">
          <button mat-icon-button displayDensity="compact" class="shrink-0 opacity-0 group-hover:opacity-100 duration-300"
            (click)="$event.stopPropagation();$event.preventDefault();setPrompt(answer.title)">
            <mat-icon fontSet="material-icons-outlined" >edit</mat-icon>
          </button>
          
          <mat-icon fontSet="material-icons-outlined" class="opacity-0 group-hover:opacity-100 duration-300" displayDensity="compact"
            [matTooltip]="answer.message">question_answer</mat-icon>

          <button mat-icon-button displayDensity="compact" class="opacity-0 group-hover:opacity-100 duration-300"
            [disabled]="!answer.isCube"
            (click)="$event.stopPropagation();$event.preventDefault();addToStory(answer)">
            <mat-icon fontSet="material-icons-outlined"
              [matTooltip]=" !answer.isCube ? ('PAC.Home.Insight.CreateSemanticModelForUse' | translate: {Default: 'Add to story: create semantic model for use'}) : '' "
            >addchart</mat-icon>
          </button>
        </mat-panel-description>

        <button mat-icon-button displayDensity="compact" ngmAppearance="danger" class="opacity-0 group-hover:opacity-100 duration-300"
          (click)="$event.stopPropagation();$event.preventDefault();removeAnswer(index)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-expansion-panel-header>

      <div *ngIf="answer.answering; else content" class="h-[300px] flex justify-center items-center">
        <mat-spinner [strokeWidth]="2" [diameter]="30"></mat-spinner>
      </div>

      <ng-template #content>
        <div *ngIf="!answer.dataSettings" class="whitespace-pre-line p-8 pt-4">{{ answer.message }}</div>
        <ngm-analytical-card *ngIf="answer.dataSettings" class="h-[300px]" 
          [dataSettings]="answer.dataSettings"
          [chartOptions]="answer.chartOptions"
          [chartSettings]="{}"
          [options]="{
          }"
          [slicers]="answer.slicers"
        >
          <button mat-icon-button ngmAction displayDensity="cosy" class="ngm-menu-trigger opacity-20 group-hover:opacity-100 duration-200"
            [color]="answer.slicers ? 'accent':''"
            [matMenuTriggerFor]="filtersMenu"
            #mt="matMenuTrigger"
            [class.active]="mt.menuOpen"
            >
            <mat-icon fontSet="material-icons-outlined">filter_alt</mat-icon>
          </button>
        </ngm-analytical-card>
      </ng-template>

      <mat-menu #filtersMenu="matMenu" class="pac-widget__slicer-menu">
        <div class="text-base font-semibold">{{ 'COMPONENTS.SELECTION.Slicers' | translate: {Default: "Slicers"} }}</div>
        <ngm-slicers class="overflow-hidden" inline editable [slicers]="answer.slicers"
          [dataSettings]="answer.dataSettings"
          [limit]="5"
          [capacities]="[SlicersCapacity.CombinationSlicer, SlicersCapacity.AdvancedSlicer]"
          (valueChange)="answer.slicers = $event"
          (click)="$event.stopPropagation()"
        ></ngm-slicers>
      </mat-menu>
      
      
    </mat-expansion-panel>
  </mat-accordion>

  <div *ngIf="!answers()?.length" class="pac-insight-quick-guide flex-1 w-full md:w-1/2 lg:1/3">
    <div class="my-8 text-3xl">向 AI 副驾驶询问问题：</div>
    <div class="italic my-4">You can ask questions about your data, and immediately see your answers as visualizations. These visualizations can always be added to your story.</div>

    <div><span class="font-notoColorEmoji text-lg">💡</span>例如：</div>
    <ul class="list-disc">
      <li *ngFor="let prompt of suggestedPrompts()" class="shadow-sm rounded-sm p-1 my-1 flex justify-start items-center">
        <button mat-icon-button displayDensity="compact" [matTooltip]="'PAC.Home.Insight.UseThisPrompt' | translate: {Default: 'Use this prompt'}"
          (click)="setPrompt(prompt)" >
          <mat-icon fontSet="material-icons-outlined">edit</mat-icon>
        </button>
        <a class="cursor-pointer" (click)="askCopilot(prompt)">{{prompt}}</a>
      </li>
    </ul>
  </div>

  <div class="pac-insight__bottom-padding w-full flex shrink-0"></div>
</div>

<div class="absolute bottom-0 w-full flex flex-col p-4 bg-bluegray-100/50 dark:bg-white/10 backdrop-blur-lg">
  <div class="pac-insight__search-bar ngm-density__cosy w-full md:w-1/2 lg:1/3 mx-auto flex flex-wrap justify-start items-center p-2 gap-2">
    <div class="flex items-center gap-2">
      <button mat-icon-button (click)="showModel.set(!showModel())">
        <mat-icon *ngIf="showModel()" fontSet="material-icons-round">expand_less</mat-icon>
        <mat-icon *ngIf="!showModel()" fontSet="material-icons-round">expand_more</mat-icon>
      </button>
      <div class="rounded-lg p-[2px] from-rose-400 via-fuchsia-500 to-indigo-500">
        <mat-select class="ngm-select-element w-20 rounded-md p-3 flex items-center bg-white dark:bg-bluegray-700"
          style="width: 200px; display: flex; align-items: center;"
          placeholder="{{'PAC.KEY_WORDS.SelectSemanticModel' | translate: { Default: 'Select semantic model' } }}"
          [panelWidth]="400"
          [compareWith]="compareWithId"
          [ngModel]="model"
          (ngModelChange)="onModelChange($event)"
          (click)="$event.stopPropagation();">
          <mat-select-trigger>
            {{model?.name}}
          </mat-select-trigger>
          <mat-option *ngFor="let model of models$ | async" [value]="model">
            <div class="flex items-center">
              <div
                class="text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 mr-2 bg-bluegray-100 text-bluegray-700 rounded-full shrink-0"
                style="width: 63px;"
                >
                {{model.type === 'XMLA' ? 'MDX' : 'SQL'}}
                <mat-icon *ngIf="!model.dataSource" displayDensity="compact" style="margin: 0;">memory</mat-icon>
              </div>
              
              <span class="text-ellipsis overflow-hidden whitespace-nowrap">{{model.name}}</span>
            </div>
          </mat-option>
        </mat-select>
      </div>

      <div *ngIf="hasCube$ | async as hasCube" class="flex-1 rounded-lg p-[2px] from-rose-400 via-fuchsia-500 to-indigo-500">
        <mat-select class="ngm-select-element w-10 rounded-md p-3 flex items-center bg-white dark:bg-bluegray-700" style="width: 100px; display: flex; align-items: center;"
          placeholder="{{'PAC.KEY_WORDS.Cube' | translate: { Default: 'Cube' } }}"
          panelClass="ngm-select-panel ngm-density__cosy"
          [panelWidth]="300"
          [compareWith]="compareWithName"
          [ngModel]="cube"
          (ngModelChange)="onCubeChange($event)"
          (click)="$event.stopPropagation();">
          <mat-option *ngFor="let cube of cubes$ | async" [value]="cube" class="group">
            <div class="w-full flex justify-between items-baseline">
              <span class="overflow-hidden text-ellipsis whitespace-nowrap">
                {{cube.caption}}
              </span>
              
              <span class="text-xs opacity-0 group-hover:opacity-80 duration-300 overflow-hidden text-ellipsis whitespace-nowrap">
                {{cube.name}}
              </span>
            </div>
            
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="w-full md:w-1/2 lg:w-1/3 rounded-lg p-[2px] from-rose-400 via-fuchsia-500 to-indigo-500"
      [class.bg-gradient-to-r]="model && ((hasCube$ | async) ? cube : true)"
      [class.ngm-background-animate]="answering"
    >
      <form class="flex rounded-md px-2 py-1 bg-white dark:bg-bluegray-700">
        <mat-chip-grid #chipGrid>
          <div class="px-2 left-0 flex items-center">
            <div *ngIf="suggesting" class="pac-insight__suggesting emoji-loader text-base" [matTooltip]=" 'PAC.KEY_WORDS.SuggestingPrompts' | translate: { Default: 'Suggesting prompts' } "></div>
            <span *ngIf="!suggesting" class="font-notoColorEmoji">🤖</span>
          </div>
        </mat-chip-grid>
        <input #promptInput type="text" id="simple-search" class="border-none outline-none text-gray-900 text-sm block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder=" {{'PAC.KEY_WORDS.Ask' | translate: { Default: 'Ask' } }}..." required
          matInput [matAutocomplete]="auto"
          [matChipInputFor]="chipGrid"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)"
          [formControl]="promptControl"
        >
        <div *ngIf="error" class="whitespace-nowrap text-ellipsis overflow-hidden text-red-400"
          [matTooltip]="error"
        >
          {{error}}
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="showModel() && entityType()" class="h-60 w-full md:w-1/2 lg:1/3 mx-auto overflow-auto">
    <div><span>Dimensions:</span>
      <mat-chip-listbox>
        <mat-chip-option *ngFor="let dimension of dimensions()">
          {{dimension.caption}}
        </mat-chip-option>
      </mat-chip-listbox>
    </div>

    <div><span>Measures:</span>
      <mat-chip-listbox>
        <mat-chip-option *ngFor="let measure of measures()">
          <ngm-entity-property [property]="measure" displayBehaviour="descriptionOnly"></ngm-entity-property>
        </mat-chip-option>
      </mat-chip-listbox>
    </div>
    <div><span>indicators:</span>
      <mat-chip-listbox>
        <mat-chip-option *ngFor="let measure of indicators()">
          {{measure.caption}}
        </mat-chip-option>
      </mat-chip-listbox>
    </div>
  </div>
</div>

<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" class="pac-insight__autocomplete ngm-autocomplete-panel ngm-density__cosy">
  <mat-option *ngFor="let prompt of suggestedPrompts()" [value]="prompt"
    (click)="$event.stopPropagation();$event.preventDefault();">
    <span>
      {{prompt}}
    </span>
  </mat-option>
</mat-autocomplete>

<pac-copilot-enable *ngIf="copilotNotEnabled$ | async" class="z-[101]">
</pac-copilot-enable>
