<div class="relative flex-1 flex flex-col items-center overflow-auto p-4" [class.pac-indight__expand-model]="showModel() && entityType()">
  @if (answers()?.length) {
    <mat-accordion class="flex-1 w-full md:w-1/2 lg:1/3 flex flex-col gap-1">
    @for (answer of answers(); track answer.key; let index = $index;) {
      <mat-expansion-panel class="pac-indight__answer-panel group" togglePosition="before"
        [expanded]="answer.expanded"
      >
        <mat-expansion-panel-header class="pac-indight__answer-header">
          <mat-panel-title class="flex items-center overflow-hidden">
            <span class="flex-1 whitespace-nowrap text-ellipsis overflow-hidden">
              {{ answer.title }}
            </span>
          </mat-panel-title>

          <div class="flex justify-end items-center gap-2 opacity-0 group-hover:opacity-100 duration-300">
            <button mat-icon-button displayDensity="compact" class="shrink-0"
              (click)="$event.stopPropagation();$event.preventDefault();setPrompt(answer.title)">
              <mat-icon fontSet="material-icons-outlined" >edit</mat-icon>
            </button>

            <button mat-icon-button displayDensity="compact" class="shrink-0"
              [matTooltip]=" 'Story.Widget.Explore' | translate: {Default: 'Explore'} "
              (click)="$event.stopPropagation();$event.preventDefault();openExplore(answer)">
              <mat-icon fontSet="material-icons-outlined">explore</mat-icon>
            </button>
            
            <mat-icon fontSet="material-icons-outlined" class="shrink-0" displayDensity="compact"
              [matTooltip]="answer.message">question_answer</mat-icon>

            <button mat-icon-button displayDensity="compact" class="shrink-0"
              [disabled]="!answer.isCube"
              (click)="$event.stopPropagation();$event.preventDefault();addToStory(answer)">
              <mat-icon fontSet="material-icons-outlined"
                [matTooltip]=" !answer.isCube ? ('PAC.Home.Insight.CreateSemanticModelForUse' | translate: {Default: 'Add to story: create semantic model for use'}) : '' "
              >addchart</mat-icon>
            </button>

            <button mat-icon-button displayDensity="compact" ngmAppearance="danger" class="shrink-0"
              (click)="$event.stopPropagation();$event.preventDefault();removeAnswer(index)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </mat-expansion-panel-header>

        @if (answer.answering) {
          <div class="h-[300px] flex justify-center items-center">
            <mat-spinner [strokeWidth]="2" [diameter]="30"></mat-spinner>
          </div>
        } @else {
          @if (answer.dataSettings) {
            <ngm-analytical-card class="h-[300px]" 
              [dataSettings]="answer.dataSettings"
              [chartOptions]="answer.chartOptions"
              [chartSettings]="answer.chartSettings"
              [options]="answer.options"
              [slicers]="answer.slicers"
            >
              <button mat-icon-button ngmAction displayDensity="cosy" class="ngm-menu-trigger opacity-20 group-hover:opacity-100 duration-200"
                [color]="answer.slicers ? 'accent':''"
                [matMenuTriggerFor]="filtersMenu"
                #mt="matMenuTrigger"
                [class.active]="mt.menuOpen"
                >
                <mat-icon fontSet="material-icons-outlined">filter_alt</mat-icon>
              </button>
            </ngm-analytical-card>
            
          } @else {
            <div class="whitespace-pre-line p-8 pt-4">{{ answer.message }}</div>
          }
        }

        <mat-menu #filtersMenu="matMenu" class="pac-widget__slicer-menu">
          <div class="text-base font-semibold">{{ 'COMPONENTS.SELECTION.Slicers' | translate: {Default: "Slicers"} }}</div>
          <ngm-slicers class="overflow-hidden" inline editable [slicers]="answer.slicers"
            [dataSettings]="answer.dataSettings"
            [limit]="5"
            [capacities]="[SlicersCapacity.CombinationSlicer, SlicersCapacity.AdvancedSlicer]"
            (valueChange)="answer.slicers = $event"
            (click)="$event.stopPropagation()"
          ></ngm-slicers>
        </mat-menu>
      </mat-expansion-panel>
    }
    </mat-accordion>
  } @else {
    <div class="pac-insight-quick-guide flex-1 w-full md:w-1/2 lg:1/3" [@listAnimation]="suggestedPrompts()">
      <div class="my-8 text-3xl">{{ 'PAC.Home.Insight.AskAICopilot' | translate: {Default: 'Ask AI Copilot Questions'} }}:</div>
      <div class="italic my-4">
        {{ 'PAC.Home.Insight.AskAICopilotDesc' | translate: {Default: 'You can ask questions about your data, and immediately see your answers as visualizations. These visualizations can always be added to your story.'} }}
      </div>
  
      <div><span class="font-notoColorEmoji text-lg">💡</span>{{ 'PAC.Home.Insight.ForExample' | translate: {Default: 'for example'} }}:</div>
      @if (suggesting()) {
        <bullet-list-content-loader class="block w-96 max-w-full dark:opacity-20"/>
      } @else {
        <ul class="list-disc">
          @for (prompt of suggestedPrompts(); track prompt) {
            <li class="shadow-sm rounded-lg border p-1 my-1 flex justify-start items-center
              border-neutral-100 hover:bg-neutral-100 dark:border-neutral-800 dark:hover:bg-neutral-900
            ">
              <button mat-icon-button displayDensity="compact" [matTooltip]="'PAC.Home.Insight.UseThisPrompt' | translate: {Default: 'Use this prompt'}"
                (click)="setPrompt(prompt)" >
                <mat-icon fontSet="material-icons-outlined">edit</mat-icon>
              </button>
              <a class="cursor-pointer" (click)="askCopilot(prompt)">{{prompt}}</a>
            </li>
          }
        </ul>
      }
    </div>
  }

  <div class="pac-insight__bottom-padding w-full flex shrink-0"></div>
</div>

<div class="absolute bottom-0 w-full flex flex-col p-4 bg-bluegray-100/50 dark:bg-white/10 backdrop-blur-lg" cdkDropListGroup>
  <div class="pac-insight__search-bar ngm-density__cosy relative w-full md:w-1/2 lg:1/3 mx-auto flex flex-wrap justify-start items-center p-2 gap-2">
    @if (entityType()) {
      <button mat-icon-button class="absolute -left-8" style="position: absolute;" (click)="showModel.set(!showModel())">
        @if (showModel()) {
          <mat-icon fontSet="material-icons-round">expand_more</mat-icon>
        } @else {
          <mat-icon fontSet="material-icons-round">expand_less</mat-icon>
        }
      </button>
    }

    <div class="flex items-center gap-2">

      <div class="rounded-lg p-[2px] from-rose-400 via-fuchsia-500 to-indigo-500">
        <mat-select class="ngm-select-element w-20 rounded-md p-3 flex items-center"
          style="width: 200px; display: flex; align-items: center;"
          placeholder="{{'PAC.KEY_WORDS.SelectSemanticModel' | translate: { Default: 'Select semantic model' } }}"
          panelClass="ngm-select-panel ngm-density__cosy"
          [panelWidth]="400"
          [compareWith]="compareWithId"
          [ngModel]="model"
          (ngModelChange)="onModelChange($event)"
          (click)="$event.stopPropagation();">
          <mat-select-trigger>
            {{model?.name}}
          </mat-select-trigger>
          @for (model of models$ | async; track model.key) {
            <mat-option [value]="model">
              <div class="flex items-center">
                <div
                  class="text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 mr-2 rounded-full shrink-0"
                  style="width: 63px;"
                  >
                  {{model.type === 'XMLA' ? 'MDX' : 'SQL'}}
                  <mat-icon *ngIf="!model.dataSource" displayDensity="compact" style="margin: 0;">memory</mat-icon>
                </div>
                
                <span class="text-ellipsis overflow-hidden whitespace-nowrap">{{model.name}}</span>
              </div>
            </mat-option>
          }
        </mat-select>
      </div>

      @if (hasCube$()) {
        <div class="rounded-lg p-[2px] from-rose-400 via-fuchsia-500 to-indigo-500">
          <mat-select class="ngm-select-element w-10 rounded-md p-3 flex items-center" style="width: 100px; display: flex; align-items: center;"
            placeholder="{{'PAC.KEY_WORDS.Cube' | translate: { Default: 'Cube' } }}"
            panelClass="ngm-select-panel ngm-density__cosy"
            [panelWidth]="300"
            [compareWith]="compareWithName"
            [ngModel]="cube"
            (ngModelChange)="onCubeChange($event)"
            (click)="$event.stopPropagation();">
            <mat-option *ngFor="let cube of cubes$ | async" [value]="cube" class="group">
              <div class="w-full flex justify-between items-baseline">
                <span class="overflow-hidden text-ellipsis whitespace-nowrap">
                  {{cube.caption}}
                </span>
                
                <span class="text-xs opacity-0 group-hover:opacity-80 duration-300 overflow-hidden text-ellipsis whitespace-nowrap">
                  {{cube.name}}
                </span>
              </div>
              
            </mat-option>
          </mat-select>
        </div>
      }
    </div>
    <div class="pac-insight__ask-input pac-cdk-drop__list relative flex-1 w-full md:w-1/2 lg:w-1/3 rounded-lg p-[2px]
     from-rose-400 via-fuchsia-500 to-indigo-500"
      [class.bg-gradient-to-br]="model && (hasCube$() ? cube : true)"
      [class.ngm-background-animate]="answering()"

      cdkDropList
      [cdkDropListData]="[]"
      (cdkDropListDropped)="dropModelProperty($event)"
      [cdkDropListEnterPredicate]="dropPredicate"
    >
      <form class="pac-insight__ask-input-form flex rounded-md px-2 py-1 overflow-hidden">
        <mat-chip-grid #chipGrid>
          <div class="px-2 left-0 flex items-center">
            @if (suggesting()) {
              <div class="pac-insight__suggesting emoji-loader text-base" [matTooltip]=" 'PAC.KEY_WORDS.SuggestingPrompts' | translate: { Default: 'Suggesting prompts' } "></div>
            } @else {
              <span class="font-notoColorEmoji">🤖</span>
            }
          </div>
        </mat-chip-grid>
        <input #promptInput type="text" id="simple-search" class="border-none outline-none text-sm block w-full
         bg-transparent dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder=" {{'PAC.KEY_WORDS.Ask' | translate: { Default: 'Ask' } }}..." required
          matInput [matAutocomplete]="auto"
          [matChipInputFor]="chipGrid"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)"
          [formControl]="promptControl"
        >
        @if (error) {
          <div class="whitespace-nowrap text-ellipsis overflow-hidden text-red-400"
            [matTooltip]="error"
          >
            {{error}}
          </div>
        }
      </form>
    </div>
  </div>

  @if (showModel() && entityType()) {
    <div class="h-60 w-full md:w-1/2 lg:1/3 mx-auto overflow-auto">
      <div>
        <span class="font-bold">{{ 'PAC.KEY_WORDS.Dimensions' | translate: {Default: 'Dimensions'} }}:</span>
        <mat-chip-listbox cdkDropList
          [cdkDropListData]="[]">
          <mat-chip-option *ngFor="let dimension of dimensions()"
            cdkDrag
            [cdkDragData]="dimension">
            {{dimension.caption}}
          </mat-chip-option>
        </mat-chip-listbox>
      </div>

      <div>
        <span class="font-bold">{{ 'PAC.KEY_WORDS.Measures' | translate: {Default: 'Measures'} }}:</span>
        <mat-chip-listbox cdkDropList
          [cdkDropListData]="[]">
          <mat-chip-option *ngFor="let measure of measures()"
            cdkDrag
            [cdkDragData]="measure">
            <ngm-entity-property [property]="measure" displayBehaviour="descriptionOnly"></ngm-entity-property>
          </mat-chip-option>
        </mat-chip-listbox>
      </div>
      <div>
        <span class="font-bold">{{ 'PAC.KEY_WORDS.Indicators' | translate: {Default: 'Indicators'} }}:</span>
        <mat-chip-listbox cdkDropList
          [cdkDropListData]="[]">
          <mat-chip-option *ngFor="let measure of indicators()"
            cdkDrag
            [cdkDragData]="measure">
            {{measure.caption}}
          </mat-chip-option>
        </mat-chip-listbox>
      </div>
    </div>
  }
</div>

<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" class="pac-insight__autocomplete ngm-autocomplete-panel ngm-density__cosy">
  @for (prompt of suggestedPrompts(); track prompt) {
    <mat-option [value]="prompt"
      (click)="$event.stopPropagation();$event.preventDefault();">
      <span>
        {{prompt}}
      </span>
    </mat-option>
  }
</mat-autocomplete>

@if (showExplorer()) {
  <ngm-story-explorer class="absolute top-0 left-0 w-full h-full z-20"
    cdkDropListGroup
    [data]="explore()"
    (closed)="closeExplorer($event)"
  ></ngm-story-explorer>
}

@if (!copilotEnabled()) {
  <ngm-copilot-enable class="z-[101]"
    [title]="'Metad Copilot'"
    [subTitle]="'Ngm.Copilot.YourAIPairProgrammer' | translate: {Default: 'Your AI pair programmer'}"
    (toConfig)="toEnableCopilot()"/>
}