:host {
  @apply h-full flex-1 flex flex-col relative;
}

.pac-indight__answer-panel.mat-expansion-panel {
  --mat-expansion-header-expanded-state-height: 50px;
  --mat-expansion-header-collapsed-state-height: 40px;
  @apply shadow-sm rounded-lg;
}

.pac-insight__suggesting.emoji-loader {
  width: 1rem;
  height: 1rem;
  &::before {
    font-size: 1rem;
    line-height: 1rem;
  }
}

.pac-indight__answer-header.mat-expansion-panel-header {
  @apply px-2;
}

.ngm-select-element:focus {
  @apply bg-white;
}

.mat-mdc-input-element.mat-mdc-autocomplete-trigger {
  @apply ml-0;
}

.pac-insight__bottom-padding {
  height: 90px;
}
.pac-indight__expand-model {
  .pac-insight__bottom-padding {
    height: 285px;
  }
}

.pac-insight__ask-input {
  .cdk-drag-placeholder {
    @apply absolute left-0 top-0;
  }
}
