:host {
  @apply block overflow-hidden;
}

.mat-mdc-input-element {
  @apply outline-none text-right max-w-[50%];
}
:host::ng-deep {
  .mdc-slider {
    --mdc-slider-inactive-track-height: 2px;
    --mdc-slider-active-track-height: 4px;
    --mdc-slider-handle-width: 10px;
    --mdc-slider-handle-height: 10px;
    width: 100%;
    height: 24px;
    max-width: calc(100% - 24px);

    .mdc-slider__input {
      height: 24px;
    }

    .mdc-slider__thumb {
      left: -12px;
      height: 24px;
      width: 24px;
    }
  }
}
