@use '@angular/material/core/tokens/token-utils';
@use '@angular/material/core/style/sass-utils';

// The prefix used to generate the fully qualified name for tokens in this file.
$prefix: (ngm, color);

@function get-unthemable-tokens() {
  @return (
  );
}

@function get-color-tokens() {
  @return (
    surface-container-low: null,
    surface-container: null,
    surface-container-high: null,
    surface: null,
  );
}

@function get-token-slots() {
  @return sass-utils.deep-merge-all(
    get-unthemable-tokens(),
    get-color-tokens(),
  );
}

@include token-utils.use-tokens($prefix, get-token-slots()) {
  .ngm-input-element.mat-mdc-input-element {
    background-color: var(#{token-utils.get-token-variable(surface-container-high)});
    &:hover:not(:disabled) {
      --tw-ring-color: rgb(234 179 8 / 0.5); // ring-yellow-500/50
      --tw-ring-offset-color: var(#{token-utils.get-token-variable(surface)});
      // background-color: var(#{token-utils.get-token-variable(surface-container-high)});
    }
    &:focus {
      --tw-ring-offset-color: var(#{token-utils.get-token-variable(surface)});
      background-color: var(#{token-utils.get-token-variable(surface)});
    }
    &:disabled {
      background-color: var(#{token-utils.get-token-variable(surface-container-low)});
    }
  }
}

.ngm-input-element.mat-mdc-input-element {
  @apply min-w-[6rem] block box-border w-full max-w-full p-2 rounded-lg
    text-gray-700 ring-offset-1 ring-offset-transparent ring-2 ring-transparent
    focus:ring-yellow-500 focus:z-10 focus:outline-none
    dark:placeholder-gray-400 dark:text-white
    dark:focus:ring-yellow-500
    disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none disabled:ring-0 disabled:cursor-not-allowed
    placeholder:italic placeholder:text-slate-400/50 dark:placeholder:text-slate-500/50;

  &.ngm-input__searching {
    @apply focus:bg-white dark:focus:bg-gray-800;
  }
}

.ngm-input__suffix {
  @apply absolute right-2;
}

.ngm-density__cosy {
  .ngm-input-element.mat-mdc-input-element {
    @apply py-1 px-2 text-sm rounded;
  }
  .ngm-input__suffix {
    @apply absolute right-1;
  }
}

.ngm-density__compact {
  .ngm-input-element.mat-mdc-input-element {
    @apply py-1 px-2 text-xs rounded;
  }
  .ngm-input__suffix {
    @apply absolute right-0;
  }
}

.ngm-input-element.mat-mdc-input-element.ngm-w-full {
  @apply w-full;
}

.ngm-input-label {
  @apply p-1 text-sm text-ellipsis whitespace-nowrap overflow-hidden disabled:opacity-50;
}

.ngm-form-field__subscript-wrapper {
  @apply w-full h-2;
}

.ngm-input-error {
  .ngm-input-element {
    border-color: var(--mdc-theme-error);
  }
}

textarea.ngm-input-element {
  @apply min-h-[50px];
}
