.ngm-theme-light {
  .ngm-copilot-command-button {
    background: linear-gradient(136deg, rgb(151 0 255 / 80%) 0%, rgb(254 0 0 / 80%) 50%, rgb(255 149 0 / 80%) 100%);
    color: white;
    --mdc-icon-button-icon-color: white;
    --mat-icon-color: white;
    
    &.mat-mdc-button-base.mat-mdc-unelevated-button {
      --mdc-filled-button-label-text-color: white;
    }
    &[disabled] {
      opacity: 0.5;
    }
  }
}
.dark {
  .ngm-copilot-command-button {
    background: linear-gradient(136deg, rgb(151 0 255) 0%, rgb(254 0 0) 50%, rgb(255 149 0) 100%);
    color: white;
    --mdc-icon-button-icon-color: white;
    --mat-icon-color: white;

    &.mat-mdc-button-base.mat-mdc-unelevated-button {
      --mdc-filled-button-label-text-color: white;
    }
    &[disabled] {
      opacity: 0.5;
    }
  }
}

.ngm-btn, .btn {
  @apply relative flex items-center cursor-pointer pr-[30px]
    active:scale-98 active:translate-y-0.5 transition-all
   bg-gray-100 border border-gray-100 hover:border-gray-200;
}
.ngm-btn-sm, .btn-sm {
  @apply px-2 h-8 rounded-lg;
}
.btn-primary {
  @apply shadow-md text-components-button-primary-text bg-components-button-primary-bg border-components-button-primary-border;
}
.btn-medium {
  height: 2rem;
  border-radius: .5rem;
  padding-left: .875rem;
  padding-right: .875rem;
  font-size: 13px;
}

markdown.ngm-copilot-markdown .thinking-placeholder {
  @apply inline-block w-5 h-5 -mb-1 rounded-full bg-black dark:bg-white;
  animation: twinkling 2000ms infinite linear;
}

@keyframes twinkling {
  50% {
    opacity: 0;
    transform: scale(.9);
  }
}
