.ngm-theme-light {
  .ngm-copilot-command-button {
    background: linear-gradient(136deg, rgb(151 0 255 / 80%) 0%, rgb(254 0 0 / 80%) 50%, rgb(255 149 0 / 80%) 100%);
    color: white;
    --mdc-icon-button-icon-color: white;
    --mat-icon-color: white;
    
    &.mat-mdc-button-base.mat-mdc-unelevated-button {
      --mdc-filled-button-label-text-color: white;
    }
    &[disabled] {
      opacity: 0.5;
    }
  }
}
.dark {
  .ngm-copilot-command-button {
    background: linear-gradient(136deg, rgb(151 0 255) 0%, rgb(254 0 0) 50%, rgb(255 149 0) 100%);
    color: white;
    --mdc-icon-button-icon-color: white;
    --mat-icon-color: white;

    &.mat-mdc-button-base.mat-mdc-unelevated-button {
      --mdc-filled-button-label-text-color: white;
    }
    &[disabled] {
      opacity: 0.5;
    }
  }
}

markdown.ngm-copilot-markdown .thinking-placeholder {
  @apply inline-block w-5 h-5 -mb-1 rounded-full bg-black dark:bg-white;
  animation: twinkling 2000ms infinite linear;
}

@keyframes twinkling {
  50% {
    opacity: 0;
    transform: scale(.9);
  }
}
