.ngm-cdk-listbox {
  .ngm-cdk-option {
    @apply relative px-4 py-3;
  }
  &[aria-multiselectable='true'] {
    .ngm-cdk-option {
      @apply px-8;
    }
  }
}

.ngm-density__cosy {
  .ngm-cdk-listbox {
    .ngm-cdk-option {
      @apply py-2;
    }
  }
}

.ngm-density__compact {
  .ngm-cdk-listbox {
    .ngm-cdk-option {
      @apply py-1 text-sm;
    }
  }
}
