.cdk-menu-bar {
  .cdk-menu-item {
    @apply p-2 whitespace-nowrap text-neutral-500 dark:text-neutral-500;
  }
  .cdk-menu-item:hover {
    @apply bg-black/5 dark:bg-gray-100/10 text-neutral-600 dark:text-neutral-400;
  }
  // .cdk-menu-item[aria-expanded='true'] {
  //   @apply bg-black/10 dark:bg-gray-100/20 text-neutral-600 dark:text-neutral-400;
  // }
}

.cdk-menu-trigger[aria-expanded='true'] {
  @apply bg-black/10 dark:bg-gray-100/20 text-neutral-600 dark:text-neutral-400;
}

.cdk-menu.cdk-menu-group {
  @apply inline-flex flex-col p-2 rounded-xl shadow-lg overflow-auto border border-solid 
    border-neutral-200 dark:border-neutral-700 dark:shadow-neutral-300;
  background-color: var(--ngm-color-surface);

  .cdk-menu-item {
    @apply flex items-center bg-transparent whitespace-nowrap cursor-pointer border-none select-none px-4 rounded-md;
    min-width: 64px;
    line-height: 36px;

    &:hover {
      @apply bg-black/5 dark:bg-white/10;
    }
  
    &.ngm-cdk-menu-item__disabled {
      cursor: default;
      opacity: 0.5;
      &:hover {
        background-color: unset;
      }
    }

    &.ngm-cdk-menu__danger:hover {
      @apply bg-red-400 text-white;
    }

    & + .mat-icon {
      margin-right: 10px;
    }

    &.disabled, &.mat-button-disabled {
      @apply opacity-50 cursor-default;
    }

    .mat-button-wrapper {
      @apply w-full flex items-center;

      > .mat-icon:is(:first-child) {
        margin-right: 10px;
      }
    }
    
    .mdc-button__label {
      @apply flex-1;
    }
  }
}

.cdk-menu-item.cdk-menu-trigger {
  justify-content: space-between;
}

.mat-mdc-menu-panel .mat-mdc-menu-content {
  .mat-mdc-menu-item {
    .mat-icon {
      @apply shrink-0;
    }

    .mat-mdc-menu-item-text {
      @apply overflow-hidden whitespace-nowrap text-ellipsis;
    }
  }
}

.ping-badge {
  span {
    background-color: var(--ngm-color-secondary);
  }
}