@use "sass:meta";

body.light {
  @include meta.load-css("prismjs/themes/prism-tomorrow.min.css");
}
body.dark {
  @include meta.load-css("prismjs/themes/prism-okaidia.min.css");
}

.ngm-prism-highlight {
  @apply bg-gray-950;

  .mdc-icon-button {
    @apply text-gray-200;
  }
}