@import '../../@core/variables';

:host {
  z-index: 1;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  background-color: var(--ngm-color-primary-container);
  color: var(--ngm-color-on-primary-container);
  height: $status-bar-height;
  font-size: 12px;
}

.mdc-icon-button {
  width: 16px;
  height: 16px;
  line-height: 16px;
  @apply p-0 flex justify-center items-center rounded-none;

  .mat-icon {
    font-size: 12px;
    height: 12px;
    width: 12px;
    line-height: 12px;
  }

  &:hover:not(.mdc-button-disabled) .mdc-button-focus-overlay {
    opacity: 0.04;
  }
}

:host {
  ::ng-deep {
    .mdc-icon-button {
      .mat-mdc-button-touch-target {
        width: 16px;
        height: 16px;
      }
    }
  }
}
