<mat-toolbar class="flex justify-between items-center">
  <div>{{'PAC.MENU.STATUS_BAR.TITLE' | translate: {Default: 'Status bar'} }}:</div>

  <div class="flex justify-between items-center gap-1">
    <button mat-icon-button *ngIf="hasError" color="warn" [matMenuTriggerFor]="logMenu">
      <mat-icon>error</mat-icon>
    </button>
    
    <button mat-icon-button [matMenuTriggerFor]="statusNotifMenu">
      <mat-icon>notifications_active</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="cacheMenu">
      <mat-icon>layers_clear</mat-icon>
    </button>
    
    <button mat-icon-button
      [color]="localAgentStatus().status === AgentStatusEnum.ONLINE ? 'success' : ''"
      [matMenuTriggerFor]="agentMenu"
      [ngSwitch]="localAgentStatus().status">
      <mat-spinner *ngSwitchCase="AgentStatusEnum.LOADING" strokeWidth="3" color="primary" diameter="30" style="transform: scale(.35);transform-origin: 5px 5px;"></mat-spinner>
      <mat-icon *ngSwitchDefault >assistant_direction</mat-icon>
    </button>

    <button mat-icon-button
      [color]="wasmAgentStatus()?.status === AgentStatusEnum.OFFLINE ? '' : 'success'"
      [matMenuTriggerFor]="wasmMenu"
      [ngSwitch]="wasmAgentStatus()?.status">
      <div class="flex justify-center items-center">
        <mat-progress-spinner *ngSwitchCase="AgentStatusEnum.Initializing"
          strokeWidth="3" color="primary" diameter="30" style="transform: scale(.5);transform-origin: 18px 12px"
          [value]="wasmAgentStatus()?.payload">
        </mat-progress-spinner>
      </div>
      <mat-spinner *ngSwitchCase="AgentStatusEnum.LOADING" strokeWidth="3" color="primary" diameter="30" style="transform: scale(.35);transform-origin: 5px 5px;"></mat-spinner>
      <mat-icon *ngSwitchDefault style="transform: scale(1.3);">memory</mat-icon>
    </button>
    
  </div>
</mat-toolbar>


<mat-menu #statusNotifMenu="matMenu" class="ngm-menu-card">
  <div class="px-4 flex flex-col justify-start items-stretch overflow-hidden">
    <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">
      {{'PAC.MENU.STATUS_BAR.NOTIFICATION' | translate: {Default: 'Notification'} }}
    </h5>

    <div class="overflow-auto">

    </div>

    <div class="flex justify-start">
      <div ngmButtonGroup displayDensity="compact">
        <button mat-stroked-button displayDensity="compact">{{'PAC.ACTIONS.CLEAR' | translate: {Default: 'Clear'} }}</button>
      </div>
    </div>
  </div>
</mat-menu>

<mat-menu #cacheMenu="matMenu" class="ngm-menu-card">
  <div class="w-80 px-4 flex flex-col justify-start items-stretch overflow-hidden" (click)="$event.stopPropagation()">
    <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">
      {{'PAC.KEY_WORDS.CACHE' | translate: {Default: 'Cache'} }}
    </h5>

    <div class="flex px-4 pt-8">
      <mat-slider class="flex-1" color="accent" [max]="5" [min]="0" [step]="1" showTickMarks discrete 
        [displayWith]="cacheLevelFormatter">
        <input matSliderThumb [(ngModel)]="cacheLevel">
      </mat-slider>
    </div>

    <div class="flex justify-start">
      <div ngmButtonGroup displayDensity="cosy">
        <button mat-stroked-button displayDensity="cosy" (click)="clearCache()">
          {{'PAC.ACTIONS.CLEAR_CACHE' | translate: {Default: 'Clear Cache'} }}
        </button>
      </div>
    </div>
  </div>
  
</mat-menu>

<mat-menu #agentMenu="matMenu" class="ngm-menu-card">
  <div class="pac-status-bar__local-agent h-60" (click)="$event.stopPropagation()">
    <mat-tab-group mat-stretch-tabs class="h-full">
      @if (enableLocalAgent) {
        <mat-tab class="p-4" [label]=" 'PAC.MENU.LOCAL_AGENT' | translate: {Default: 'Local Agent'} ">
          <div>
            {{'PAC.KEY_WORDS.STATUS' | translate: {Default: 'Status'} }}: {{ localStatus()?.icon }} {{localStatus()?.status | translate}}
          </div>

          <div class="flex-1"></div>

          <div class="flex justify-start">
            <div ngmButtonGroup displayDensity="compact">
              <button mat-stroked-button displayDensity="compact" (click)="tryConnectLocalAgent()">
                {{ 'PAC.ACTIONS.Connect' | translate: {Default: 'Connect'} }}
              </button>
        
              <button mat-stroked-button displayDensity="compact" ngmAppearance="dashed">
                {{'PAC.ACTIONS.DOWNLOAD_AGENT' | translate}}
              </button>
            </div>
          </div>
        </mat-tab>
      }
      <mat-tab [label]=" 'PAC.MENU.Authentication' | translate: {Default: 'Authentication'} ">
        <mat-list role="list">
          @if (enableLocalAgent && localAgent) {
            @for (item of localAgent?.auth | keyvalue | filter: valueIsNotNil; track $index) {
            <mat-list-item role="listitem">
              <span>{{item.value[0]}}</span>
              <button mat-icon-button matListItemMeta displayDensity="compact" ngmAppearance="danger"
                [matTooltip]=" 'PAC.MENU.STATUS_BAR.ClearAuthentication' | translate: {Default: 'Clear Authentication'} "
                (click)="deleteAuth(localAgent, item.key)"><mat-icon>close</mat-icon></button>
            </mat-list-item>
            }
          }

          <mat-list-item role="listitem" *ngFor="let item of serverAgent.auth | keyvalue | filter: valueIsNotNil">
            <span>{{item.value[0]}}</span>
            <button mat-icon-button matListItemMeta displayDensity="compact" ngmAppearance="danger"
              [matTooltip]=" 'PAC.MENU.STATUS_BAR.ClearAuthentication' | translate: {Default: 'Clear Authentication'} "
              (click)="deleteAuth(serverAgent, item.key)"><mat-icon>close</mat-icon></button>
          </mat-list-item>
        </mat-list>
      </mat-tab>
    </mat-tab-group>
  </div>
</mat-menu>

<mat-menu #wasmMenu="matMenu" class="ngm-menu-card">
  <div class="pac-status-bar__local-agent w-60 h-60 px-4 flex flex-col" (click)="$event.stopPropagation()">
    <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">
      {{ 'PAC.MENU.WASM_DB' | translate: {Default: 'WASM Database'} }}
    </h5>

    <div *ngIf="wasmStatus()" class="flex-1 flex flex-col overflow-auto">
      {{'PAC.KEY_WORDS.STATUS' | translate: {Default: 'Status'} }}: {{wasmStatus().icon}} {{wasmStatus().status | translate}}
    </div>
  </div>
</mat-menu>

<mat-menu #logMenu="matMenu" class="ngm-menu-card">
  <div class="w-80 h-80 px-4 flex flex-col" (click)="$event.stopPropagation()">
    <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">
      {{'PAC.MENU.STATUS_BAR.ERROR_LOG' | translate: {Default: 'Error Logs'} }}
    </h5>

    <div class="flex-1 flex flex-col overflow-auto">
      <div *ngFor="let error of errors">
        <p>{{error}}</p>
      </div>
    </div>

    <div>
      <button mat-stroked-button displayDensity="compact" nxAppearance="dashed" (click)="clearErrors()">
        {{'PAC.ACTIONS.CLEAR' | translate: {Default: 'Clear'} }}
      </button>
    </div>
  </div>
</mat-menu>
