<button mat-button color="accent" [matMenuTriggerFor]="projectMenu">
  <span class="flex items-center">
    {{ project().name }}
    <svg width="20" height="20" fill="currentColor" style="margin-left: -2px; flex-shrink: 0;">
      <path d="M9.261 12.697l-2.955-2.93a1.029 1.029 0 010-1.464 1.051 1.051 0 011.478 0L10 10.5l2.216-2.197a1.051 1.051 0 011.478 0 1.03 1.03 0 010 1.465l-2.955 2.929a1.051 1.051 0 01-1.478 0z"></path>
    </svg>
  </span>
</button>

<mat-menu #projectMenu="matMenu" class="ngm-density__compact"
  xPosition="before">
  <pac-inline-search class="mx-2" [formControl]="searchControl" (click)="$event.stopPropagation()"/>
  @for (item of projects(); track item.id) {
    <button mat-menu-item role="menuitemradio"
      [class.active]="project().id === item.id"
      (click)="selectProject(item)">
      {{ item.name }}
    </button>
  }

  <button mat-menu-item (click)="createProject()">
    <mat-icon>add</mat-icon>
    {{ 'PAC.Project.NewProject' | translate: {Default: 'New Project'} }}
  </button>
</mat-menu>