<div class="flex-1 flex items-start overflow-auto lg:flex-row">
  <form class="flex flex-col gap-2 p-4 w-full lg:w-[400px] lg:max-w-[400px]" [formGroup]="formGroup">
    <pac-avatar-editor formControlName="avatar" class="w-24 h-24 self-center m-8" />

    <ngm-input class="flex-1" [label]="'PAC.Copilot.Roles.Name' | translate: {Default: 'Name'}" valueKey="key"
      formControlName="name"
    />

    <div class="flex-1 min-w-full flex flex-col">
      <label class="ngm-input-label shrink-0">{{'PAC.KEY_WORDS.Description' | translate: {Default: 'Description'} }}</label>
      <textarea class="ngm-input-element" matInput formControlName="description"
          cdkTextareaAutosize
          cdkAutosizeMinRows="2"
          cdkAutosizeMaxRows="8"
      ></textarea>
    </div>

    <ngm-select formControlName="type" [label]="'PAC.Xpert.ToolsetType' | translate: {Default: 'Type'}"
      valueKey="key"
      searchable
      [selectOptions]="types()"
    />

    @if (schema(); as fields) {
      <formly-form [form]="optionsForm"
        [options]="formOptions"
        [fields]="fields"
        [model]="optionsModel"
      />
    } @else {
      <list-content-loader />
    }
  </form>

  <ul>
    @for (tool of toolsetTypeTools(); track tool.name) {
      <li>{{tool.description}}</li>
    }
  </ul>
</div>

<div class="flex justify-between items-center p-4">
  <div></div>
  <div ngmButtonGroup>
    <button mat-button (click)="close()">{{'PAC.KEY_WORDS.Cancel' | translate: {Default: 'Cancel'} }}</button>
    <button mat-raised-button color="primary" [disabled]="loading() || ((formGroup.invalid || formGroup.pristine))"
      (click)="saveAll()"
    >{{'PAC.KEY_WORDS.Save' | translate: {Default: 'Save'} }}</button>
  </div>
</div>

@if (loading()) {
  <div class="absolute w-full h-full flex justify-center items-center">
    <mat-progress-spinner mode="indeterminate" diameter="26" strokeWidth="2" />
  </div>
}