:host {
  @apply flex-1 flex flex-col overflow-hidden;
}

.cdk-drop-list.ngm-property-modeling__empty {
  border: 1px dashed var(--ngm-color-outline);
}
.cdk-drop-list.ngm-property-modeling__empty {
    min-height: 50px;
    margin-bottom: 1rem;
  }
  .mat-expansion-panel-body {
    padding: 0 16px;
  }

.mat-expansion-panel {
  background: transparent;
}

.pac-model-calculation__preview-table {
  max-height: 100%;
}

.ngm-accordion.pac-scrollbar {
  overflow-y: auto;
}

.property-modeling-custom-placeholder {
  border: dotted 2px #999;
  min-height: 52px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.pac-model-calculation__formula-pane {
  position: relative;
  content-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.mat-expansion-panel-header {
  .mat-mdc-icon-button {
    opacity: 0.6;
  }
}

.mat-accordion.mat-accordion-multi {
  overflow-y: auto;
}

.ngm-analytical-grid {
  @apply border border-solid;
  border-color: var(--ngm-color-outline-variant);
}

:host ::ng-deep {
  .mdc-data-table__header-cell.mat-mdc-table-sticky {
    background-color: var(--ngm-color-surface);
  }
}