:host {
    @apply flex flex-col relative;
}

.cdk-option-active {
    @apply border-components-card-option-selected-border;
}

.abc {
    @apply border-4 border-transparent relative;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @apply bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500;
    }
}