@use 'sass:map';
@use 'sass:color';
@use '@angular/material' as mat;
@use '../theming' as ocap;

@tailwind base;
@tailwind components;
@tailwind utilities;

// Define a theme.
$primary: mat.define-palette(mat.$blue-grey-palette, 600);
$accent: mat.define-palette(mat.$amber-palette, A700, A400, A200);

$mat-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent
    ),
    density: -1
  )
);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent
    )
  )
);

@include mat.core();

@include mat.all-component-themes($mat-theme);
@include ocap.core-theme($mat-theme);
@include ocap.analytical-grid-theme($mat-theme);
@include ocap.breadcrumb-theme($mat-theme);
@include ocap.controls-theme($mat-theme);
@include ocap.entity-theme($mat-theme);
@include ocap.common-color($mat-theme);
@include ocap.common-density($mat-theme);

$config: mat.get-color-config($mat-theme);
$foreground: map.get($config, foreground);
html {
  font-size: 14px;
  --ngm-color-primary: #{mat.get-color-from-palette($primary)};
  --ngm-color-on-primary-container: #{darken(mat.get-color-from-palette($primary), 30%)};
  --ngm-color-primary-container: #{lighten(mat.get-color-from-palette($primary), 30%)};
  --ngm-color-primary-container-variant: #{color.change(mat.get-color-from-palette($primary), $alpha: 0.1)};
  --ngm-color-secondary: #{mat.get-color-from-palette($accent)};
  --ngm-color-secondary-container: #{lighten(mat.get-color-from-palette($accent), 30%)};
  --ngm-color-outline: #{map.get($foreground, divider)};

  --ngm-app-background-color: white;
  --ngm-color-main-container-background: white;
  --ngm-color-on-surface: #1f1f1f;
  --ngm-color-on-surface-variant: #444746;
  --ngm-divider-color-secondary: theme('colors.neutral.100');
  --ngm-color-surface: white;
  --ngm-color-surface-container-low: theme('colors.neutral.50');
  --ngm-color-surface-container: theme('colors.neutral.100');
  --ngm-color-surface-container-high: #f2f2f2;
  --ngm-color-surface-container-highest: #e5e5e5;
  --ngm-color-outline-variant: theme('colors.neutral.100');
  --ngm-copilot-bg-color: var(--ngm-color-surface-container);
}

html.dark {
  --ngm-color-primary: #{mat.get-color-from-palette($primary)};
  --ngm-color-on-primary-container: #{darken(mat.get-color-from-palette($primary), 30%)};
  --ngm-color-primary-container: #{lighten(mat.get-color-from-palette($primary), 30%)};
  --ngm-color-primary-container-variant: #{color.change(mat.get-color-from-palette($primary), $alpha: 0.1)};
  --ngm-color-secondary: #{mat.get-color-from-palette($accent)};
  --ngm-color-secondary-container: #{lighten(mat.get-color-from-palette($accent), 30%)};
  --ngm-color-outline: #{map.get($foreground, divider)};

  --ngm-app-background-color: #1e1f20;
  --ngm-color-main-container-background: #1e1f20;
  --ngm-color-on-surface: #e3e3e3;
  --ngm-color-on-surface-variant: #444746;
  --ngm-divider-color-secondary: theme('colors.neutral.900');
  --ngm-color-surface: #16181c;
  --ngm-color-surface-container-low: #62626210;
  --ngm-color-surface-container: black;
  --ngm-color-surface-container-high: #24292f;
  --ngm-color-surface-container-highest: #2f353c;
  --ngm-color-outline-variant: theme('colors.neutral.800');
  --ngm-copilot-bg-color: var(--ngm-color-surface-container);

  @include mat.all-component-themes($dark-theme);
  @include ocap.core-theme($dark-theme);
  @include ocap.analytical-grid-theme($dark-theme);
  @include ocap.breadcrumb-theme($dark-theme);
  @include ocap.controls-theme($dark-theme);
  @include ocap.entity-theme($dark-theme);
  @include ocap.common-color($dark-theme);
  @include ocap.common-density($dark-theme);
}

body {
  @apply text-neutral-800 dark:bg-black dark:text-neutral-100;
}
