<div #container class="container relative w-full h-full overflow-auto border border-solid border-neutral-300">
  @for (dimension of dimensionUsages(); track $index) {
    <div #dimensionRef class="dimension absolute p-2 bg-neutral-200 rounded-lg cursor-pointer z-10 w-64 flex flex-col
        dark:bg-neutral-700 dark:text-neutral-100 dark:border-neutral-600 dark:hover:bg-neutral-600 dark:hover:border-neutral-500"
        [ngStyle]="{
            left: layout()[dimension.__id__]?.x + 'px',
            top: layout()[dimension.__id__]?.y + 'px',
            width: layout()[dimension.__id__]?.width + 'px',
            height: layout()[dimension.__id__]?.height + 'px'
        }"
        [attr.data-key]="dimension.__id__"
        cdkDrag
    >
        <span>{{dimension.caption || dimension.name}}</span>

        <div class="flex flex-col overflow-hidden hover:overflow-auto max-h-[200px]">
        @for (hierarchy of dimension.hierarchies; track $index) {
            @if (!hierarchy.name) {
                <div class="flex flex-col">
                @for (level of hierarchy.levels; track level.__id__) {
                    <div class="flex">
                        <ngm-entity-property class="w-full" [property]="level"/>
                    </div>
                }
                </div>
            }
        }

        @for (hierarchy of dimension.hierarchies; track $index) {
            @if (hierarchy.name) {
                <div class="flex">
                    <ngm-entity-property class="w-full" [property]="hierarchy"/>
                </div>
            }
        }
        </div>
    </div>
  }

  @if (cube()) {
    <div #cubeRef class="absolute p-2 bg-neutral-200 rounded-lg cursor-pointer z-10 w-64 flex flex-col
    dark:bg-neutral-700 dark:text-neutral-100 dark:border-neutral-600 dark:hover:bg-neutral-600 dark:hover:border-neutral-500"
        [ngStyle]="{
            left: layout()[cube().__id__]?.x + 'px',
            top: layout()[cube().__id__]?.y + 'px',
            width: layout()[cube().__id__]?.width + 'px',
            height: layout()[cube().__id__]?.height + 'px'
        }"
        >
            <span>{{cube().caption}}</span>
        </div>
    }

  @for (connection of connections(); track connection.id) {
    <svg width="100%" height="100%" class="absolute top-0 left-0 z-0">
        <path
            [attr.d]="edges()[connection.id]"
            fill="none"
            stroke="black"
            stroke-width="2"
        />
    </svg>
  }
</div>