<mat-sidenav-container class="flex-1 h-full">
  <mat-sidenav #sidenav opened [mode]="isMobile() ? 'over' : 'side'" class="w-[400px]"> </mat-sidenav>
  <mat-sidenav-content>
    <f-flow fDraggable (fLoaded)="onLoaded()" (fCreateConnection)="addConnection($event)"
      (fReassignConnection)="reassignConnection($event)"
      (fSelectionChange)="selectionChanged($event)"
      (contextmenu)="onContextMenu($event)"
      [cdkContextMenuTriggerFor]="menu.template"
      (cdkContextMenuClosed)="menu.dispose()">
      <f-background>
        <f-circle-pattern></f-circle-pattern>
      </f-background>
      <f-line-alignment></f-line-alignment>
      <f-selection-area></f-selection-area>

      <f-canvas fZoom>
        <f-connection-for-create></f-connection-for-create>
        <f-snap-connection fType="bezier" [fSnapThreshold]="100"></f-snap-connection>
        @for (connection of connections(); track connection.key) {
          <f-connection fType="bezier" [fReassignDisabled]="false"
            [fOutputId]="connection.from" [fInputId]="connection.to"></f-connection>
        }

        @for (role of roles(); track role.key) {
          <div
            fNode [fNodeId]="role.key"
            fDragHandle
            [fNodeParentId]="role.parentId"
            [fNodePosition]="role.position"
            (fNodePositionChange)="moveXpertRole($event, role)"
            class="w-[240px] group relative pb-1 shadow-xs border border-transparent rounded-[15px] bg-workflow-block-bg hover:shadow-lg"
          >
            @if (team().key !== role.key && team().id !== role.key) {
              <div fNodeInput [fInputId]="role.key" fInputConnectableSide="top" class="top"></div>
            }
            <div fNodeOutput [fOutputId]="role.key" fOutputConnectableSide="bottom" class="bottom" [fOutputMultiple]="true"></div>
            <xpert-studio-role [xpertRole]="role" class=""/>
          </div>
        }

        @for (knowledge of knowledges(); track knowledge.key) {
          <div
            fNode [fNodeId]="knowledge.key"
            fDragHandle
            [fNodePosition]="knowledge.position"
            class="w-[240px] group relative pb-1 shadow-xs border border-transparent rounded-[15px] bg-workflow-block-bg hover:shadow-lg"
          >
            <div fNodeInput [fInputId]="knowledge.key" fInputConnectableSide="top" class="top"></div>
            <xpert-studio-node-knowledge [knowledge]="knowledge" class=""/>
          </div>
        }
      </f-canvas>

      <f-selection-area></f-selection-area>
      <f-minimap></f-minimap>
    </f-flow>

    <xpert-studio-toolbar class="flex items-center mt-1 gap-2 absolute left-4 bottom-4 z-[9]" />

    <xpert-studio-header class="absolute top-0 left-0 z-10 flex items-center justify-between w-full px-3 h-14" />

    <xpert-studio-panel class="absolute top-14 right-0 bottom-2 flex z-10 outline-none" />
  </mat-sidenav-content>
</mat-sidenav-container>

<xpert-studio-context-menu #menu="menuComponent" />
