@use '../flow-common';

:host {
  --mat-sidenav-container-width: 20rem;
  @apply w-full w-full;
}

:host::ng-deep {
  @include flow-common.connection;
  @include flow-common.background;
  @include flow-common.line-alignment;
  @include flow-common.minimap;
  .f-connection {
    &.f-selected {
      .f-connection-path {
        stroke: var(--node-selected-border-color);
      }
    }
  }
  .f-node-input,
  .f-node-output {
    &:not(.f-node) {
      @include flow-common.connectors;
    }
    &.f-node-input-connected,
    &.f-node-output-connected {
      background-color: var(--minimap-view-color);
    }
    &.f-node-output-not-connectable,
    &.f-node-input-not-connectable {
      background-color: var(--disabled-color);
    }
  }

  .f-node.f-component {
    .f-component.f-node-output {
      svg {
        visibility: hidden;
      }
    }
    &:hover {
      .f-component.f-node-output {
        @apply w-3 h-3 rounded-full border border-primary-400;
        svg {
          visibility: visible;
        }
        &:hover {
          @apply transition-all origin-center scale-150;
        }
      }
    }
  }
}

.f-node.f-component, .f-group.f-component {
  .node-toolbar {
    @apply invisible;
  }
  &:hover, &.f-selected {
    .node-toolbar {
      @apply visible;
    }
  }
}

f-flow {
  height: 100%;
}
.f-node {
  @include flow-common.node;
  @apply border-[2px] rounded-2xl border-transparent hover:border-primary-100;
  &.f-selected {
    @apply border-components-card-option-selected-border;
  }
}
.f-node {
  cursor: default;
}
.f-node.f-component {
  &.running {
    @apply animate-twinkling-slow;
  }
  &.succeeded {
    @apply border-green-500 dark:border-green-800;
  }
  &.failed {
    @apply border-red-500 dark:border-red-800;
  }
}

.f-selection-area {
  background-color: var(--selection-area-color);
}

.f-group {
  display: block;
  background-color: var(--team-group-bg);
  padding: 15px;
  @apply border border-solid border-transparent;

  .group-title {
    font-size: 16px;
    position: absolute;
    top: 5px;
    left: 5px;
  }

  &.f-selected {
    @apply border border-solid border-primary-500;

    .f-resize-handle {
      display: block;
    }
  }
}

.f-resize-handle {
  --resize-handle-size: 16px;
  --resize-handle-offset: -8px;
  display: none;
  position: absolute;
  width: var(--resize-handle-size);
  height: var(--resize-handle-size);
  border-radius: 1px;
  @apply border border-solid border-primary-500 bg-components-card-bg;

  &.f-resize-handle-left-top {
    top: var(--resize-handle-offset);
    left: var(--resize-handle-offset);
    cursor: nwse-resize;
  }

  &.f-resize-handle-right-top {
    top: var(--resize-handle-offset);
    right: var(--resize-handle-offset);
    cursor: nesw-resize;
  }

  &.f-resize-handle-left-bottom {
    bottom: var(--resize-handle-offset);
    left: var(--resize-handle-offset);
    cursor: nesw-resize;
  }

  &.f-resize-handle-right-bottom {
    bottom: var(--resize-handle-offset);
    right: var(--resize-handle-offset);
    cursor: nwse-resize;
  }
}
