<mat-sidenav-container class="flex-1 h-full">
  <mat-sidenav #sidenav opened [mode]="isMobile() ? 'over' : 'side'" class="w-[340px] p-4">
    <copilot-model-select class="w-full" [modelType]="eModelType.LLM" [(copilotModel)]="copilotModel" 
      (copilotModelChange)="updateCopilotModel($event)"  />
  </mat-sidenav>
  <mat-sidenav-content>
    <f-flow fDraggable (fLoaded)="onLoaded()" (fCreateConnection)="addConnection($event)"
      (fReassignConnection)="reassignConnection($event)"
      (fSelectionChange)="selectionChanged($event)"
      (contextmenu)="onContextMenu($event)"
      [cdkContextMenuTriggerFor]="menu.template"
      (cdkContextMenuClosed)="menu.dispose()">
      <f-background>
        <f-circle-pattern></f-circle-pattern>
      </f-background>
      <f-line-alignment></f-line-alignment>
      <f-selection-area></f-selection-area>

      <f-canvas fZoom [fZoomStep]="0.02" [fZoomDblClickStep]="0.1" [scale]="scale()" [position]="position()"
        (fCanvasChange)="onCanvasChange($event)">
        <f-connection-for-create></f-connection-for-create>
        <f-snap-connection fType="bezier" [fSnapThreshold]="100"></f-snap-connection>
        @for (connection of connections(); track connection.key) {
          <f-connection [fType]="connection.type==='agent' || connection.type==='xpert' ? EFConnectionType.BEZIER : EFConnectionType.STRAIGHT"
            [fReassignDisabled]="false"
            [fOutputId]="connection.from + '/' + connection.type"
            [fInputId]="connection.to">
          </f-connection>
        }

        @for (node of nodes(); track node.key + node.hash) {
            <div class="w-[240px] group relative pb-1 shadow-sm border border-transparent rounded-[15px] bg-workflow-block-bg hover:shadow-lg"
              [ngClass]="agentExecutions()[node.key]?.status||''"
              fNode [fNodeId]="node.key"
              [fNodeParentId]="node.parentId"
              fDragHandle
              [fNodePosition]="node.position"
              [fNodeSize]="node.size"
              (fNodePositionChange)="moveNode($event, node.key)"
              (fNodeSizeChange)="onSizeChange($event, node)"
              (mousedown)="onMouseDown($event)"
              (click)="onSelectNode($event, node)"

              [floatUi]="executionPopper"
              [disabled]="!agentExecutions()[node.key]"
              [showTrigger]="eNgxFloatUiTriggers.hover"
              hideOnClickOutside
              [hideOnScroll]="true"
              [placement]="eNgxFloatUiPlacements.TOPSTART"
            >
              @switch (node.type) {
                @case('agent') {
                  <xpert-studio-node-agent [node]="node" [isRoot]="rootAgent().key === node.key || node.parentId && !!node.entity.xpertId" class=""/>
                }
                @case('knowledge') {
                  <xpert-studio-node-knowledge [node]="node" class=""/>
                }
                @case('toolset') {
                  <xpert-studio-node-toolset [node]="node" class=""/>
                }
              }

              @if (!node.parentId && rootAgent().key !== node.key) {
                <div class="node-toolbar absolute right-0 -top-8 flex items-center gap-1 p-0.5 rounded-lg border-[0.5px] shadow-xs
                  bg-white border-gray-100  text-gray-500">
                  <div class="flex items-center justify-center w-6 h-6 p-0.5 rounded-md cursor-pointer
                    hover:bg-red-500/10 hover:text-red-500"
                    (click)="removeNode(node.key)">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z"></path></svg>
                  </div>
                </div>
              }

              @if (agentExecutions()[node.key]?.status === eXpertAgentExecutionEnum.RUNNING) {
                <svg class="animate-spin absolute right-2 top-2 h-5 w-5 text-blue-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                  <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
              }

              <float-ui-content #executionPopper>
                <xpert-agent-execution [execution]="agentExecutions()[node.key]" />
              </float-ui-content>
            </div>
        }

        @for (group of xperts(); track group.key) {
          <div class="group" fGroup [fGroupId]="group.key" [fGroupParentId]="group.parentId" [fGroupPosition]="group.position"
            [fGroupSize]="group.size" fDragHandle
            (fGroupPositionChange)="moveXpertGroup($event, group.key)"
            (fGroupSizeChange)="resizeXpertGroup($event, group.key)"
          >
            <div class="group-title">{{ group.entity.title }}</div>
            <div fResizeHandle [fResizeHandleType]="eResizeHandleType.LEFT_TOP"></div>
            <div fResizeHandle [fResizeHandleType]="eResizeHandleType.RIGHT_TOP"></div>
            <div fResizeHandle [fResizeHandleType]="eResizeHandleType.LEFT_BOTTOM"></div>
            <div fResizeHandle [fResizeHandleType]="eResizeHandleType.RIGHT_BOTTOM"></div>

            <div fNodeInput [fInputId]="group.key" fInputConnectableSide="top" class="top"></div>

            <div class="node-toolbar absolute right-1 top-1 flex items-center gap-1 p-0.5 rounded-lg border-[0.5px]
              bg-white border-gray-100 shadow-xs text-gray-500">
              <div class="flex items-center justify-center w-6 h-6 p-0.5 rounded-md cursor-pointer
                hover:bg-black/5"
                (click)="expandXpertTeam(group)">
                @if (group.expanded) {
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M11.9995 13.4995 16.9493 18.4493 15.535 19.8635 12.9995 17.3279 12.9995 22.9995H10.9995L10.9995 17.3279 8.46646 19.861 7.05225 18.4468 11.9995 13.4995ZM10.9995.999512 10.9995 6.67035 8.46451 4.13535 7.05029 5.54956 12 10.4995 16.9497 5.54977 15.5355 4.13555 12.9995 6.67157V.999512L10.9995.999512Z"></path></svg>
                } @else {
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M11.9995 0.499512L16.9493 5.44926L15.535 6.86347L12.9995 4.32794V9.99951H10.9995L10.9995 4.32794L8.46646 6.86099L7.05225 5.44678L11.9995 0.499512ZM10.9995 13.9995L10.9995 19.6704L8.46451 17.1353L7.05029 18.5496L12 23.4995L16.9497 18.5498L15.5355 17.1356L12.9995 19.6716V13.9995H10.9995Z"></path></svg>
                }
              </div>
              
              <div class="flex items-center justify-center w-6 h-6 p-0.5 rounded-md cursor-pointer
                hover:bg-red-500/10 hover:text-red-500"
                (click)="removeNode(group.key)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z"></path></svg>
              </div>
            </div>
          </div>
        }
      </f-canvas>

      <f-selection-area></f-selection-area>
      <f-minimap></f-minimap>
    </f-flow>

    <xpert-studio-toolbar class="flex items-center mt-1 gap-2 absolute left-4 bottom-4 z-[9]" />

    <xpert-studio-header class="absolute top-0 left-0 z-10 flex items-center justify-between w-full px-3 h-14"
      [(preview)]="preview" />

    <xpert-studio-panel class="absolute top-14 right-0 bottom-2 flex z-10 outline-none"
      [(visible)]="panelVisible"
      [(preview)]="preview" />
  </mat-sidenav-content>
</mat-sidenav-container>

<xpert-studio-context-menu #menu="menuComponent" />
