# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/documentation
packages/**/docs/
packages/angular/.storybook/documentation.json
packages/angular/.storybook/index.css

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
ormlogs.log

# System Files
.DS_Store
Thumbs.db

/apps/**/.cache
/apps/**/node_modules
/libs/**/.cache
/libs/**/node_modules
/packages/**/.cache
/packages/**/dist
/packages/**/node_modules
/.deploy/clickhouse/log

# sqlite3 database
*.sqlite3
*.sqlite3-journal

/ormlogs.log

# Generated Docusaurus files
.docusaurus/
.cache-loader/
.cache/
**/.data/
.angular/
.workflow/

.angular
.deploy/k8s/secret.prod.yaml
/apps/api/public
/apps/cloud/src/assets/data
.env
/packages/**/.env
.nx/cache