<div class="node" [ngClass]="[selected(), node.name] | kebab">
    <div class="title">
        <rete-socket rete-socket [io]="inputs[0]" [socket]="inputs[0].socket"></rete-socket>
        {{node.data?.title}}</div>

    <div class="field" *ngFor="let output of outputs; index as i">
        <div>
            <rete-socket class="input-socket" rete-socket [io]="inputs[i+1]" [socket]="inputs[i+1].socket" ></rete-socket>
            <div class="input-title">{{inputs[i+1].name}}</div>
        </div>

        <rete-socket rete-socket *ngIf="output" [io]="output" [socket]="output.socket"></rete-socket>
    </div>

</div>