@use 'sass:map';
@use 'sass:color';
@use '@angular/material' as mat;
@use './dimension/dimension-theme' as dimension;


@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);

  @include dimension.color($config-or-theme);
  
  .pac-model-entity__cube {
    .mat-expansion-panel-header-title,
    .mat-expansion-panel-header-description {
      margin-right: unset;
      white-space: nowrap;
    }

    .mat-expansion-panel-header-description {
      justify-content: flex-end;
    }

    .mat-mdc-list-base .mat-mdc-list-item.mat-mdc-list-item-with-avatar,
    .mat-mdc-list-base .mat-mdc-list-option.mat-mdc-list-item-with-avatar {
      height: 36px;
      font-size: 1rem;
    }

    .mat-mdc-list-text {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

@mixin density($config-or-theme) {
  @include dimension.density($config-or-theme);
}
