<mat-toolbar class="pac-nav-toolbar flex " displayDensity="compact" *ngrxLet="route$ as current">
    <button mat-icon-button displayDensity="cosy" (click)="drawer.toggle()">
        <mat-icon fontSet="material-icons-round">segment</mat-icon>
    </button>
    
    <span *ngIf="cube$ | async as cube">
        {{ cube.caption || cube.name}}
    </span>

    <button mat-icon-button displayDensity="compact" (click)="openCubeDesigner()">
        <mat-icon fontSet="material-icons-outlined">settings</mat-icon>
    </button>

    <span class="flex-1 flex"></span>

    <div class="flex justify-start items-center">
        <button mat-button [routerLink]="['./structure']" routerLinkActive #rlaStructure="routerLinkActive"
            [routerLinkActiveOptions]="{exact: true}"
            [color]="rlaStructure.isActive?'accent':''"
        >
            {{ 'PAC.MENU.STRUCTURE' | translate: {Default: "Structure"} }}
        </button>
        <button mat-button [routerLink]="['./calculation']" routerLinkActive #rlaCalculation="routerLinkActive"
            [color]="rlaCalculation.isActive?'accent':''"
        >
            {{ 'PAC.MENU.CALCULATION' | translate: {Default: "Calculation"} }}
        </button>
        <button mat-button [routerLink]="['./query']" routerLinkActive #rlaQuery="routerLinkActive"
            [routerLinkActiveOptions]="{exact: true}"
            [color]="rlaQuery.isActive?'accent':''"
        >
            {{ 'PAC.MENU.QL_LAB' | translate: {Default: "QL Lab"} }}
        </button>
        <!-- 暂时未完成成员同步
        <button mat-button [color]="current==='members'?'accent':''" (click)="openSub('members')">
            {{ 'PAC.MENU.MEMBERS' | translate: {Default: "Members"} }}
        </button> -->
    </div>
    <button mat-button [color]="detailsOpen?'accent':''" (click)="designerDrawer.toggle()">
        <div class="flex justify-center items-center">
            <mat-icon fontSet="material-icons-outlined">edit_attributes</mat-icon>
            <span *ngIf="(isMobile$ | async)==false">{{ 'PAC.MENU.Attributes' | translate: {Default: "Attributes"} }}</span>
        </div>
    </button>
</mat-toolbar>

<mat-drawer-container class="flex-1" autosize [hasBackdrop]="false">
    <mat-drawer #designerDrawer class="ngm-story__designer-drawer mat-elevation-z"
        position="end"
        ngmResizer [resizerWidth]="380"
        [mode]="(isMobile$ | async) ? 'over' : 'side'"
        [opened]="detailsOpen"
        (openedChange)="onDesignerDrawerChange($event)"
    >
        <ngm-settings-panel class="pac-model__settings-container m-2 rounded-lg shadow-lg overflow-hidden"
            liveMode
            (opened)="detailsOpen=true"
        >
        </ngm-settings-panel>
        <div ngmResizerBar resizerBarPosition="left" style="z-index: 1;"
            cdkDrag
            cdkDragLockAxis="x"
        ></div>
    </mat-drawer>
    <mat-drawer-content class="flex">
        <mat-drawer-container class="flex-1 h-full" autosize>
            <mat-drawer #drawer mode="side" opened ngmResizer [resizerWidth]="230">
                <pac-model-cube-structure class="pac-model-entity__cube flex-1 h-full"
                    [modelType]="modelType$ | async"
                    [editable]="true"
                    (selectedChange)="propertySelectedChange($event)"
                    (editChange)="onPropertyEdit($event)"
                ></pac-model-cube-structure>

                <div ngmResizerBar resizerBarPosition="right" cdkDrag></div>
            </mat-drawer>
            <mat-drawer-content>
                <div class="pac-model-entity__workspace flex-1 h-full">
                    <div class="pac-model-entity__workspace-router flex-1">
                        <router-outlet #o="outlet"></router-outlet>
                    </div>
                </div>
            </mat-drawer-content>
        </mat-drawer-container>
    </mat-drawer-content>
</mat-drawer-container>
