:host {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  &.pac-fullscreen {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
  }
}

.pac-model-entity__workspace {
  display: flex;
  flex-direction: column;
}
.pac-model-entity__workspace-router {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.ngm-property-modeling {
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
}

.pac-model-entity__search {
  margin: 5px 0;
}

// .pac-model__settings-container {
//   width: 300px;
// }