<mat-toolbar class="pac-nav-toolbar pac-model__shell-bar flex items-center" displayDensity="compact">
    <div class="flex items-center px-4">
      @if (cube()) {
        <a class="cursor-pointer" (click)="openCubeDesigner()"><span>{{ cube().caption || cube().name}}</span></a>
      }
    </div>

    <span class="flex-1 flex"></span>
    
    <nav mat-tab-nav-bar [tabPanel]="tabPanel" color="accent" disableRipple mat-stretch-tabs="false" mat-align-tabs="start">
        <span mat-tab-link [routerLink]="['./structure']" routerLinkActive #rlaStructure="routerLinkActive"
            [routerLinkActiveOptions]="{exact: true}"
            [active]="rlaStructure.isActive"
            >{{ 'PAC.MENU.STRUCTURE' | translate: {Default: "Structure"} }}</span>
        <span mat-tab-link [routerLink]="['./preview']" routerLinkActive #rlaPreview="routerLinkActive"
            [routerLinkActiveOptions]="{exact: true}"
            [active]="rlaPreview.isActive"
            >{{ 'PAC.MENU.Preview' | translate: {Default: "Preview"} }}</span>
        <span mat-tab-link [routerLink]="['./query']" routerLinkActive #rlaQuery="routerLinkActive"
            [routerLinkActiveOptions]="{exact: true}"
            [active]="rlaQuery.isActive"
            >{{ 'PAC.MENU.QL_LAB' | translate: {Default: "QL Lab"} }}</span>
        
        <span mat-tab-link [matTooltip]="'PAC.ACTIONS.OpenAttributesPanel' | translate: {Default: 'Open attributes panel'}"
            matTooltipPosition="above"
            [active]="detailsOpen"
            (click)="designerDrawer.toggle()"
        >
            <mat-icon fontSet="material-icons-outlined" [color]="detailsOpen?'accent':''">edit_attributes</mat-icon>
            @if (!isMobile()) {
              <span>{{ 'PAC.MENU.Attributes' | translate: {Default: "Attributes"} }}</span>
            }
        </span>
    </nav>
</mat-toolbar>

<mat-drawer-container class="flex-1" autosize [hasBackdrop]="false">
    <mat-drawer #designerDrawer class="ngm-story__designer-drawer mat-elevation-z"
        position="end"
        ngmResizer [resizerWidth]="380"
        [mode]="isMobile() ? 'over' : 'side'"
        [opened]="detailsOpen"
        (openedChange)="onDesignerDrawerChange($event)"
    >
        <ngm-settings-panel class="pac-model__settings-container" displayDensity="compact"
            liveMode
            (opened)="detailsOpen=true"
        >
        </ngm-settings-panel>
        <div ngmResizerBar resizerBarPosition="left" style="z-index: 1;"
            cdkDrag
            cdkDragLockAxis="x"
        ></div>
    </mat-drawer>
    <mat-drawer-content class="flex">
        <mat-drawer-container class="flex-1 h-full" autosize>
            <mat-drawer #drawer mode="side" [(opened)]="drawerOpened" ngmResizer [resizerWidth]="230">
                <pac-model-cube-structure class="pac-model-entity__cube flex-1 h-full"
                    [modelType]="modelType$ | async"
                    [editable]="true"
                    (selectedChange)="propertySelectedChange($event)"
                    (editChange)="onPropertyEdit($event)"
                ></pac-model-cube-structure>

                <div ngmResizerBar resizerBarPosition="right" cdkDrag></div>
            </mat-drawer>
            <mat-drawer-content>
                <div class="pac-model-entity__workspace flex-1 h-full">
                    <mat-tab-nav-panel #tabPanel class="pac-model-entity__workspace-router ngm-layout-container-secondary flex-1"
                        [@routeAnimations]="o.isActivated && o.activatedRouteData?.title">
                        <router-outlet #o="outlet"></router-outlet>
                    </mat-tab-nav-panel>
                </div>

                <ngm-drawer-trigger class="absolute -left-2 top-1/2 z-40" [(opened)]="drawerOpened" ></ngm-drawer-trigger>
            </mat-drawer-content>
        </mat-drawer-container>
    </mat-drawer-content>
</mat-drawer-container>

<div *ngIf="!cube()" class="pac-result absolute top-0 left-0 w-full h-full z-10 flex flex-col justify-center items-center bg-white/10 backdrop-blur-md">
    <span class="bug font-notoColorEmoji">🐞</span>
    <span class="description">{{ 'PAC.MODEL.ENTITY.CubeNotFound' | translate: {Default: 'Cube not found!'} }}</span>
</div>
