<mat-stepper #stepper>
    <mat-step [stepControl]="basic" [label]=" 'PAC.ORGANIZATIONS_PAGE.Organization.BasicInfo' | translate: {Default: 'Basic Info'} ">
        <form [formGroup]="basic" class="flex flex-wrap gap-2">
            <mat-form-field appearance="fill">
                <mat-label>{{ 'PAC.KEY_WORDS.NAME' | translate: {Default: 'Name'} }}</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>{{ 'PAC.KEY_WORDS.CURRENCY' | translate: {Default: 'Currency'} }}</mat-label>
                <input matInput formControlName="currency">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>{{ 'PAC.ORGANIZATIONS_PAGE.Organization.DefaultValueDateType' | translate: {Default: 'Default Value Date Type'} }}</mat-label>
                <input matInput formControlName="defaultValueDateType">
            </mat-form-field>
        </form>
    </mat-step>

    <mat-step [stepControl]="orgSettingsForm" [label]=" 'PAC.ORGANIZATIONS_PAGE.Organization.OtherInfo' | translate: {Default: 'Other Info'} ">
        <form [formGroup]="orgSettingsForm" class="flex flex-wrap gap-2">
            <mat-checkbox formControlName="invitesAllowed">
                {{ 'PAC.ORGANIZATIONS_PAGE.Organization.InvitesAllowed' | translate: {Default: 'Invites Allowed'} }}
            </mat-checkbox>

            <mat-form-field appearance="fill">
                <mat-label>
                    {{ 'PAC.ORGANIZATIONS_PAGE.Organization.InviteExpiryPeriod' | translate: {Default: 'Invite Expiry Period (in Days)'} }}
                </mat-label>
                <input matInput formControlName="inviteExpiryPeriod" type="number">
            </mat-form-field>
        </form>
    </mat-step>
</mat-stepper>
