<mat-drawer-container class="pac-story-viewer__drawer-container w-full h-full" [hasBackdrop]="isMobile()" [autosize]="true">
    <mat-drawer #drawer class="pac-story-viewer__drawer"
        [mode]="isMobile() ? 'over' : 'side'" [(opened)]="sideMenuOpened">
        <div class="pac-story-bar p-2 flex flex-col justify-start items-center gap-2 z-20">
            <button mat-icon-button displayDensity="cosy" matTooltip="{{ 'PAC.Story.GlobalFilterBar' | translate: {Default: 'Global Filter Bar'} }}"
                matTooltipPosition="right"
                (click)="toggleGlobalFilterBar()">
                <mat-icon fontSet="material-icons-outlined">filter_alt</mat-icon>
            </button>

            <ng-container *ngIf="story?.access === AccessEnum.Write">
                <mat-icon *ngIf="story?.status === StoryStatusEnum.RELEASED" displayDensity="cosy" fontSet="material-icons-outlined"
                    matTooltip="{{ 'PAC.Story.Released' | translate: {Default: 'Released'} }}" matTooltipPosition="right"
                >
                    work_outline
                </mat-icon>
                <mat-icon *ngIf="story?.status === StoryStatusEnum.DRAFT" displayDensity="cosy" fontSet="material-icons-outlined"
                    matTooltip="{{ 'PAC.Story.Draft' | translate: {Default: 'Draft'} }}" matTooltipPosition="right"
                >
                    drafts
                </mat-icon>
                <button mat-icon-button displayDensity="cosy" matTooltip="{{ 'PAC.Story.EditStory' | translate: {Default: 'Edit Story'} }}" matTooltipPosition="right"
                    (click)="edit()">
                    <mat-icon fontSet="material-icons-outlined">edit</mat-icon>
                </button>
                <!-- <button mat-icon-button displayDensity="cosy" matTooltip="{{ 'PAC.Story.DuplicateStory' | translate: {Default: 'Duplicate Story'} }}" matTooltipPosition="right"
                    (click)="copy()">
                    <mat-icon fontSet="material-icons-outlined">copy</mat-icon>
                </button> -->
                <button mat-icon-button displayDensity="cosy" matTooltip="{{ 'PAC.Story.DownloadStory' | translate: {Default: 'Download Story'} }}" matTooltipPosition="right"
                    (click)="onStoryDownload()">
                    <mat-icon fontSet="material-icons-outlined">file_download</mat-icon>
                </button>
            </ng-container>

            <button mat-icon-button displayDensity="cosy" matTooltip="{{ 'PAC.Story.AutoRefresh' | translate: {Default: 'Auto Refresh'} }}" matTooltipPosition="right"
                [matMenuTriggerFor]="timerMenu">
                <mat-icon fontSet="material-icons-outlined">update</mat-icon>
            </button>

            <mat-divider class="w-full"></mat-divider>

            <button mat-icon-button displayDensity="cosy" (click)="toggleBookmark(story.bookmark)">
                <mat-icon *ngIf="story?.bookmark" fontSet="material-icons-outlined"
                    matTooltip="{{ 'PAC.Story.RemoveBookmark' | translate: {Default: 'Remove Bookmark'} }}" matTooltipPosition="right">bookmark</mat-icon>
                <mat-icon *ngIf="!story?.bookmark" fontSet="material-icons-outlined"
                    matTooltip="{{ 'PAC.Story.Bookmark' | translate: {Default: 'Bookmark'} }}" matTooltipPosition="right">bookmark_add</mat-icon>
            </button>
            <button mat-icon-button displayDensity="cosy" (click)="openShares(story)">
                <mat-icon fontSet="material-icons-outlined">share</mat-icon>
            </button>

            <button mat-icon-button displayDensity="cosy" (click)="toggleFullscreen()">
                <mat-icon *ngIf="!fullscreen" fontSet="material-icons-outlined"
                    matTooltip="{{ 'PAC.Story.Fullscreen' | translate: {Default: 'Fullscreen'} }}" matTooltipPosition="right">fullscreen</mat-icon>
                <mat-icon *ngIf="fullscreen" fontSet="material-icons-outlined"
                    matTooltip="{{ 'PAC.Story.ExitFullscreen' | translate: {Default: 'Exit Fullscreen'} }}" matTooltipPosition="right">fullscreen_exit</mat-icon>
            </button>

            <button mat-icon-button displayDensity="cosy"
                [color]="(isPanMode$ | async)?'accent':''"
                [matTooltip]="'Story.Toolbar.PanMode' | translate: {Default: 'Pan mode (Space)'}"
                matTooltipPosition="after"
                (click)="togglePanTool()">
                <mat-icon fontSet="material-icons-outlined">pan_tool</mat-icon>
            </button>

            <button mat-icon-button displayDensity="cosy"
                [matTooltip]="'Story.Toolbar.ZoomIn' | translate: {Default: 'Zoom In (+)'}"
                matTooltipPosition="after"
                (click)="zoomIn()">
                <mat-icon fontSet="material-icons-outlined">zoom_in</mat-icon>
            </button>
            <button mat-icon-button displayDensity="cosy"
                [cdkMenuTriggerFor]="scaleMenu"
                [cdkMenuPosition]="[{
                    originX: 'end',
                    originY: 'center',
                    overlayX: 'start',
                    overlayY: 'center'
                }]"
                [matTooltip]="scale() ?? ('Story.Toolbar.Scale' | translate: {Default: 'Scale'})"
                matTooltipPosition="after"
            >
                <span class="text-xs">
                    {{ scale() }}%
                </span>
            </button>
            <button mat-icon-button displayDensity="cosy"
                [matTooltip]="'Story.Toolbar.ZoomOut' | translate: {Default: 'Zoom Out (-)'}"
                matTooltipPosition="after"
                (click)="zoomOut()">
                <mat-icon fontSet="material-icons-outlined">zoom_out</mat-icon>
            </button>
        </div>
    </mat-drawer>

    <mat-drawer-content [ngStyle]="{'z-index': isMobile() ? 0 : 10}">
        <ngm-story #storyComponent class="w-full h-full overflow-auto"
            [story]="story"
            [pageKey]="pageKey()"
            [widgetKey]="widgetKey()"
            [watermark]="watermark$ | async"
            [dark]="isDark$ | async"
            [(filterBarOpened)]="globalFilterBarOpened"
            >
        </ngm-story>
        <ngm-drawer-trigger class="absolute -left-2 top-1/2 -translate-y-1/2 z-40" [(opened)]="sideMenuOpened" ></ngm-drawer-trigger>
    </mat-drawer-content>
</mat-drawer-container>


<div *ngIf="error" class="pac-result w-full">
    <div class="bug font-notoColorEmoji">🐞</div>
    <div class="description">
        {{error}}
    </div>
</div>

<ngm-story-explorer *ngIf="showExplorer()" class="absolute top-0 left-0 w-full h-full z-20"
    cdkDropListGroup
    [data]="explore()"
    (closed)="closeExplorer($event)"
></ngm-story-explorer>

<mat-menu #timerMenu="matMenu" class="ngm-density__compact mat-color-accent">
    <button mat-menu-item [matMenuTriggerFor]="dataMenu">
        <mat-icon fontSet="material-icons-round" class="shrink-0">autorenew</mat-icon>{{ 'Story.Toolbar.Data' | translate: {Default: 'Data'} }}
    </button>
    <button *ngIf="multiplePages" mat-menu-item [matMenuTriggerFor]="pagesMenu">
        <mat-icon fontSet="material-icons-outlined" class="shrink-0">auto_stories</mat-icon>{{ 'Story.Toolbar.Pages' | translate: {Default: 'Pages'} }}
    </button>
</mat-menu>

<mat-menu #pagesMenu="matMenu" class="ngm-density__compact mat-color-accent">
    <div class="text-xs uppercase px-4 py-2">
        {{ 'Story.Toolbar.AutoPaging' | translate: {Default: 'Auto Paging'} }}
    </div>
    <button mat-menu-item (click)="timerPageDown(null)">
        <mat-icon *ngIf="!pageTimer" class="ngm-density__compact">done</mat-icon> {{ 'PAC.KEY_WORDS.Off' | translate: {Default: 'Off'} }}
    </button>
    <button mat-menu-item *ngFor="let t of Schedulers" (click)="timerPageDown(t)">
        <mat-icon *ngIf="pageTimer===t" class="ngm-density__compact">done</mat-icon>{{t}} {{ 'PAC.KEY_WORDS.Minute' | translate: {Default: 'Minutes'} }}
    </button>
</mat-menu>
<mat-menu #dataMenu="matMenu" class="ngm-density__compact mat-color-accent">
    <div class="text-xs uppercase px-4 py-2">
        {{ 'PAC.KEY_WORDS.AutoRefresh' | translate: {Default: 'Auto Refresh'} }}
    </div>
    <button mat-menu-item (click)="timerUpdate(null)">
        <mat-icon *ngIf="!dataTimer" class="ngm-density__compact">done</mat-icon> {{ 'PAC.KEY_WORDS.Off' | translate: {Default: 'Off'} }}
    </button>
    <button mat-menu-item *ngFor="let t of Schedulers" (click)="timerUpdate(t)">
        <mat-icon *ngIf="dataTimer===t" class="ngm-density__compact">done</mat-icon>{{t}} {{ 'PAC.KEY_WORDS.Minute' | translate: {Default: 'Minutes'} }}
    </button>
</mat-menu>

<ng-template #scaleMenu>
    <div cdkMenu displayDensity="cosy">
        <button cdkMenuItem (click)="resetScalePan()">
            <mat-icon>center_focus_strong</mat-icon>
            <span class="flex-1">
                {{ 'Story.Toolbar.Scale_Unset' | translate: {Default: 'Unset'} }}
            </span>

            <span class="text-sm font-bold ml-4">
                Alt + Esc
            </span>
        </button>
        <button cdkMenuItem *ngFor="let item of StoryScales" class="pac-story-bar__scale-item group"
            [class.active]="scale() === item.value"
            (click)="setScale(item.value)">
            <span class="pac-story-bar__scale-point inline-flex items-center justify-center w-2 h-2 ml-2 mr-4 text-xs font-semibold bg-gray-200 rounded-full group-hover:bg-yellow-500">
            </span>
            
            <span>{{item.name}}</span>
        </button>
    </div>
</ng-template>