.mat-selection-list {
  max-height: 100%;
  overflow-y: auto;
}
.ngm-cdk__drag-list {
  &.cdk-drop-list-dragging .cdk-drag:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}