<mat-card class="w-full">
  <mat-card-header>
    <div class="flex items-center">
      <mat-icon class="mr-1" fontSet="material-icons-outlined" nxDensity="cosy">corporate_fare</mat-icon>
      <span>{{ 'PAC.MENU.ORGANIZATIONS' | translate: {Default: "Organizations"} }}</span>
    </div>
  </mat-card-header>
  <mat-card-header class="w-full">
    <div class="w-full pac-page-body-toolbar">
      <div></div>
      <div ngmButtonGroup>
        <button mat-raised-button color="primary" [matMenuTriggerFor]="orgMenu">
          <div class="flex items-center">
            <mat-icon fontSet="material-icons-outlined">add</mat-icon>
            {{ 'PAC.ACTIONS.ADD' | translate: {Default: "Add"} }}
          </div>
        </button>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content >
    <ngm-table class="overflow-hidden rounded-lg border border-gray-200 mt-2"
      paging
      [data]="userOrganizations$ | async"
      [columns]="[
        {
          name: 'organization.name',
          caption: 'PAC.KEY_WORDS.ORGANIZATION' | translate: {Default: 'Organization'}
        },
        {
          name: 'organization.short_description',
          caption: 'PAC.KEY_WORDS.Description' | translate: {Default: 'Description'}
        },
        {
          name: 'action',
          caption: 'PAC.KEY_WORDS.ACTION' | translate: { Default: 'Action' },
          cellTemplate: actionTempl,
          stickyEnd: true
        }
      ]"
    ></ngm-table>
  </mat-card-content>
</mat-card>

<ng-template #userTempl let-user>
  <pac-user-profile-inline [user]="user"></pac-user-profile-inline>
</ng-template>

<ng-template #actionTempl let-loading="loading" let-id="id" let-organization="organization">
  <button mat-icon-button ngmAppearance="danger" displayDensity="cosy" class="text-gray-400"
    [disabled]="loading"
    (click)="removeOrg(id, organization)">
    <div class="flex justify-center items-center">
      <mat-icon fontSet="material-icons-outlined">delete</mat-icon>
    </div>
  </button>
</ng-template>

<mat-menu #orgMenu="matMenu" class="ngm-density__compact">
  <button mat-menu-item *ngFor="let org of organizations()" (click)="addOrg(org)">
    {{org.name}}
  </button>

  <div *ngIf="!organizations()?.length" class="p-4">
    {{ 'PAC.Users.NoMoreOrganizations' | translate: { Default: 'No more organizations can be added' } }}
  </div>
</mat-menu>
