:host {
  max-width: 100%;
}

.mat-divider.mat-divider-vertical {
  margin: 0 10px;
}

.ngm-value-help__available {
  .sub-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.ngm-value-help__available-members {
  display: flex;
  flex-direction: column;
  width: 500px;
  flex: 1;
  
  .ngm-value-help__members {
    flex: 1;
    min-height: 300px;
  }
}

.ngm-value-help__options {
  overflow: hidden;
  transition-duration: 300ms;
}

.ngm-value-help__selected {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  overflow: hidden;
}

.ngm-value-help__selected-members {
  flex: 1;
  min-height: 200px;
  min-width: 20rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  
  .ngm-value-help__selected-members-list {
    flex: 1;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;

    .mdc-list-item.mdc-list-item--with-one-line {
      --mdc-list-list-item-container-shape: 5px;
    }
  }
}

