.pac-project__router-link {
  @apply hover:bg-slate-100 dark:hover:bg-slate-100/10;

  &.active {
    @apply bg-slate-100 hover:bg-slate-200 dark:bg-slate-100/10 dark:hover:bg-slate-200/10;
  }
}

.mat-mdc-list-item.mdc-list-item.pac-project__router-link {
  --mdc-list-list-item-one-line-container-height: 30px;
  @apply rounded-md p-0 cursor-pointer;
}
.pac-project__anchor {
  @apply border-bluegray-100 text-bluegray-100 hover:border-bluegray-200 hover:text-bluegray-200;
}

.pac-creation-card {
  @apply flex flex-col justify-center items-center rounded-xl border cursor-pointer ring-2 ring-transparent ring-offset-2 ring-offset-transparent
    border-gray-100 hover:border-gray-200 dark:border-neutral-800 dark:hover:border-neutral-500;
  background-color: var(--ngm-card-bg-color);
  color: var(--ngm-text-primary-color);
  --tw-ring-offset-color: var(--ngm-color-surface);

  &:focus {
    --tw-ring-color: var(--ngm-color-primary-container);
  }

  &.pac-creation-card__upload {
    @apply border-2 border-gray-300 hover:border-gray-400 border-dashed dark:border-neutral-500 dark:hover:border-neutral-400;
  }
}

.pac-confirm-card {
  @apply border rounded-lg;
  background-color: var(--ngm-color-surface-container-high);
  border-color: var(--ngm-card-border-color);
  color: var(--ngm-text-primary-color);

  &.pac-confirm-card__delete {
    .pac-confirm-card__delete-actions {
      @apply p-0;
    }
  }
}