:host {
  --mat-sidenav-container-background-color: transparent;
  --mat-sidenav-container-text-color: var(--ngm-text-primary-color);
  flex: 1;
  max-width: 100%;
}

.mat-drawer-content {
  @apply flex overflow-visible;
}

.pac-project__anchor {
  @apply absolute z-10 border border-solid;
}