@use '@angular/material/core/tokens/token-utils';
@use 'libs/material-theme/src/styles/material/dark.theme' as dark-theme;
@use 'libs/apps/indicator-market/src/lib/indicator-market-theme' as indicator-market;
@use '../app/features/features-theme' as features;
@use '../app/@shared/components-theme' as shared;
@use '../app/public/public-theme' as public;
@use '../app/features/semantic-model/model/_model.component' as model;

body.dark {
  /* 暗色主题下的样式 */
  --mdc-theme-error: theme('colors.red.400');

  @include token-utils.create-token-values(ngm, (
    bg-color: rgb(10 10 10),
    card-bg-color: rgb(22, 24, 28),
    card-border-color: theme('colors.neutral.800'),
    primary-color: theme('colors.bluegray.500'),
    text-primary-color: theme('colors.bluegray.200'),
    scrollbar-color: theme('colors.neutral.900'),
  ));

  @include token-utils.create-token-values(model.$prefix, (
    border-color: theme('colors.neutral.800'),
  ));
  
}

.ngm-theme-dark {
  @include indicator-market.color(dark-theme.$dark-theme);
  @include features.color(dark-theme.$dark-theme);
  @include shared.color(dark-theme.$dark-theme);
  @include public.color(dark-theme.$dark-theme);
}