@use '@angular/material/core/tokens/token-utils';
@use 'libs/material-theme/src/styles/material/default.theme' as light-theme;
@use 'libs/apps/indicator-market/src/lib/indicator-market-theme' as indicator-market;
@use '../app/features/features-theme' as features;
@use '../app/@shared/components-theme' as shared;
@use '../app/public/public-theme' as public;
@use '../app/features/semantic-model/model/_model.component' as model;

body.default, body.light {
  --ngm-bg-color: theme(colors.gray.50);
  --ngm-card-bg-color: theme(colors.white);
  --ngm-card-border-color: theme(colors.gray.100);

  --ngm-text-primary-color: theme(colors.bluegray.800);

  --mdc-theme-error: theme(colors.red.400);
  
  /* 暗色主题下的样式 */
  @include token-utils.create-token-values(model.$prefix, (
    border-color: theme('colors.gray.200'),
  ));
}

@include indicator-market.theme(light-theme.$mat-theme);
@include features.theme(light-theme.$mat-theme);
@include shared.theme(light-theme.$mat-theme);
@include public.theme(light-theme.$mat-theme);

.ngm-theme-light, .ngm-theme-default {
  @include indicator-market.color(light-theme.$mat-theme);
  @include features.color(light-theme.$mat-theme);
  @include shared.color(light-theme.$mat-theme);
  @include public.color(light-theme.$mat-theme);
}