// scrollbar global styles
body {
  // Old scrollbar attributes:
  // https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar
  &:not(.mobile) {
    ::-webkit-scrollbar {
      background-color: transparent;
      height: var(--scrollbar-size, 10px);
      width: var(--scrollbar-size, 10px);
    }

    ::-webkit-scrollbar-button {
      display: none;
    }

    ::-webkit-scrollbar-thumb {
      background-color: var(--sb-col, rgba(0, 0, 0, 0.12));
      background-clip: padding-box;
      border-radius: 6px;
      border: 2px solid transparent;
    }

    ::-webkit-scrollbar-track {
      background-color: transparent;
    }

    ::-webkit-scrollbar-corner {
      background: transparent;
    }

    .ngm-theme-dark {
      ::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.12);
      }
    }
  }
}

// New scrollbar attributes:
// https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-color
/**
 * @todo Styles with calssName
 */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--sb-col, rgba(0, 0, 0, 0.12)) transparent;
}
