<div class="w-full flex justify-between items-center px-4">
  <div class="pac-page-title">{{ 'PAC.KEY_WORDS.BUSINESS_AREA' | translate: {Default: "Business Area"} }}</div>
  <div ngmButtonGroup >
    <button mat-raised-button color="primary" (click)="createBusinessArea(null)">
        <div class="flex items-center">
            <mat-icon>add</mat-icon>
            {{ 'PAC.ACTIONS.NEW' | translate: {Default: "New"} }} {{ 'PAC.KEY_WORDS.BUSINESS_AREA' | translate: {Default: "Business Area"} }}
        </div>
    </button>
  </div>
</div>

<mat-drawer-container class="w-full h-full" [hasBackdrop]="isMobile()" [autosize]="true">
  <mat-drawer #drawer class="ngm-sidenav-container-bg-transparent" [mode]="isMobile() ? 'over' : 'side'"
    [(opened)]="sideMenuOpened"
  >
    <pac-business-areas class="w-96"></pac-business-areas>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet #o="outlet"></router-outlet>
    <ngm-drawer-trigger class="absolute -left-2 top-1/2 -translate-y-1/2 z-40" [(opened)]="sideMenuOpened" />
  </mat-drawer-content>
</mat-drawer-container>
