<div class="pac-page-header">
  <div class="w-full flex justify-between items-center">
    <div class="pac-page-title">{{ 'PAC.KEY_WORDS.BUSINESS_AREA' | translate: {Default: "Business Area"} }}</div>
    <div ngmButtonGroup >
      <button mat-raised-button color="primary" (click)="createBusinessArea(null)">
          <div class="flex items-center">
              <mat-icon>add</mat-icon>
              {{ 'PAC.ACTIONS.NEW' | translate: {Default: "New"} }} {{ 'PAC.KEY_WORDS.BUSINESS_AREA' | translate: {Default: "Business Area"} }}
          </div>
      </button>
    </div>
  </div>

  <nav mat-tab-nav-bar class="pac-tab-nav-bar max-w-full" color="accent" mat-align-tabs="start" mat-stretch-tabs="false" disableRipple displayDensity="cosy"
    [tabPanel]="tabPanel"
  >
    <span mat-tab-link [routerLink]="['.']"
      routerLinkActive #rla="routerLinkActive"
      [routerLinkActiveOptions]="{exact: true}"
      [active]="rla.isActive"
    >

      <mat-icon class="mr-1" fontSet="material-icons-outlined" displayDensity="cosy">account_tree</mat-icon>
      {{ 'PAC.BUSINESS_AREA.All' | translate: {Default: "All"} }}
    </span>

    <span mat-tab-link *ngFor="let area of openedLinks(); trackBy: trackByEntityId" [routerLink]="[area.id]"
      [active]="area.id === currentLink()?.id">
      <mat-icon class="mr-1" fontSet="material-icons-outlined" displayDensity="cosy">workspaces</mat-icon>
      {{ area.name }}

      <button mat-icon-button class="pac-tab-close" displayDensity="compact" (click)="removeOpenedLink(area)">
        <mat-icon>cancel</mat-icon>
      </button>
    </span>
    
  </nav>
</div>
<mat-divider></mat-divider>

<mat-tab-nav-panel #tabPanel class="pac-page-body flex flex-col items-center" [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
  <router-outlet #o="outlet"></router-outlet>
</mat-tab-nav-panel>

<ng-template #createTempl cdkTrapFocus>
  <header mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <h4 style="pointer-events: none;">
        {{ 'PAC.ACTIONS.CREATE' | translate: {Default: "Create"} }} {{ 'PAC.KEY_WORDS.BUSINESS_AREA' | translate: {Default: "Business Area"} }}
    </h4>
  </header>
  
  <mat-dialog-content class="flex flex-col justify-start items-start">
    <ngm-input label="{{ 'PAC.KEY_WORDS.NAME' | translate: {Default: 'Name'} }}" [(ngModel)]="name" >
    </ngm-input>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <div ngmButtonGroup>
        <button mat-stroked-button mat-dialog-close>
            {{ 'COMPONENTS.COMMON.CANCEL' | translate: {Default: 'Cancel'} }}    
        </button>
        <button mat-raised-button color="accent" cdkFocusInitial [mat-dialog-close]="name">
            {{ 'COMPONENTS.COMMON.APPLY' | translate: {Default: 'Apply'} }}
        </button>
    </div>
  </mat-dialog-actions>    
</ng-template>