@use '@angular/material/core/tokens/token-utils';
@use '@angular/material/core/style/sass-utils';

// The prefix used to generate the fully qualified name for tokens in this file.
$prefix: (ngm, shell);

@function get-unthemable-tokens() {
  @return (
  );
}

@function get-color-tokens() {
  @return (
    header-bg-color: var(--ngm-color-surface-container),
    drawer-container-bg-color: var(--ngm-color-surface-container),
    copilot-bg-color: var(--ngm-color-surface),
  );
}

@function get-token-slots() {
  @return sass-utils.deep-merge-all(
    get-unthemable-tokens(),
    get-color-tokens(),
  );
}

@include token-utils.use-tokens($prefix, get-token-slots()) {
  .mat-toolbar.pac__shell-bar {
    --mat-toolbar-container-background-color: var(#{token-utils.get-token-variable(header-bg-color)});
  }
  :host {
    --mat-sidenav-content-background-color: var(#{token-utils.get-token-variable(drawer-container-bg-color)});
    --ngm-copilot-bg-color: var(#{token-utils.get-token-variable(copilot-bg-color)});
  }
}

:host {
  flex: 1;
  height: 100%;
  max-width: 100%;

  @include token-utils.create-token-values($prefix, get-token-slots());

  .pac_sidenav-content {
    --mat-sidenav-container-divider-color: transparent;
    --mat-sidenav-container-background-color: transparent;
  }
}

.mat-drawer.mat-sidenav {
  display: flex;
  flex-direction: column;
}

.pac-features__sidenav {
  @apply bg-bluegray-900 text-white;
}

.pac_brand {
  display: flex;
  align-items: center;

  span {
    white-space: nowrap;
  }
}

.avatar {
  width: 25px;
  border-radius: 50%;
}

.pac_sidenav-content {
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.mat-drawer-container.pac-fullscreen {
  z-index: 2;
  .pac-app__page-outlet {
    z-index: 2;
  }
}

.pac-home-title {
  background: linear-gradient(-45deg, #5d55f4, #00ff95, #5d55f4);
	background-size: 200%;
  background-position: 80% 50%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  cursor: pointer;

  &:hover {
    animation: animated_text 3s ease-in-out infinite;
    -moz-animation: animated_text 3s ease-in-out infinite;
    -webkit-animation: animated_text 3s ease-in-out infinite;
  }
}

@keyframes animated_text {
  0% {
    background-position: 80% 50%;
  }
  50% {
    background-position: 180% 50%;
  }
  100% {
    background-position: 280% 50%;
  }
}


.pac-router__progress-bar {
  position: absolute;
  height: 2px;
}

.pac__toolbar-new {
  @apply rounded-md m-2;
}