@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $accent: map.get($config, accent);
  $background: map.get($config, background);

  .ngm-appearance-desktop.mat-tab-group {
    .mat-tab-label {
      min-width: unset;
      &:hover {
        background-color: mat.get-color-from-palette($background, hover);
      }

      .ngm-tab-button-right {
        margin-right: -20px;
      }
    }
  }
}
