<mat-sidenav-container class="flex-1">
  <mat-sidenav #sidenav opened [mode]="isMobile() ? 'over' : 'side'" class="w-[400px]">
    <pac-chat-sidenav-menu class="w-full p-2" [sidenav]="sidenav"/>

    <div class="flex-1 p-2 overflow-auto max-h-fit"
      waIntersectionObserver
      waIntersectionThreshold="0.5"
    >
      <ul cdkListbox>
        @for (role of roles(); track role.id) {
          <li [cdkOption]="role" class="flex items-center cursor-pointer px-4 py-2 rounded-md
            active:scale-95 transition-transform
           hover:bg-black/5 dark:hover:bg-white/10"
            (click)="selectRole(role)"
          ><pac-avatar [imageUrl]="role.avatar" class="mr-2 w-6 h-6 overflow-hidden rounded-full" />{{role.title}}</li>
        }
      </ul>

      <mat-list>
        @for (group of groups(); track groups.name) {
          <div mat-subheader class="pt-8 text-sm font-semibold text-ellipsis overflow-hidden break-all text-token-text-primary">
            {{ 'PAC.KEY_WORDS.Date_' + group.name | translate: {Default: group.name} }}</div>
          @for (item of group.values; track item.id) {
            <mat-list-item class="pac-chat__conversation-item group cursor-pointer rounded-md hover:bg-black/5 dark:hover:bg-white/10"
              [ngClass]="{active: item.id === conversationId()}"
              [class.menu-active]="mt.menuOpen"
              (click)="selectConversation(item)"
            >
            @if (editingConversation()  === item.id) {
              <input matInput [(ngModel)]="editingTitle" (keydown.enter)="updateTitle(item)">
            } @else {
              {{item.title || item.id}}
            }

              <div class="absolute bottom-0 top-0 items-center gap-1.5 pr-2 right-0 flex">
                <span class="" data-state="closed">
                  <button class="menu-trigger flex items-center justify-center text-token-text-secondary transition opacity-0
                    group-hover:opacity-50 group-hover:hover:opacity-100"
                    type="button" id="radix-:r5pv:" aria-haspopup="menu" aria-expanded="false" data-state="closed"
                    [matMenuTriggerFor]="convMenu"
                    [matMenuTriggerData]="item"
                    #mt="matMenuTrigger"
                    [class.active]="mt.menuOpen"
                    [matTooltip]="'PAC.KEY_WORDS.Options' | translate: {Default: 'Options'} "
                    matTooltipPosition="above"
                    (click)="$event.stopPropagation();">
                    <pac-chat-more-svg />
                  </button>
                </span>
              </div>
            </mat-list-item>
          }
        }
      </mat-list>

      @if (loading()) {
        <div class="flex justify-center">
          <mat-progress-spinner [diameter]="20" color="accent" mode="indeterminate" />
        </div>
      }

      <div (waIntersectionObservee)="onIntersection()" class="p-4"></div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <pac-chat-toolbar [chatInput]="chatInput">
      @if (!sidenav.opened) {
        <pac-chat-sidenav-menu [sidenav]="sidenav"/>
      }
    </pac-chat-toolbar>
    <div #contentContainer class="flex-1 overflow-auto">
      @if (!conversationId() && !messages()?.length && role()) {
        <div class="w-full h-full flex flex-col justify-center items-center gap-4">
          <pac-avatar class="mb-3 h-16 w-16 rounded-full overflow-hidden" [imageUrl]="role().avatar" />

          <div class="w-full flex flex-col items-center gap-2">
            <p class="text-xl">{{role().title}}</p>
            <p class="text-token-text-secondary">{{role().description}}</p>
          </div>

          <div class="mx-3 mt-12 flex max-w-3xl flex-wrap items-stretch justify-center gap-4 mb-8">
            @for (statement of role().starters; track statement) {
              <button class="relative flex w-40 flex-col gap-2 rounded-2xl border border-token-border-light px-3 pb-4 pt-3 text-start align-top text-[15px] shadow-sm transition enabled:hover:bg-token-main-surface-secondary disabled:cursor-not-allowed"
                (click)="chatInput.ask(statement)"
              >
                <div class="line-clamp-3 max-w-full text-balance font-light text-neutral-500 dark:text-neutral-500 break-word">
                  {{statement}}
                </div>
              </button>
            }
          </div>

        </div>
      } @else {
        <div class="flex flex-col w-full lg:w-[800px] max-w-full m-auto p-4 lg:p-8">
          @for (message of messages(); track message.id) {
            @switch (message.role) {
              @case ('user') {
                <div class="w-full flex justify-end my-4">
                  <div class="max-w-[70%] p-4 whitespace-pre-wrap rounded-2xl bg-black/5 dark:bg-white/10">{{ message.content }}</div>
                </div>
              }
              @case ('assistant') {
                <pac-ai-message class="my-4 lg:p-2" [message]="message" />
              }
            }
          }
        </div>
      }
    </div>

    <pac-chat-input #chatInput class="w-full lg:w-[800px] max-w-full m-auto p-4 lg:p-8"/>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #convMenu="matMenu" class="ngm-density__compact">
  <ng-template matMenuContent let-id="id" let-title="title">
    <button mat-menu-item (click)="editingConversation.set(id);editingTitle.set(title)">
      <mat-icon fontSet="material-icons-outlined">edit</mat-icon>
      {{ 'PAC.KEY_WORDS.Rename' | translate: {Default: 'Rename'} }}
    </button>

    <button mat-menu-item ngmAppearance="danger" (click)="deleteConv(id)">
      <mat-icon fontSet="material-icons-outlined">delete</mat-icon>
      {{ 'PAC.KEY_WORDS.Delete' | translate: {Default: 'Delete'} }}
    </button>
  </ng-template>
</mat-menu>