<div class="flex flex-col mb-8">
  <label for="demo-network-source">{{ 'PAC.ORGANIZATIONS_PAGE.Organization.SelectDataNetwork' | translate: {Default: 'Select Data Network'} }}</label>
  <mat-radio-group id="demo-network-source" [formControl]="source">
    <mat-radio-button [value]="OrganizationDemoNetworkEnum.github">GitHub</mat-radio-button>
    <mat-radio-button [value]="OrganizationDemoNetworkEnum.aliyun">Aliyun oss</mat-radio-button>
  </mat-radio-group>

  <div class="text-sm opacity-50">
    {{ 'PAC.ORGANIZATIONS_PAGE.Organization.DataNetworkDescription' | translate: {Default: "The server will download the corresponding data files from this network storage for the import of demonstration data."} }}
  </div>
</div>

<button mat-raised-button color="primary" [disabled]="loading()" (click)="generate()">
  <div class="flex justify-center items-center">
    @if (loading()) {
      <mat-spinner color="accent" diameter="18"></mat-spinner>
    }
    
    @if (organization$()?.createdDemo || generated()) {
      <span>{{ 'PAC.ORGANIZATIONS_PAGE.Organization.RegenerateDemo' | translate: {Default: "Re-Generate Demo"} }}</span>
    } @else {
      <span>{{ 'PAC.ORGANIZATIONS_PAGE.Organization.GENERATE_DEMO' | translate: {Default: "Generate Demo"} }}</span>
    }
  </div>
</button>
