:host {
  @apply overflow-hidden p-1;
}

.mat-mdc-radio-group {
  .mat-mdc-radio-button {
    margin: 0.5rem 0;
  }
  &.ngm-density__cosy {
    .mat-mdc-radio-button {
      margin: .3rem 0;
    }
  }
  &.ngm-density__compact {
    .mat-mdc-radio-button {
      margin: 0;
    }
  }
}

.mat-mdc-slider {
  width: calc(100% - 30px);
  @apply block mt-4 mx-auto;
}

.mat-mdc-slider-thumb-label-showing {
  &.mat-mdc-slider-horizontal {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &.mat-mdc-slider-vertical {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.mat-mdc-radio-group {
  margin-left: 1rem;
}
