:host {
  --mat-expansion-container-background-color: var(--ngm-color-surface-container-low);
  
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.mat-drawer-content {
  padding: 1rem;
}
