:host {
  position: relative;
  display: flex;
  flex-direction: column;
}

.cdk-virtual-scroll-viewport.cdk-virtual-scroll-orientation-vertical {
  flex: 1;

  .cdk-virtual-scroll-content-wrapper {
    height: 100%;
  }
}

.mat-mdc-table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  background: unset;
}

.mat-cell {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mat-column-select {
  width: 60px;
}

.ngm-member-table__search {
  width: 100%;
}

.mat-progress-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}
