@use "sass:math";

$node-width: 200px;
$socket-margin: 6px;
$socket-size: 16px;

:host {
  @apply block bg-neutral-200 border border-neutral-300 rounded-lg p-2
    hover:bg-neutral-300 cursor-pointer;
  box-sizing: border-box;
  width: $node-width;
  height: auto;
  padding-bottom: 6px;
  position: relative;
  user-select: none;

  &.selected {
    border-color: red;
  }

  .title {
    font-family: sans-serif;
  }

  .output {
    text-align: right;
  }

  .input {
    text-align: left;
  }

  .output-socket {
    text-align: right;
    margin-right: -25px;
    display: inline-block;
  }

  .input-socket {
    text-align: left;
    margin-left: -25px;
    display: inline-block;
  }

  .input-title,
  .output-title {
    vertical-align: middle;
    display: inline-block;
    font-family: sans-serif;
    font-size: 14px;
    margin: $socket-margin;
    line-height: $socket-size;
  }

  .input-control {
    z-index: 1;
    width: calc(100% - #{$socket-size + 2 * $socket-margin});
    vertical-align: middle;
    display: inline-block;
  }

  .control {
    padding: $socket-margin + math.div($socket-size, 2) + $socket-margin;
  }
}
