.ngm-split-button__main {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ngm-split-button__more {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  min-width: 40px;
  padding: 0;
}
