<div class="pac-page-header">
    <div class="pac-page-title">{{ 'PAC.Copilot.AICopilot' | translate: {Default: 'AI Copilot'} }}</div>
</div>

<nav mat-tab-nav-bar class="pac-tab-nav-bar self-stretch max-w-full overflow-hidden" color="accent"
    mat-align-tabs="start" mat-stretch-tabs="false" disableRipple
    displayDensity="cosy"
    [tabPanel]="tabPanel"
>
    <span mat-tab-link [routerLink]="['./basic']"
        routerLinkActive #rla1="routerLinkActive"
        [routerLinkActiveOptions]="{exact: true}"
        [active]="rla1.isActive"
    >
        <mat-icon fontSet="material-icons-outlined" displayDensity="cosy">generating_tokens</mat-icon>
        {{ 'PAC.KEY_WORDS.Basic' | translate: {Default: "Basic"} }}
    </span>

    <span mat-tab-link [routerLink]="['./examples']"
        routerLinkActive #rla2="routerLinkActive"
        [routerLinkActiveOptions]="{exact: true}"
        [active]="rla2.isActive"
    >
        <mat-icon fontSet="material-icons-outlined" displayDensity="cosy">compare_arrows</mat-icon>
        {{ 'PAC.KEY_WORDS.Examples' | translate: {Default: "Examples"} }}
    </span>
</nav>

<mat-tab-nav-panel #tabPanel class="pac-page-body"
    [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
    <router-outlet #o="outlet"></router-outlet>
</mat-tab-nav-panel>