<div class="pac-page-header">
  <div class="pac-page-title">{{ 'PAC.Copilot.AICopilot' | translate: {Default: 'AI Copilot'} }}</div>
      
  <nav mat-tab-nav-bar class="pac-tab-nav-bar" displayDensity="cosy" color="accent" mat-align-tabs="start" mat-stretch-tabs="false" disableRipple
    [tabPanel]="tabPanel"
  >
    <span mat-tab-link [routerLink]="['./basic']"
      routerLinkActive #rla1="routerLinkActive"
      [routerLinkActiveOptions]="{exact: true}"
      [active]="rla1.isActive"
    >
      <mat-icon fontSet="material-icons-outlined">generating_tokens</mat-icon>
      {{ 'PAC.KEY_WORDS.Basic' | translate: {Default: "Basic"} }}
    </span>

    <!-- <span mat-tab-link [routerLink]="['./roles']"
      routerLinkActive #rla3="routerLinkActive"
      [active]="rla3.isActive"
    >
      <mat-icon fontSet="material-icons-outlined">engineering</mat-icon>
      {{ 'PAC.KEY_WORDS.Roles' | translate: {Default: "Roles"} }}
    </span> -->

    <span mat-tab-link [routerLink]="['./examples']"
      routerLinkActive #rla2="routerLinkActive"
      [active]="rla2.isActive"
    >
      <mat-icon fontSet="material-icons-outlined">tips_and_updates</mat-icon>
      {{ 'PAC.KEY_WORDS.Examples' | translate: {Default: "Examples"} }}
    </span>

    @if (organizationId$ | async) {
      <span mat-tab-link [routerLink]="['./users']"
        routerLinkActive #rla4="routerLinkActive"
        [active]="rla4.isActive"
      >
        <mat-icon fontSet="material-icons-outlined">data_usage</mat-icon>
        {{ 'PAC.KEY_WORDS.Users' | translate: {Default: "Users"} }}
      </span>
    } @else {
      <span mat-tab-link [routerLink]="['./usages']"
        routerLinkActive #rla4="routerLinkActive"
        [active]="rla4.isActive"
      >
        <mat-icon fontSet="material-icons-outlined">data_usage</mat-icon>
        {{ 'PAC.KEY_WORDS.Usages' | translate: {Default: "Usages"} }}
      </span>
    }
  </nav>
</div>

<mat-divider></mat-divider>
  
<mat-tab-nav-panel #tabPanel class="pac-page-body flex flex-col items-center"
  [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
  <router-outlet #o="outlet"></router-outlet>
</mat-tab-nav-panel>
