:host {
  @apply flex overflow-hidden;

  &.over {
    .ngm-drawer-backdrop {
      position: absolute;
      top: 0;
      right: 0;
    }

    &.opened {
      .ngm-drawer-backdrop {
        left: 0;
        bottom: 0;
        z-index: 1000;
        @apply bg-neutral-800/10 dark:bg-neutral-100/10;
      }
    }
  }
}
