@use '@material/elevation/elevation-theme' as mdc-elevation;
@use '@angular/material/core/tokens/token-utils';

// The prefix used to generate the fully qualified name for tokens in this file.
$prefix: (ngm, model);

// Tokens that can't be configured through Angular Material's current theming API,
// but may be in a future version of the theming API.
@function get-unthemable-tokens() {
  @return (
    border-color: theme('colors.gray.200'),
  );
}

.ngm-semanctic-model {
  .pac-model__shell-bar {
    @include token-utils.use-tokens($prefix, get-unthemable-tokens()) {
      border-bottom: solid 1px var(#{token-utils.get-token-variable(border-color)});
    }

    --mat-icon-color: theme('colors.gray.500');
  }

  .mat-drawer-container {
    --mat-toolbar-container-background-color: transparent;
  }
}

.ngm-table {
  @apply border-gray-200 dark:border-gray-700;
}

// Toolbar styles
.mat-toolbar.pac-sub-toolbar {
  min-height: 33px;
  // background-color: var(--ngm-card-bg-color);
  @apply text-gray-500 dark:text-gray-200;

  &.ngm-density__compact.mat-toolbar-row,
  &.ngm-density__compact.mat-toolbar-single-row {
    height: 33px;
    padding: 0 6px;
    font-size: 1rem;
  }
}
