@use '@material/elevation/elevation-theme' as mdc-elevation;

.ngm-semanctic-model {
  .pac-model__shell-bar {
    --mat-icon-color: theme('colors.gray.500');
  }

  .mat-drawer-container {
    --mat-toolbar-container-background-color: transparent;
  }

  .pac-model-content ngm-splitter {
    --ngm-splitter-background-color: transparent;
  }
}

// Toolbar styles
.mat-toolbar.pac-sub-toolbar {
  min-height: 33px;
  @apply text-gray-500 dark:text-gray-200;

  &.ngm-density__compact.mat-toolbar-row,
  &.ngm-density__compact.mat-toolbar-single-row {
    height: 33px;
    padding: 0 6px;
    font-size: 1rem;
  }
}
