:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  // position: absolute;
  // top: 0;
  // left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;

  &.pac-fullscreen {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
  }
}

.pac-fullscreen {
  z-index: 3;
}

.mat-drawer.ngm-story__designer-drawer {
  width: 200px;
}

.pac-model__nav-list {
  max-height: 100%;
  overflow-y: auto;
  height: 100%;

  .pac-model__nav-item:not(.selected) {
    .pac-model__nav-action {
      @apply hidden;
    }
  }
  .pac-model__nav-item:hover {
    .pac-model__nav-action {
      @apply flex;
    }
  }
}

.ngm-action-strip  {
  position: absolute;
  right: 0;
  border-radius: 15px;
}

.pac-model__search {
  display: flex;
  flex: 1;
  font-size: 12px;
  line-height: 12px;
  margin: 5px 0;

  .mat-mdc-input-element {
    @apply flex-1 outline-none bg-transparent border-none;
  }
}

list-content-loader {
  padding: 1rem;
}

.cdk-menu-bar {
  .cdk-menu-item {
    @apply pl-4 outline-none;
  }
}

.pac-model__copilot-trigger.mdc-icon-button.active {
  @apply bg-slate-400/50;
}

.ngm-copilot-chat {
  @apply w-full h-full rounded-lg shadow-lg overflow-hidden;
}