<div class="text-lg">
  {{ 'PAC.MENU.EDIT_BUSINESS_AREA' | translate: {Default: "Edit Business Area"} }}
  <span class="text-base font-bold">
    {{ name$ | async }}
  </span>
</div>
<nav mat-tab-nav-bar color="accent"  mat-align-tabs="start" mat-stretch-tabs="false" disableRipple>
  <span mat-tab-link [routerLink]="['.']"
    routerLinkActive #rla="routerLinkActive"
    [routerLinkActiveOptions]="{exact: true}"
    [active]="rla.isActive"
  >

    <mat-icon fontSet="material-icons-outlined" displayDensity="cosy">settings</mat-icon>
    {{ 'PAC.BUSINESS_AREA.BASIC' | translate: {Default: "Basic Info"} }}
  </span>

  <span mat-tab-link [routerLink]="['./users']"
    routerLinkActive #rla2="routerLinkActive"
    [routerLinkActiveOptions]="{exact: true}"
    [active]="rla2.isActive"
  >
    <div class="flex items-center">
      <mat-icon fontSet="material-icons-outlined" displayDensity="cosy">group_add</mat-icon>
      {{ 'PAC.MENU.USERS' | translate: {Default: "Users"} }}
    </div>
  </span>
</nav>

<div class="pac-page__body" >
  <router-outlet #o="outlet"></router-outlet>
</div>
