:host {
  position: relative;
  display: flex;
  flex-direction: column;
}

.tree-node {
  display: flex;
  flex-direction: row;
  align-items: center;

  .mat-checkbox {
    padding-right: 1rem;
  }
}

.mat-progress-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}
