@if (integrationList()?.length) {
  <ul cdkListbox cdkListboxMultiple class="ngm-cdk-listbox"
    [(ngModel)]="integrations"
    [cdkListboxCompareWith]="compareId"
  >
    @for (item of integrationList(); track item.id) {
      <li [cdkOption]="item" #option="cdkOption" class="ngm-cdk-option flex items-center cursor-pointer rounded-md
       hover:bg-black/5 dark:hover:bg-white/10"
        [class.cdk-option-selected]="option.isSelected()"
      >
        @if (option.isSelected()) {
          <mat-icon class="absolute left-1" fontSet="material-icons-outlined" color="accent">check_small</mat-icon>
        }
        <pac-avatar [imageUrl]="item.avatar || getProvider(item)?.avatar" class="shrink-0 mr-2 w-6 h-6 overflow-hidden rounded-full" />
        <span class="whitespace-nowrap text-ellipsis overflow-hidden" [title]="item.name">{{item.name}}</span>
      </li>
    }
  </ul>
}