:host {
  @apply flex transition-all;

  &.opened {
    transform: translateX(0%);
    opacity: 1;
    right: 0;
    visibility: visible;
  }

  &:not(.opened) {
    width: 0 !important;
    // transform: translateX(100%);
    opacity: 0;
    right: -100%;
    visibility: hidden;
  }
}
