<div class="w-full flex justify-start items-center px-3 pt-3 pb-2">
  <emoji-avatar [avatar]="toolset().avatar" small class="shrink-0 mr-2 rounded-lg overflow-hidden shadow-sm" />
  <div class="flex flex-col">
    <span class="text-lg">{{toolset().name}}</span>
  </div>

  <div class="flex-1"></div>

  <div>
    <div class="flex items-center justify-center w-8 h-8 rounded-md cursor-pointer
      text-text-tertiary hover:text-base-content hover:bg-hover-bg"
      (click)="closePanel()"
    >
      <ngm-close-svg class="w-5 h-5" />
    </div>
  </div>
</div>

<div class="px-4 py-2 text-text-tertiary text-sm">
  {{toolset().description}}
</div>