.loading {
  div {
    background: #7b7b7b;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    animation: simple 2000ms infinite linear;
  }
}

@keyframes simple {
  50% {
    opacity: 0;
  }
}
