<div class="w-full flex flex-col overflow-auto">
  <div class="sticky top-0 flex flex-col bg-components-panel-bg w-full border-b-[0.5px] border-black/5 z-10">
    <div class="flex justify-start items-center px-3 pt-3 pb-2">
      <emoji-avatar [avatar]="xpertAgent().avatar" editable small class="shrink-0 mr-2 overflow-hidden rounded-lg shadow-sm"
        (avatarChange)="updateAvatar($event)" />
      <div class="flex flex-col items-start">
        <input
          matInput
          class="ngm-input-inline ngm-input-sm min-w-[100px] mr-2 px-1 py-0.5 text-base field font-semibold rounded-lg border border-transparent appearance-none outline-none text-gray-900 hover:bg-gray-50 focus:border-gray-300 focus:shadow-xs focus:bg-white caret-[#295EFF]"
          [placeholder]="'输入名称'"
          [ngModel]="title()"
          (ngModelChange)="onTitleChange($event)"
          (blur)="onBlur()"
        />
      </div>

      <span class="flex-1"></span>

      <div class="shrink-0 flex items-center">
        <div class="flex items-center justify-center mr-1 w-8 h-8 rounded-md cursor-pointer text-text-tertiary hover:text-base-content
          hover:bg-hover-bg"
          [matTooltip]="'PAC.Xpert.RunThisAgent' | translate: { Default: 'Run this agent' }"
          (click)="openExecution()"
        >
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="w-5 h-5">
            <path d="M8 18.3915V5.60846L18.2264 12L8 18.3915ZM6 3.80421V20.1957C6 20.9812 6.86395 21.46 7.53 21.0437L20.6432 12.848C21.2699 12.4563 21.2699 11.5436 20.6432 11.152L7.53 2.95621C6.86395 2.53993 6 3.01878 6 3.80421Z"></path>
          </svg>
        </div>
        <a [href]="helpWebsite() + '/docs/ai/'" target="_blank" class="flex items-center justify-center mr-1 w-6 h-6"
          [matTooltip]="'PAC.Xpert.HelpDocumentation' | translate: { Default: 'Help Documentation' }">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="w-4 h-4 text-text-tertiary hover:text-base-content">
            <path d="M13 21V23H11V21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3H9C10.1947 3 11.2671 3.52375 12 4.35418C12.7329 3.52375 13.8053 3 15 3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H13ZM20 19V5H15C13.8954 5 13 5.89543 13 7V19H20ZM11 19V7C11 5.89543 10.1046 5 9 5H4V19H11Z"></path>
          </svg>
        </a>
        <div class="inline-block">
          <div class="float-menu-trigger flex items-center justify-center w-8 h-8 rounded-md cursor-pointer
            text-text-tertiary hover:text-base-content hover:bg-hover-bg"

            [cdkMenuTriggerFor]="moreMenu"
          >
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="w-5 h-5">
              <path d="M5 10C3.9 10 3 10.9 3 12C3 13.1 3.9 14 5 14C6.1 14 7 13.1 7 12C7 10.9 6.1 10 5 10ZM19 10C17.9 10 17 10.9 17 12C17 13.1 17.9 14 19 14C20.1 14 21 13.1 21 12C21 10.9 20.1 10 19 10ZM12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10Z"></path>
            </svg>
          </div>
        </div>

        <div class="mx-3 w-[1px] h-3.5 bg-divider-regular">
        </div>

        <div class="flex items-center justify-center w-8 h-8 rounded-md cursor-pointer
          text-text-tertiary hover:text-base-content hover:bg-hover-bg"
          (click)="closePanel()"
        >
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="w-5 h-5">
            <path d="M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>

  <div class="px-4 pb-4 space-y-4 mt-2 w-full">

    <div class="py-2 flex flex-col">
      <input
        matInput
          class="ngm-input-inline ngm-input-sm self-stretch mx-2 mb-1 px-1 py-0.5 text-sm field rounded-lg border border-transparent appearance-none outline-none
           hover:bg-gray-50 focus:border-gray-300 focus:shadow-xs focus:bg-white caret-[#295EFF]"
          [ngClass]="{ 'ngm-error': nameError() }"
          [ngModel]="name()"
          (ngModelChange)="onNameChange($event)"
          (blur)="onBlur()"
          [matTooltip]="'PAC.Xpert.NameExisted' | translate: { Default: 'Name existed or empty!' }"
          [matTooltipDisabled]="!nameError()"
          [placeholder]="'标识, 默认使用 '+key()"
        />
      <div class="group flex px-2 py-[5px] max-h-[60px] rounded-lg overflow-y-auto border border-transparent
        text-text-secondary hover:bg-gray-50 focus:border-gray-300 focus:shadow-xs">
        <textarea
          matInput
          class="rc-textarea w-full text-sm leading-[18px] bg-transparent appearance-none outline-none resize-none placeholder:text-gray-400 caret-[#295EFF]"
          [placeholder]="'添加描述...'"
          [ngModel]="xpertAgent().description"
          (ngModelChange)="onDescChange($event)"
          (blur)="onBlur()"
        >
        </textarea>
      </div>
    </div>

    <copilot-model-select [inheritModel]="xpertCopilotModel()" [modelType]="eModelType.LLM"
      [(copilotModel)]="copilotModel" 
      (copilotModelChange)="updateCopilotModel($event)" />

    <copilot-prompt-editor class="relative shadow-md ngm-card-border-gradient self-stretch"
      [tooltip]="'PAC.Xpert.SystemPromptTooltip' | translate: {Default: 'Prompts guide AI reponses with instructions and contraints. Insert parameters like {{input}}. This prompt won\'t be visible to users.'}"
      [(prompt)]="prompt"
      (promptChange)="onPromptChange($event)"
    />

    <xpert-parameters-edit [ngModel]="parameters()" (ngModelChange)="onParameters($event)" />

    <xpert-studio-panel-knowledge-section class="mt-3 rounded-xl bg-gray-50 pt-2 pb-3"
      [key]="key()"
    />

    <xpert-studio-panel-toolset-section
      class="mt-3 rounded-xl bg-gray-50 pt-2 pb-3"
      [key]="key()"
    />

  </div>
</div>

@if (openedExecution()) {
  <div class="absolute top-0 left-0 w-full h-full z-50 bg-black/20 dark:bg-neutral-500/50 backdrop-blur-[2px]" @ifAnimationTrigger (click)="closeExecution()">
    <xpert-studio-panel-agent-execution class="absolute top-14 left-0 bottom-0 w-full rounded-t-xl bg-components-panel-bg"
      [xpertAgent]="xpertAgent()"
      [xpert]="xpert()"
      [executionId]="executionId()"
      (click)="$event.stopPropagation()" />
  </div>
}

<ng-template #moreMenu>
  <div cdkMenu class="ngm-cdk-menu p-2 w-60">
    <button cdkMenuItem class="ngm-cdk-menu-item px-2 py-1 max-w-full text-left"
      (click)="openExecution()">
      <i class="ri-play-line"></i>{{ 'PAC.Xpert.RunThisAgent' | translate: { Default: 'Run this agent' } }}
    </button>
    <button cdkMenuItem class="ngm-cdk-menu-item px-2 py-1 max-w-full text-left"
      [cdkMenuTriggerFor]="executionsMenu">
      <span><i class="ri-history-line"></i>{{ 'PAC.Xpert.ExecutionsHistories' | translate: { Default: 'Executions Histories' } }}</span>
    </button>
  </div>
</ng-template>

<ng-template #executionsMenu>
  <div cdkMenu class="ngm-cdk-menu p-2 w-60 overflow-auto">
    @for (execution of executions(); track execution.id) {
      <button cdkMenuItem class="ngm-cdk-menu-item shrink-0 px-2 py-1 max-w-full flex flex-col justify-start items-start"
        (click)="openExecution(execution)">
        {{execution.updatedAt | date: 'medium'}}
      </button>
    }
  </div>
</ng-template>
