<div class="w-full flex flex-col overflow-auto">
  <div class="sticky top-0 flex flex-col bg-components-panel-bg w-full border-b-[0.5px] border-black/5 z-10">
    <div class="flex justify-start items-center px-3 pt-3 pb-2">
      <xpert-avatar [avatar]="xpertAgent().avatar" class="shrink-0 mr-2 w-8 h-8 overflow-hidden rounded-lg shadow-sm" />
      <div class="flex flex-col items-start">
        <input
          matInput
          class="ngm-input-inline ngm-input-sm min-w-[100px] mr-2 px-1 py-0.5 text-base field font-semibold rounded-lg border border-transparent appearance-none outline-none text-gray-900 hover:bg-gray-50 focus:border-gray-300 focus:shadow-xs focus:bg-white caret-[#295EFF]"
          [placeholder]="'输入名称'"
          [ngModel]="title()"
          (ngModelChange)="onTitleChange($event)"
          (blur)="onBlur()"
        />
      </div>

      <span class="flex-1"></span>

      <div class="shrink-0 flex items-center">
        <div class="flex items-center justify-center mr-1 w-8 h-8 rounded-md cursor-pointer text-text-tertiary hover:text-base-content
          hover:bg-hover-bg"
          [matTooltip]="'PAC.Xpert.RunThisAgent' | translate: { Default: 'Run this agent' }"
          (click)="openExecution()"
        >
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="w-5 h-5">
            <path d="M8 18.3915V5.60846L18.2264 12L8 18.3915ZM6 3.80421V20.1957C6 20.9812 6.86395 21.46 7.53 21.0437L20.6432 12.848C21.2699 12.4563 21.2699 11.5436 20.6432 11.152L7.53 2.95621C6.86395 2.53993 6 3.01878 6 3.80421Z"></path>
          </svg>
        </div>
        <a [href]="'https://mtda.cloud/'+(isEnglish()?'en/':'')+'docs/ai/'" target="_blank" class="flex items-center justify-center mr-1 w-6 h-6"
          [matTooltip]="'PAC.Xpert.HelpDocumentation' | translate: { Default: 'Help Documentation' }">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="w-4 h-4 text-text-tertiary hover:text-base-content">
            <path d="M13 21V23H11V21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3H9C10.1947 3 11.2671 3.52375 12 4.35418C12.7329 3.52375 13.8053 3 15 3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H13ZM20 19V5H15C13.8954 5 13 5.89543 13 7V19H20ZM11 19V7C11 5.89543 10.1046 5 9 5H4V19H11Z"></path>
          </svg>
        </a>
        <div class="inline-block">
          <div class="flex items-center justify-center w-8 h-8 rounded-md cursor-pointer text-text-tertiary hover:text-base-content
            hover:bg-hover-bg">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="w-5 h-5">
              <path d="M5 10C3.9 10 3 10.9 3 12C3 13.1 3.9 14 5 14C6.1 14 7 13.1 7 12C7 10.9 6.1 10 5 10ZM19 10C17.9 10 17 10.9 17 12C17 13.1 17.9 14 19 14C20.1 14 21 13.1 21 12C21 10.9 20.1 10 19 10ZM12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10Z"></path>
            </svg>
          </div>
        </div>
        <div class="mx-3 w-[1px] h-3.5 bg-divider-regular">
        </div>
        <div class="flex items-center justify-center w-8 h-8 rounded-md cursor-pointer
          text-text-tertiary hover:text-base-content hover:bg-hover-bg"
          (click)="closePanel()"
        >
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="w-5 h-5">
            <path d="M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z"></path>
          </svg>
        </div>
      </div>
    </div>

    <div class="p-2 flex flex-col">
      <input
        matInput
          class="ngm-input-inline ngm-input-sm self-stretch mx-2 mb-1 px-1 py-0.5 text-sm field font-semibold rounded-lg border border-transparent appearance-none outline-none hover:bg-gray-50 focus:border-gray-300 focus:shadow-xs focus:bg-white caret-[#295EFF]"
          [ngClass]="{ 'ngm-error': nameError() }"
          [ngModel]="name()"
          (ngModelChange)="onNameChange($event)"
          (blur)="onBlur()"
          [matTooltip]="'PAC.Xpert.NameExisted' | translate: { Default: 'Name existed or empty!' }"
          [matTooltipDisabled]="!nameError()"
          [placeholder]="'标识, 默认使用 '+key()"
        />
      <div class="group flex px-2 py-[5px] max-h-[60px] rounded-lg overflow-y-auto border border-transparent hover:bg-gray-50 focus:border-gray-300 focus:shadow-xs">
        <textarea
          matInput
          class="rc-textarea w-full text-sm text-gray-900 leading-[18px] bg-transparent appearance-none outline-none resize-none placeholder:text-gray-400 caret-[#295EFF]"
          [placeholder]="'添加描述...'"
          [ngModel]="xpertAgent().description"
          (ngModelChange)="onDescChange($event)"
          (blur)="onBlur()"
        >
        </textarea>
      </div>
    </div>
  </div>

  <div class="px-4 pb-4 space-y-4 mt-2 w-full">

    <copilot-model-select [inheritModel]="xpertCopilotModel()" [modelType]="eModelType.LLM" [(copilotModel)]="copilotModel" 
      (copilotModelChange)="updateCopilotModel($event)" />

    <div class="relative shadow-md ngm-card-border-gradient self-stretch">
      <div class="rounded-xl bg-component-card-bg">
        <div class="flex justify-between items-center h-11 pl-3 pr-6">
          <div class="flex items-center space-x-1">
            <div class="h2">前缀提示词</div>
            <div class="p-[1px] w-3.5 h-3.5 shrink-0" data-state="closed">
              <svg
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                class="hover:text-text-tertiary w-full h-full"
              >
                <path
                  d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM11 15H13V17H11V15ZM13 13.3551V14H11V12.5C11 11.9477 11.4477 11.5 12 11.5C12.8284 11.5 13.5 10.8284 13.5 10C13.5 9.17157 12.8284 8.5 12 8.5C11.2723 8.5 10.6656 9.01823 10.5288 9.70577L8.56731 9.31346C8.88637 7.70919 10.302 6.5 12 6.5C13.933 6.5 15.5 8.067 15.5 10C15.5 11.5855 14.4457 12.9248 13 13.3551Z"
                ></path>
              </svg>
            </div>
          </div>
          <div class="flex items-center">
            <div class="flex space-x-1 items-center !h-8 cursor-pointer">
              <svg
                width="14"
                height="14"
                viewBox="0 0 14 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="w-3.5 h-3.5 text-indigo-600"
                data-icon="Generator"
              >
                <path
                  opacity="0.5"
                  d="M10.5402 2.95679L10.5402 2.95685C10.4455 3.05146 10.3424 3.13459 10.2314 3.2072C10.3429 3.27923 10.4468 3.36165 10.5422 3.45535L10.5402 2.95679ZM10.5402 2.95679C10.6348 2.86217 10.718 2.75907 10.7906 2.64807C10.8626 2.75955 10.945 2.86339 11.0387 2.95881L11.0388 2.95888C11.1304 3.05224 11.2302 3.13482 11.3377 3.20717C11.2297 3.27895 11.1292 3.36081 11.0367 3.45327L11.0366 3.45333C10.9442 3.5458 10.8623 3.64635 10.7905 3.75431M10.5402 2.95679L10.7905 3.75431M10.7905 3.75431C10.7182 3.64686 10.6356 3.54707 10.5422 3.45538L10.7905 3.75431Z"
                  stroke="currentColor"
                  stroke-width="1.25"
                ></path>
                <path
                  d="M6.99659 2.85105C6.96323 2.55641 6.71414 2.33368 6.41758 2.33337C6.12107 2.33307 5.87146 2.55529 5.83751 2.84987C5.67932 4.2213 5.27205 5.16213 4.6339 5.80028C3.99575 6.43841 3.05492 6.84569 1.68349 7.00389C1.3889 7.03784 1.16669 7.28745 1.16699 7.58396C1.1673 7.88052 1.39002 8.12961 1.68467 8.16297C3.03291 8.31569 3.99517 8.72292 4.64954 9.36546C5.30035 10.0045 5.71535 10.944 5.83593 12.3017C5.86271 12.6029 6.11523 12.8337 6.41763 12.8334C6.72009 12.833 6.97209 12.6016 6.99817 12.3003C7.11367 10.9656 7.52836 10.005 8.18344 9.34982C8.83858 8.69474 9.79922 8.28005 11.1339 8.16455C11.4352 8.13847 11.6666 7.88647 11.667 7.58402C11.6673 7.28162 11.4365 7.02909 11.1353 7.00232C9.77758 6.88174 8.83812 6.46676 8.19908 5.81592C7.55653 5.16155 7.14931 4.19929 6.99659 2.85105Z"
                  fill="currentColor"
                ></path></svg
              ><span class="text-xs font-semibold text-indigo-600">生成</span>
            </div>
          </div>
        </div>
        <div class="relative">
          <div
            class="px-4 pt-2 min-h-[228px] bg-white rounded-t-xl text-sm text-gray-700 overflow-y-auto"
            style="height: 228px"
          >
            <div class="relative min-h-5">
              <div #editablePrompt
                class="min-h-[210px] outline-none leading-5 text-[13px] text-gray-700"
                contenteditable="true"
                role="textbox"
                spellcheck="true"
                style="user-select: text; white-space: pre-wrap; word-break: break-word"
                (blur)="onPromptChange()"
                ngmHighlightVar
                [regex]="regex"
                [content]="prompt()"
                customClasses="inline-flex items-center px-0.5 h-[22px] rounded-md  align-middle
                  bg-blue-100 text-[#155EEF]"
              >
              </div>
            </div>
          </div>
          <div class="pl-4 pb-2 flex bg-white rounded-b-xl">
            <div class="h-[18px] leading-[18px] px-1 rounded-md bg-gray-100 text-xs text-gray-500">{{promptLength()}}</div>
          </div>
          <div class="absolute bottom-0 left-0 w-full flex justify-center h-2 cursor-row-resize">
            <div class="w-5 h-[3px] rounded-sm bg-gray-300"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="px-3 pb-2 flex flex-col items-stretch">
      @if (toolsets()?.length) {
        <label class="mt-4 text-left">Tools:</label>
      }
      @for (toolset of toolsets(); track toolset.id) {
        <xpert-studio-panel-role-toolset
          [toolset]="toolset"
          class="flex items-center cursor-pointer px-2 py-1 rounded-md hover:bg-black/5 dark:hover:bg-white/10"
        >
          <xpert-avatar [avatar]="toolset.avatar" class="shrink-0 mr-2 w-6 h-6 overflow-hidden rounded-full" />
          <span class="whitespace-nowrap text-ellipsis overflow-hidden" [title]="toolset.name">{{ toolset.name }}</span>
        </xpert-studio-panel-role-toolset>
      }
    </div>
  </div>
</div>

@if (openedExecution()) {
  <div class="absolute top-0 left-0 w-full h-full z-50 bg-black/20 dark:bg-neutral-500/50 backdrop-blur-[2px]" @ifAnimationTrigger (click)="closeExecution()">
    <xpert-studio-panel-agent-execution class="absolute top-14 left-0 bottom-0 w-full rounded-t-xl bg-components-panel-bg"
      [xpertAgent]="xpertAgent()" [xpert]="xpert()" (click)="$event.stopPropagation()" />
  </div>
}