<div class="pac-page-body-toolbar">
    <pac-inline-search [(ngModel)]="search"></pac-inline-search>

    <div class="flex justify-start items-center gap-4">
        <label>{{ 'PAC.KEY_WORDS.Role' | translate: {Default: 'Role'} }}:</label>
        <mtx-checkbox-group [items]="ROLES" [(ngModel)]="roles">
        </mtx-checkbox-group>
    </div>
    
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2">
    <div *ngFor="let user of users$ | async" >
        <mat-card class="pac-sketch-card relative">
            <mat-card-header>
                <div mat-card-avatar [routerLink]="['/settings/users/', user.id]" >
                    <img src="{{user.imageUrl || 'assets/images/avatar-default.svg'}}">
                </div>
                <mat-card-title class="flex justify-between items-center">
                    <a [routerLink]="['/settings/users/', user.id]" style="overflow: hidden;">{{ user | user }}</a>
                </mat-card-title>
                <mat-card-subtitle class="flex">
                    <span class="text-xs inline-flex items-center font-bold leading-sm uppercase px-2 py-1 rounded-lg"
                        [ngClass]="{
                            'bg-blue-100 text-blue-500': user.role.name === 'VIEWER',
                            'bg-yellow-100 text-yellow-500': user.role.name === 'ADMIN',
                            'bg-red-100 text-red-500': user.role.name=== 'SUPER_ADMIN',
                            'bg-green-100 text-green-500': !['VIEWER', 'ADMIN', 'SUPER_ADMIN'].includes(user.role.name)
                        }"
                    >
                        {{user.role.name}}
                    </span>
                    <div>{{user.email}}</div>
                </mat-card-subtitle>
            </mat-card-header>

            <button mat-icon-button displayDensity="cosy" class="pac-sketch-card__menu"
                [matMenuTriggerFor]="menu" [matMenuTriggerData]="{user: user}"
                #mt="matMenuTrigger"
                [class.active]="mt.menuOpen"
                >
                <mat-icon>more_vert</mat-icon>
            </button>
        </mat-card>
    </div>
</div>

<mat-menu #menu="matMenu">
    <ng-template matMenuContent let-user="user">
        <button mat-menu-item [routerLink]="['/settings/users/', user.id]">
            <mat-icon>edit</mat-icon>
            <span>{{ 'PAC.ACTIONS.Edit' | translate: {Default: "Edit"} }}</span>
        </button>
    
        <button mat-menu-item ngmAppearance="danger" (click)="remove(user)">
            <mat-icon fontSet="material-icons-round">delete_forever</mat-icon>
            <span>{{ 'PAC.ACTIONS.Delete' | translate: {Default: "Delete"} }}</span>
        </button>
    </ng-template>
</mat-menu>
