<section id="chatTools" class="h-full pt-4 pb-2 md:pb-4">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 h-full flex flex-col">
    <div class="title container relative mx-auto text-center">
      <h1 class="font-bold text-2xl md:text-3xl pb-2">
        {{ 'PAC.ChatBI.Title' | translate: {Default: 'ChatBI-Data Analysis &amp; Insights with' } }}
        
        <ngm-select class="inline-block" displayDensity="cosy"
          [placeholder]="hasModel() ? ('PAC.KEY_WORDS.SemanticModel' | translate: {Default: 'Semantic Model'}) : ('PAC.ChatBI.NoSemanticModel' | translate: {Default: 'No Semantic Model'})"
          [displayBehaviour]="DisplayBehaviour.descriptionOnly"
          [selectOptions]="models()"
          [panelWidth]="400"
          valueKey="key"
          [(ngModel)]="modelId"
        />
      </h1>
      <p class="text-zinc-500 text-xs md:text-sm">
        {{ 'PAC.ChatBI.TransformData' | translate: {Default: 'Transform data into insights with AI.' } }}
      </p>
    </div>

    <div class="w-full flex-1 flex flex-col lg:flex-row-reverse justify-between items-stretch overflow-hidden">
      <pac-chatbi-models class="my-4 w-full min-h-[120px] lg:w-80 rounded-lg border 
        border-gray-200 bg-white dark:border-zinc-800 dark:bg-neutral-950" />
      <pac-chatbi-chat class="flex-1 lg:m-4 lg:flex-1 rounded-xl border shadow-lg shadow-sky-800/10 overflow-hidden grid grid-cols-1
        border-zinc-200 bg-white dark:border-zinc-800 dark:bg-neutral-950"/>
    </div>
  </div>
</section>

@if (showExplorer()) {
  <ngm-story-explorer class="absolute top-0 left-0 w-full h-full z-20"
    cdkDropListGroup
    [data]="explore()"
    (closed)="closeExplorer($event)"
  />
}