/* Your styles goes here. */
.appContainer {
    margin-top: 1rem;
}

.MuiGrid-root {
  .AnalyticalCard {
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    height: 350px;
  }
}
