<header mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <h4 style="pointer-events: none;">
        {{ 'PAC.MODEL.MODEL.Preferences' | translate: {Default: "Preferences"} }}
    </h4>
</header>

<mat-dialog-content class="mat-typography">
    <formly-form [form]="form" [fields]="fields" [model]="model"
        (modelChange)="onFormChange(model)">
    </formly-form>

    <div *ngIf="model.preferences?.exposeXmla" class="w-full overflow-auto mt-2">
        <a [href]="xmlaUrl">{{xmlaUrl}}</a>
    </div>
</mat-dialog-content>
<mat-dialog-actions >
    <button mat-button mat-dialog-close>
        {{ 'PAC.KEY_WORDS.Cancel' | translate: {Default: "Cancel"} }}
    </button>

    <div ngmButtonGroup>
        <button mat-stroked-button (click)="reset()">
            {{ 'PAC.KEY_WORDS.Reset' | translate: {Default: "Reset"} }}
        </button>
        <button mat-raised-button color="accent" cdkFocusInitial [mat-dialog-close]="model">
            {{ 'PAC.KEY_WORDS.Apply' | translate: {Default: "Apply"} }}
        </button>
    </div>
</mat-dialog-actions>
