<ngm-story class="w-full h-full"
    [story]="story()"
    [pageKey]="pageKey"
    [widgetKey]="widgetKey"
    [dark]="isDark$ | async"

    ngmTransformScale
>
</ngm-story>

<!-- <button *ngIf="showFullscreenButton" mat-icon-button
    color="primary"
    class="pac-story-viewer__anchor" (click)="toggleFullscreen()">
    <mat-icon *ngIf="fullscreen">unfold_less</mat-icon>
    <mat-icon *ngIf="!fullscreen">unfold_more</mat-icon>
</button> -->

<a *ngIf="story()" class="absolute right-1 bottom-0 z-10" href="/">
    @{{ story().createdBy | createdBy }}
</a>
