@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);

  .cdk-virtual-scroll-viewport.ngm-smart-filter__autocomplete-viewport {
    .mat-option-text {
      overflow: visible;
    }
    .mat-checkbox {
      display: flex;
      .mat-checkbox-layout {
        flex: 1;
        .mat-checkbox-label {
          flex: 1;
        }
      }
    }
  }

}

@mixin typography($config-or-theme) {
}

@mixin density($config-or-theme) {

}
