<div class="filter-bar m-2 flex items-center gap-4">
    <span class="flex-1"></span>

    <button mat-icon-button [matTooltip]="'Add new role'"
        (click)="addRole()">
        <mat-icon>add</mat-icon>
    </button>
</div>

<table mat-table [dataSource]="dataSource()">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element">
          @if (element.__edit__) {
            <ngm-input [(ngModel)]="element.name" class="mt-4" />
          } @else {
            {{element.name}}
          }
        </td>
      </ng-container>
  
      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element">
          @if (element.__edit__) {
            <ngm-input [(ngModel)]="element.title" class="mt-4" />
          } @else {
            {{element.title}}
          }
        </td>
      </ng-container>
  
      <!-- Title CN Column -->
      <ng-container matColumnDef="titleCN">
        <th mat-header-cell *matHeaderCellDef> Title (CN) </th>
        <td mat-cell *matCellDef="let element">
          @if (element.__edit__) {
            <ngm-input [(ngModel)]="element.titleCN" class="mt-4" />
          } @else {
            {{element.titleCN}}
          }
        </td>
      </ng-container>
  
      <!-- Desc Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element">
          @if (element.__edit__) {
            <ngm-input [(ngModel)]="element.description" class="mt-4" />
          } @else {
            {{element.description}}
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <div class="flex items-center gap-2">
            @if (element.__edit__) {
              <button mat-icon-button class="text-gray-500" (click)="saveEdit(element)">
                <mat-icon fontSet="material-icons-outlined">save</mat-icon>
              </button>
            } @else {
              <button mat-icon-button class="text-gray-500" (click)="startEdit(element)">
                <mat-icon fontSet="material-icons-outlined">edit</mat-icon>
              </button>
            }

            <button mat-icon-button class="text-gray-500" ngmAppearance="danger" (click)="deleteRole(element)">
              <mat-icon fontSet="material-icons-outlined">delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
