@import './insight/_insight.component';

.pac-home__content {
  .pac-home__gridster-item {
    background: transparent;
  
    .pac-home__widget-actions {
      position: absolute;
      right: -30px;
      top: 0;
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
    }
  
    &:hover {
      z-index: 1000 !important;
      .pac-home__widget-actions {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
