:host {
    @apply w-full flex-1 flex flex-col;
}

.cdk-cell {
    @apply whitespace-nowrap;
}

:host::ng-deep {
    pac-settings-xpert-toolset {
        @apply absolute w-full h-full;
        z-index: 110;
    }
}
