<div class="flex justify-between items-center px-4">
    <h2 class="text-base flex justify-start items-center">
        <button mat-icon-button (click)="back()">
            <mat-icon>navigate_before</mat-icon>
        </button>
        {{ 'PAC.ACTIONS.ManageInvites' | translate: {Default: "Manage Invites"} }}
        {{ organizationName$ | async }}
    </h2>
    <div ngmButtonGroup>
        <button mat-raised-button displayDensity="cosy" color="primary" (click)="invite()">
            <div class="flex items-center">
                <mat-icon fontSet="material-icons-outlined">person_add</mat-icon>{{ 'PAC.ACTIONS.INVITE' | translate: {Default: "Invite"} }}
            </div>
        </button>
    </div>
</div>

<div class="flex-1 p-4 overflow-y-auto">
    <nx-table class="rounded-xl border border-gray-200 overflow-hidden"
        [columns]="[
            {
                name: 'email',
                caption: 'INVITE_PAGE.Email' | translate: {Default: 'Email'}
            },
            {
                name: 'role.name',
                caption: 'INVITE_PAGE.Role' | translate: {Default: 'Role'}
            },
            {
                name: 'invitedBy',
                caption: 'INVITE_PAGE.InvitedBy' | translate: {Default: 'Invited By'},
                pipe: userLabel
            },
            {
                name: 'createdAt',
                caption: 'INVITE_PAGE.CreatedAt' | translate: {Default: 'Created At'}
            },
            {
                name: 'expireDate',
                caption: 'INVITE_PAGE.Expires' | translate: {Default: 'Expires'}
            },
            {
                name: 'statusText',
                caption: 'INVITE_PAGE.Status' | translate: {Default: 'Status'},
                cellTemplate: statusTempl
            },
            {
                name: 'action',
                caption: 'INVITE_PAGE.Action' | translate: {Default: 'Action'},
                cellTemplate: actionTempl
            }
        ]"
        [data]="invites$ | async">
    </nx-table>
</div>

<ng-template #actionTempl let-id="id" let-email="email">
    <button mat-icon-button displayDensity="cosy" ngmAppearance="danger" (click)="deleteInvite(id, email)">
        <div class="flex justify-center items-center">
            <mat-icon>close</mat-icon>
        </div>
    </button>
</ng-template>

<ng-template #statusTempl let-status="status" let-statusText="statusText">
    <span [ngSwitch]="status" class="bg-gray-100 text-gray-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">
        <span *ngSwitchCase="'INVITED'" class="inline-block w-2 h-2 bg-blue-400 rounded-full"></span>
        <span *ngSwitchCase="'ACCEPTED'" class="inline-block w-2 h-2 bg-green-400 rounded-full"></span>
        <span *ngSwitchCase="'EXPIRED'" class="inline-block w-2 h-2 bg-yellow-400 rounded-full"></span>
        {{ statusText }}
    </span>
</ng-template>
