<ngm-table class="overflow-hidden rounded-lg border m-4"
    displayDensity="comfortable"
    paging
    [data]="usages()"
    [columns]="[
      {
        name: 'user',
        caption: 'PAC.KEY_WORDS.User' | translate: {Default: 'User'},
        cellTemplate: userTempl
      },
      {
        name: 'organization',
        caption: 'PAC.KEY_WORDS.Organization' | translate: {Default: 'Organization'},
        cellTemplate: orgTempl
      },
      {
        name: 'provider',
        caption: 'PAC.KEY_WORDS.Provider' | translate: {Default: 'Provider'},
      },
      {
        name: 'tokenUsed',
        caption: 'PAC.KEY_WORDS.TokenUsed' | translate: {Default: 'Token Used'},
        pipe: formatNumber
      },
      {
        name: 'tokenLimit',
        caption: 'PAC.KEY_WORDS.TokenLimit' | translate: {Default: 'Token Limit'}
      },
      {
        name: 'tokenTotalUsed',
        caption: 'PAC.KEY_WORDS.TokenTotalUsed' | translate: {Default: 'Token Total Used'}
      },
      {
        name: 'action',
        caption: 'PAC.KEY_WORDS.ACTION' | translate: { Default: 'Action' },
        cellTemplate: actionTempl
      }
    ]"
/>

<ng-template #userTempl let-user>
  @if (user) {
    <pac-user-profile-inline [user]="user" />
  }
</ng-template>

<ng-template #orgTempl let-organization>
  @if (organization) {
    <div class="flex justify-start items-center overflow-hidden text-ellipsis">
      <pac-org-avatar [organization]="organization" class="shrink-0 w-6 h-6 rounded-full overflow-hidden block mr-2" />
      <span class="whitespace-nowrap" [title]="organization.name">{{organization.name}}</span>
    </div>
  }
</ng-template>

<ng-template #actionTempl let-id="id" >
  <div class="flex items-center gap-2" displayDensity="compact">
    @if (editId() === id) {
      <ngm-input type="number" simple [disabled]="loading()" [(ngModel)]="tokenLimit" />
      <button mat-icon-button class="text-gray-400"
        [disabled]="loading()"
        [matTooltip]="'PAC.'"
        (click)="save(id)"
      >
        <mat-icon fontSet="material-icons-outlined">save</mat-icon>
      </button>
    } @else {
      <button mat-icon-button class="text-gray-400"
        [disabled]="loading()"
        [matTooltip]="''"
        (click)="renewToken(id)"
      >
        <mat-icon fontSet="material-icons-outlined">autorenew</mat-icon>
      </button>
    }
  </div>
</ng-template>