<div fNodeInput [fInputId]="node().key" fInputConnectableSide="left" class="left"></div>

<div class="max-w-full flex justify-start items-center px-3 pt-3 pb-2">
  <emoji-avatar [avatar]="toolset().avatar" small class="shrink-0 mr-2 rounded-lg overflow-hidden shadow-sm" />
  <div class="truncate">
    {{toolset().name}}
  </div>
</div>

<div class="max-w-full max-h-14 px-4 text-text-tertiary text-sm text-left line-clamp-2"
  [title]="toolset().description">{{toolset().description}}</div>

<div class="w-full flex flex-col justify-start items-stretch p-2 gap-1 max-h-48 overflow-y-auto"
  (wheel)="$event.stopPropagation()"
>
  @for (tool of availableTools(); track tool.id) {
    <div class="relative flex items-center px-4 py-2 text-left rounded-lg text-sm bg-gray-100">
      @switch (toolExecutions()[tool.name]?.status) {
        @case (eXpertAgentExecutionEnum.RUNNING) {
          <ngm-spin class="-ml-2 mr-2" small />
        }
        @case (eXpertAgentExecutionEnum.FAILED) {
          <div class="w-2 h-2 border border-solid rounded-[3px] bg-red-500 border-red-600 shadow-[0_0_5px_-3px_rgba(14,159,110,0.1),0.5px_0.5px_3px_rgba(14,159,110,0.3),inset_1.5px_1.5px_0px_rgba(255,255,255,0.2)] mr-2"></div>
        }
        @case (eXpertAgentExecutionEnum.SUCCEEDED) {
          <div class="w-2 h-2 border border-solid rounded-[3px] bg-[#31C48D] border-[#0E9F6E] shadow-[0_0_5px_-3px_rgba(14,159,110,0.1),0.5px_0.5px_3px_rgba(14,159,110,0.3),inset_1.5px_1.5px_0px_rgba(255,255,255,0.2)] mr-2"></div>
        }
      }
      <span>
        {{tool.name}}
      </span>
    </div>
  }
</div>