// Minimum height for toolbar's in the highest density is difficult to determine because
// developers can project arbitrary content. We use a minimum value that ensures that most
// common content (e.g. icon buttons) does not exceed the row boundaries in highest density.
$nx-breadcrumb-minimum-height: 24px !default;

$nx-breadcrumb-height-desktop: 36px !default;
$nx-breadcrumb-maximum-height-desktop: $nx-breadcrumb-height-desktop !default;
$nx-breadcrumb-minimum-height-desktop: $nx-breadcrumb-minimum-height !default;

$nx-breadcrumb-height-mobile: 26px !default;
$nx-breadcrumb-maximum-height-mobile: $nx-breadcrumb-height-mobile !default;
$nx-breadcrumb-minimum-height-mobile: $nx-breadcrumb-minimum-height !default;

$nx-breadcrumb-desktop-density-config: (
  height: (
    default: $nx-breadcrumb-height-desktop,
    maximum: $nx-breadcrumb-maximum-height-desktop,
    minimum: $nx-breadcrumb-minimum-height-desktop,
  )
) !default;

$nx-breadcrumb-mobile-density-config: (
  height: (
    default: $nx-breadcrumb-height-mobile,
    maximum: $nx-breadcrumb-maximum-height-mobile,
    minimum: $nx-breadcrumb-minimum-height-mobile,
  )
) !default;
