@if (hiddenLabel()) {
  <div class="flex justify-between items-center">
    <div class="flex items-center h-6">
      <div class="">{{'PAC.Copilot.Models' | translate: {Default: 'Models'} }}</div>
    </div>
    <div class="flex"></div>
  </div>
}

<div class="flex items-center px-2 h-8 rounded-lg cursor-pointer bg-gray-100 border border-gray-100 hover:border-gray-200">
  <div class="flex-1 relative flex items-center overflow-hidden"
    [cdkMenuTriggerFor]="readonly() ? null : modelsMenu"
  >
    @if (selectedCopilotWithModels(); as copilot) {
      <img [src]="copilot.providerWithModels.icon_small | i18n" class="w-4 h-4 mr-1.5">
    }

    <div class="flex items-center truncate text-[13px] font-medium text-gray-800 mr-1.5">
      <div class="truncate" [title]="_copilotModel()?.model">{{_copilotModel()?.model}}</div>
      
      <div
        class="flex items-center px-1 h-[18px] rounded-[5px] border border-black/8 bg-white/[0.48] text-[10px] font-medium text-gray-500 cursor-default ml-1"
      >
        CHAT
      </div>
      <div class="inline-block cursor-help">
        
      </div>
    </div>
  @if (!readonly()) {
    <svg
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="absolute right-0 w-3.5 h-3.5 text-gray-500"
      >
        <path
          d="M11.9999 13.1714L16.9497 8.22168L18.3639 9.63589L11.9999 15.9999L5.63599 9.63589L7.0502 8.22168L11.9999 13.1714Z"
        ></path>
    </svg>
  }
  </div>

  @if (!readonly()) {
    <div class="cursor-pointer p-1 rounded-lg border border-transparent hover:bg-black/5 hover:border-slate-200"
      [cdkMenuTriggerFor]="parametersMenu"
      >
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="text-gray-500 shrink-0 w-4 h-4"
      >
        <path
          d="M3 5H9M9 5C9 6.10457 9.89543 7 11 7C12.1046 7 13 6.10457 13 5C13 3.89543 12.1046 3 11 3C9.89543 3 9 3.89543 9 5ZM17 5L21 5M3 12H9M17 12H21M17 12C17 10.8954 16.1046 10 15 10C13.8954 10 13 10.8954 13 12C13 13.1046 13.8954 14 15 14C16.1046 14 17 13.1046 17 12ZM3 19H7M7 19C7 20.1046 7.89543 21 9 21C10.1046 21 11 20.1046 11 19C11 17.8954 10.1046 17 9 17C7.89543 17 7 17.8954 7 19ZM15 19H21"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
      </svg>
    </div>
  }
</div>

<ng-template #parametersMenu>
  <div #menu="cdkMenu" cdkMenu class="ngm-cdk-menu p-2 copilot-model-parameters-menu">

    <div class="max-h-[480px] overflow-y-auto p-8">
      <div class="flex items-center justify-between">
        <div class="font-semibold text-gray-900">参数</div>
      </div>
      @for (parameter of modelParameterRules(); track parameter.name) {
        <div class="flex items-center justify-between">
          <div class="flex-1 mr-4">
            <div class="w-full shrink-0 flex items-center">
              <div class="mr-0.5 text-[13px] font-medium text-gray-700 truncate" [title]="parameter.label | i18n">{{parameter.label | i18n}}</div>
              <div class="mr-1 w-4 h-4 shrink-0" [matTooltip]="parameter.help | i18n" matTooltipPosition="before">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="remixicon text-text-quaternary hover:text-text-tertiary w-full h-full">
                  <path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM11 15H13V17H11V15ZM13 13.3551V14H11V12.5C11 11.9477 11.4477 11.5 12 11.5C12.8284 11.5 13.5 10.8284 13.5 10C13.5 9.17157 12.8284 8.5 12 8.5C11.2723 8.5 10.6656 9.01823 10.5288 9.70577L8.56731 9.31346C8.88637 7.70919 10.302 6.5 12 6.5C13.933 6.5 15.5 8.067 15.5 10C15.5 11.5855 14.4457 12.9248 13 13.3551Z"></path>
                </svg>
              </div>
            </div>
          </div>
  
          @switch (parameter.type) {
            @case('float') {
              <mat-slider class="w-[200px]" ngm-density="small" [min]="parameter.min" [max]="parameter.max" [step]="0.1" discrete>
                <input matSliderThumb [value]="getParameter(parameter.name)"
                  (dragEnd)="updateParameter(parameter.name, $event.value)">
              </mat-slider>
  
              <input matInput class="shrink-0 block ml-4 pl-3 w-16 h-8 appearance-none outline-none rounded-lg bg-gray-100 text-[13px] text-gra-900" [max]="parameter.max" [min]="parameter.min" [step]="0.1" type="number"
                [ngModel]="getParameter(parameter.name)"
                (ngModelChange)="updateParameter(parameter.name, $event)"
                [ngModelOptions]="{standalone: true}">
            }
        
            @case ('int') {
              <mat-slider class="w-[200px]" ngm-density="small" [min]="parameter.min" [max]="parameter.max" discrete>
                <input matSliderThumb [value]="getParameter(parameter.name)"
                  (dragEnd)="updateParameter(parameter.name, $event.value)" >
              </mat-slider>
  
              <input matInput class="shrink-0 block ml-4 pl-3 w-16 h-8 appearance-none outline-none rounded-lg bg-gray-100 text-[13px] text-gra-900" [max]="parameter.max" [min]="parameter.min" [step]="1" type="number"
                [ngModel]="getParameter(parameter.name)"
                (ngModelChange)="updateParameter(parameter.name, $event)"
                [ngModelOptions]="{standalone: true}">
            }
        
            @default {
              @if (parameter.options) {
                <mat-select class="w-full h-full rounded-lg border-0 bg-gray-100 py-1.5 pl-3 pr-4 sm:text-sm sm:leading-6 focus-visible:outline-none focus-visible:bg-gray-200 group-hover:bg-gray-200 cursor-pointer"
                  [ngModel]="getParameter(parameter.name)"
                  (ngModelChange)="updateParameter(parameter.name, $event)"
                  [ngModelOptions]="{standalone: true}">
                  @for (option of parameter.options; track option) {
                    <mat-option [value]="option">{{option}}</mat-option>
                  }
                </mat-select>
              } @else {
                <input matInput class="w-full ml-4 flex items-center px-3 h-8 appearance-none outline-none rounded-lg bg-gray-100 text-[13px] text-gra-900"
                  [ngModel]="getParameter(parameter.name)"
                  (ngModelChange)="updateParameter(parameter.name, $event)"
                  [ngModelOptions]="{standalone: true}">
              }
            }
          }
        </div>
      }
    </div>
  </div>
</ng-template>

<ng-template #modelsMenu>
  <div #menu="cdkMenu" cdkMenu class="ngm-cdk-menu pl-2">
    <div class="p-1 overflow-auto">
      <ngm-search class="mt-1 sticky top-0 rounded-lg overflow-hidden" [formControl]="searchControl"></ngm-search>

        <ul cdkListbox >
          @for (copilot of searchedModels(); track copilot.id) {
            <div class="h-0.5 mx-2 my-2 rounded-full bg-neutral-100"></div>
            <div class="text-base px-2 my-2 font-semibold flex justify-start items-center">
              <span class="uppercase">{{copilot.role}}</span> - <img [src]="(copilot.providerWithModels.icon_small | i18n)" class="w-4 h-4 inline-block mx-1"> {{copilot.providerWithModels?.label | i18n }}</div>
            @for (item of copilot.providerWithModels?.models; track item.model) {
              <li cdkMenuItem class="flex justify-start items-center gap-2 px-4 py-2 rounded-xl cursor-pointer hover:bg-primary-100/50 hover:text-primary-500"
                [ngClass]="model() === item.model ? 'bg-primary-100 text-primary-600 font-semibold' : ''"
                (click)="setModel(copilot, item.model);"
              >
                <span [ngmHighlight]="searchText()"
                  [content]="item.model"
                  customClasses="text-primary-600">{{item.model}}</span>
                @if (item.model_type === 'llm') {
                  <div class="flex items-center px-1 h-[18px] rounded-[5px] border border-black/8 bg-white/[0.48] text-[10px] font-medium text-gray-500 cursor-default">
                    CHAT
                  </div>
                }
                @if (item.features.includes(eModelFeature.VISION)) {
                  <div class="flex items-center px-1 h-[18px] rounded-[5px] border border-black/8 bg-white/[0.48] text-[10px] font-medium cursor-default mr-0.5 w-[18px] justify-center">
                    <svg
                      width="12"
                      height="12"
                      viewBox="0 0 12 12"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                      class="w-3 h-3"
                    >
                      <g id="eye-sparkle, magic eyes">
                        <path
                          id="Icon"
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M11.0338 5.05688C9.75366 3.05335 7.90203 1.99999 6.00017 2C4.09831 2.00001 2.24669 3.05341 0.966566 5.05693C0.599687 5.63113 0.599686 6.36892 0.966566 6.94312C2.24669 8.94665 4.09832 10 6.00018 10C7.90204 9.99999 9.75366 8.94659 11.0338 6.94307C11.4007 6.36887 11.4007 5.63108 11.0338 5.05688ZM5.77639 4.44721L5.3706 5.2588C5.34641 5.30718 5.30718 5.34641 5.2588 5.3706L4.44721 5.77639C4.26295 5.86852 4.26295 6.13148 4.44721 6.22361L5.2588 6.6294C5.30718 6.65359 5.34641 6.69282 5.3706 6.7412L5.77639 7.55279C5.86852 7.73705 6.13148 7.73705 6.22361 7.55279L6.6294 6.7412C6.65359 6.69282 6.69282 6.65359 6.7412 6.6294L7.55279 6.22361C7.73705 6.13148 7.73705 5.86852 7.55279 5.77639L6.7412 5.3706C6.69282 5.34641 6.65359 5.30718 6.6294 5.2588L6.22361 4.44721C6.13148 4.26295 5.86852 4.26295 5.77639 4.44721Z"
                          fill="currentColor"
                        ></path>
                      </g>
                    </svg>
                  </div>
                }
              </li>
            }
          }
        </ul>
    </div>
  </div>
</ng-template>