<h2 class="text-xl">{{ 'PAC.MODEL.ModelOverview' | translate: {Default: 'Semantic Model Overview'} }}</h2>

<ng-container *ngIf="dimensions$ | async as dimensions">
<h3 class="mb-2 mt-4">{{ 'PAC.MODEL.SharedDimensions' | translate: {Default: 'Shared Dimensions'} }}</h3>
<ngm-table class="rounded-lg border overflow-hidden" paging [pageSizeOptions]="[10, 20]"
    [columns]="[
        {
            name: 'name',
            caption: 'PAC.KEY_WORDS.Name' | translate: {Default: 'Name'},
            cellTemplate: dimTempl 
        },
        {
            name: 'caption',
            caption: 'PAC.KEY_WORDS.Caption' | translate: {Default: 'Caption'}
        },
        {
            name: 'description',
            caption: 'PAC.KEY_WORDS.Description' | translate: {Default: 'Description'}
        }]"
    [data]="dimensions">
</ngm-table>
</ng-container>
<ng-template #dimTempl let-key="__id__" let-name="name">
    <a [routerLink]="['dimension', key]"><span>{{name}}</span></a>
</ng-template>


<h3 class="mb-2 mt-4">{{ 'PAC.MODEL.Cubes' | translate: {Default: 'Cubes'} }}</h3>
<ngm-table class="rounded-lg border overflow-hidden" paging [pageSizeOptions]="[10, 20]" [columns]="[
{
    name: 'name',
    caption: 'PAC.KEY_WORDS.Name' | translate: {Default: 'Name'},
    cellTemplate: cubeTempl 
},
{
    name: 'caption',
    caption: 'PAC.KEY_WORDS.Caption' | translate: {Default: 'Caption'}
},
{
    name: 'description',
    caption: 'PAC.KEY_WORDS.Description' | translate: {Default: 'Description'}
}]" [data]="cubes$ | async"></ngm-table>
<ng-template #cubeTempl let-key="__id__" let-name="name">
    <a [routerLink]="['entity', key]"><span>{{name}}</span></a>
</ng-template>

<ng-container *ngIf="virtualCubes$ | async as virtualCubes">
<h3 class="mb-2 mt-4">{{ 'PAC.MODEL.VirtualCubes' | translate: {Default: 'Virtual Cubes'} }}</h3>
<ngm-table class="rounded-lg border overflow-hidden" paging [pageSizeOptions]="[10, 20]" [columns]="[
    {
        name: 'name',
        caption: 'PAC.KEY_WORDS.Name' | translate: {Default: 'Name'},
        cellTemplate: vCubeTempl 
    },
    {
        name: 'caption',
        caption: 'PAC.KEY_WORDS.Caption' | translate: {Default: 'Caption'}
    },
    {
        name: 'description',
        caption: 'PAC.KEY_WORDS.Description' | translate: {Default: 'Description'}
    }
]" [data]="virtualCubes"></ngm-table>
</ng-container>
<ng-template #vCubeTempl let-key="__id__" let-name="name">
    <a [routerLink]="['virtual-cube', key]"><span>{{name}}</span></a>
</ng-template>

<!-- 角色 -->
<ng-container *ngIf="roles$ | async as roles">
<h3 class="mb-2 mt-4">{{ 'PAC.MODEL.Roles' | translate: {Default: 'Roles'} }}</h3>
<ngm-table class="rounded-lg border overflow-hidden" paging [pageSizeOptions]="[10, 20]"
    [columns]="[
        {
            name: 'name',
            caption: 'PAC.KEY_WORDS.Name' | translate: {Default: 'Name'},
            cellTemplate: roleTempl
        }
    ]"
    [data]="roles">
</ngm-table>
</ng-container>
<ng-template #roleTempl let-key="key" let-name="name">
    <a [routerLink]="['access', key]"><span>{{name}}</span></a>
</ng-template>

<!-- 指标 -->
<ng-container *ngIf="indicators$ | async as indicators">
<h3 class="mb-2 mt-4">{{ 'PAC.MODEL.Indicators' | translate: {Default: 'Indicators'} }}</h3>
<ngm-table class="rounded-lg border overflow-hidden" paging [pageSizeOptions]="[10, 20]"
    [columns]="[
        {
            name: 'name',
            caption: 'PAC.KEY_WORDS.Name' | translate: {Default: 'Name'},
            cellTemplate: indicatorTempl
        },
        {
            name: 'code',
            caption: 'PAC.MODEL.IndicatorCode' | translate: {Default: 'Indicator Code'}
        },
        {
            name: 'createdBy',
            caption: 'PAC.KEY_WORDS.CreatedBy' | translate: {Default: 'Created By'},
            cellTemplate: createdByTempl
        },

    ]"
    [data]="indicators">
</ngm-table>
</ng-container>
<ng-template #indicatorTempl let-id="id" let-name="name">
    <a [routerLink]="['/indicator/viewer/', id]"><span>{{name}}</span></a>
</ng-template>

<!-- 故事 -->
<ng-container *ngIf="stories$ | async as stories">
<h3 class="mb-2 mt-4">{{ 'PAC.MODEL.Stories' | translate: {Default: 'Stories'} }}</h3>
<ngm-table class="rounded-lg border overflow-hidden" paging [pageSizeOptions]="[10, 20]"
    [columns]="[
        {
            name: 'name',
            caption: 'PAC.KEY_WORDS.Name' | translate: {Default: 'Name'},
            cellTemplate: storyTempl
        },
        {
            name: 'createdBy',
            caption: 'PAC.KEY_WORDS.CreatedBy' | translate: {Default: 'Created By'},
            cellTemplate: createdByTempl
        },
    
    ]"
    [data]="stories">
</ngm-table>
</ng-container>

<ng-template #storyTempl let-id="id" let-name="name">
    <a [routerLink]="['/story', id, 'edit']"><span>{{name}}</span></a>
</ng-template>

<ng-template #createdByTempl let-createdBy="createdBy">
    <span>{{ createdBy | user }}</span>
</ng-template>
