.ngm-analytical-grid {
  --ngm-cdk-cell-selected-border-color: theme(colors.yellow.500);
  --ngm-cdk-cell-selected-bg-color: theme(colors.gray.300);

  .mat-mdc-row.cdk-row {
    &:hover {
      @apply bg-gray-300 bg-opacity-20 dark:bg-gray-500 dark:bg-opacity-20;
    }

    &.selected {
      @apply bg-gray-300 bg-opacity-50 dark:bg-gray-700 dark:bg-opacity-50;

      .cdk-cell.ngm-analytical-grid__dimension.selected-member {
        @apply relative;
        &::before {
          content: '';
          @apply absolute left-0.5 top-0 h-full w-0.5 block bg-black dark:bg-white;
        }
      }
    }
  }

  .cdk-header-cell.selected-member {
    @apply relative;

    &::before {
      content: '';
      @apply absolute left-0 bottom-0 h-0.5 w-full block bg-black dark:bg-white;
    }
  }
  .cdk-cell.selected-cell, .cdk-header-cell.selected {
    background-color: var(--ngm-cdk-cell-selected-bg-color);
  }
  
  &.cdk-focused {
    .cdk-row.selected {
      .cdk-cell.ngm-analytical-grid__dimension.selected, .cdk-cell.selected-cell {
        border-right: 1px solid var(--ngm-cdk-cell-selected-border-color);
        border-bottom: 1px solid var(--ngm-cdk-cell-selected-border-color);
        box-shadow: inset 1px 1px var(--ngm-cdk-cell-selected-border-color);
      }
    }
  }

  &.striped {
    .mat-mdc-row:nth-child(even):not(.selected):not(:hover) {
      @apply bg-gray-300 bg-opacity-10 dark:bg-gray-500 dark:bg-opacity-10;
    }
  }
}

.dark {
  .ngm-analytical-grid {
    --ngm-cdk-cell-selected-border-color: theme(colors.yellow.700);
    --ngm-cdk-cell-selected-bg-color: theme(colors.gray.700);
  }
}
