@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);
  $warn: map.get($config, warn);

  .ngm-analytical-grid {
    /* For analytical grid in dashboard styles */
    .mat-mdc-table {
      --mat-table-background-color: transparent;
      thead, tfoot {
        background: lighten(mat.get-color-from-palette($background, hover), 50%);
      }

      tbody, mat-header-row, mat-row, mat-footer-row, [mat-header-row], [mat-row], [mat-footer-row] {
        background: unset;
      }
    }
    .mat-paginator {
      background: lighten(mat.get-color-from-palette($background, hover), 50%);
    }

    .ngm-analytical-grid__want-order {
      opacity: 0;
      transition: opacity 300ms cubic;
      &:hover {
        opacity: 1;
      }
    }
  
    .ngm-analytical-grid__cell-bar {
      height: 100%;
      position: absolute;
      left: 1px;
      top: 1px;
      background-color: mat.get-color-from-palette($primary);

      &.bar-negative {
        background-color: mat.get-color-from-palette($warn);
      }
    }

    .cdk-cell.ngm-analytical-grid__measure {
      &:hover {
        background-color: mat.get-color-from-palette($background, hover);
      }
    }
    
    .cdk-cell, .cdk-header-cell {
      padding: 0 5px;
      cursor: pointer;
    }

    .cdk-cell.ngm-semantic--negative--background {
      background-color: #ff000038;
    }

    .cdk-cell.ngm-semantic--negative--color {
      color: #ff000038;
    }

    .mat-mdc-row.selected {
      .cdk-cell.ngm-semantic--negative--background.selected {
        background-color: #ff000080;
      }
      .cdk-cell.ngm-semantic--negative--color.selected {
        color: #ff000080;
      }
    }

    .cell-value {
      position: relative;
    }
  }

  .ngm-analytical-grid__filtering-card {
    width: 300px;
    
    .ngm-analytical-grid__filtering {
      .ngm-selection-list__select-all {
        .mat-mdc-checkbox {
          .mdc-form-field {
            width: 100%;
          }
        }
      }

      .ngm-analytical-grid__viewport {
        height: 200px;
      }
    }

    .ngm-analytical-grid__filtering-actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }

}

@mixin typography($config-or-theme) {
}

@mixin density($config-or-theme) {
  // sticky 除了只能 41px 高度外还有 border right 漏光问题
  // .ngm-analytical-grid {
  //   .cdk-table.ngm-table-grid.ngm-density__compact {
  //     tr.mat-header-row, tr.mat-footer-row {
  //       height: 41px;
  //     }
  //   }
  // }

  .ngm-analytical-grid__filtering-card {
    &.ngm-density__cosy {
      @include mat.list-density(-1);
    }
    &.ngm-density__compact {
      @include mat.list-density(-2);
    }
  }

  .ngm-analytical-grid.ngm-density__cosy {
    &.ngm-with-toolbar {
      .ngm-card-content {
        max-height: calc(100% - 40px);
      }
    }
  }

  .ngm-analytical-grid.ngm-density__compact {
    &.ngm-with-toolbar {
      .ngm-card-content {
        max-height: calc(100% - 30px);
      }
    }
  }

  .ngm-analytical-grid__filtering-card {
    --padding-size: 16px;
    padding: var(--padding-size);

    .ngm-selection-list__select-all {
      margin: 0 10px;
    }
    .ngm-analytical-grid__filtering-actions {
      padding-top: var(--padding-size);
    }

    &.ngm-density__cosy {
      --padding-size: 15px;

      .mat-card-title {
        font-size: 16px;
      }

      .ngm-analytical-grid__filtering-actions {
        padding-top: var(--padding-size);
      }
    }
    &.ngm-density__compact {
      --padding-size: 6px;
      .ngm-selection-list__select-all {
        font-size: 12px;
      }

      .ngm-analytical-grid__filtering-actions {
        padding-top: var(--padding-size);
      }
    }
  }
}

@mixin theme($theme) {
  $color: mat.get-color-config($theme);
  $density: mat.get-density-config($theme);
  $typography: mat.get-typography-config($theme);

  @if $color != null {
    @include color($color);
  }
  @if $density != null {
    @include density($density);
  }
  @if $typography != null {
    @include typography($typography);
  }
}
