:host {
  @apply relative overflow-hidden flex flex-col;

  .ngm-card-header .actions {
    opacity: 0.1;
    position: relative;

    .mat-mdc-progress-spinner {
      position: absolute;
      right: 0;
      margin: 5px;
    }
  }

  &:hover {
    .ngm-card-header .actions {
      opacity: 1;
    }
  }
}

.cell-value {
  @apply whitespace-nowrap;
}

.mdc-data-table__header-cell.ngm-analytical-grid__measure {
  .pivot-column-header-content {
    flex: 1;
    text-align: right;
  }
}

.mdc-data-table__header-cell,
.mat-mdc-cell {
  white-space: nowrap;
}

.mdc-data-table__header-cell.ngm-measure,
.mat-mdc-cell.ngm-measure {
  text-align: right;
}

.ngm-card-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  overflow: auto;
}

.cdk-header-row.empty {
  height: 0;
  display: none;
}

.ngm-card-error {
  height: 100%;
}

.ngm-analytical-grid__filtering {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: stretch space-between;
  align-items: stretch;
}

.cdk-cell.ngm-analytical-grid__measure {
  text-align: right;
  position: relative;
}