:host {
  flex: 1;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;

  --search-bar-height: 6rem;
  --header-toolbar-height: 3rem;
}

.mat-toolbar {
  // height: var(--header-toolbar-height);
  .pac-insight-board__exit {
    margin-left: -1rem;
  }
}

.pac-insight-board__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: calc(100% - var(--header-toolbar-height) - var(--search-bar-height));
  padding: 1rem;
  overflow: auto;
}

.pac-insight-board__search-bar {
  min-height: var(--search-bar-height);
  z-index: 1;
}

:host {
  .mat-expansion-panel-header-title {
    flex: unset;
  }
}

.pac-insight-board__search-keyword {
  &.keyword {
    font-weight: 800;
  }
}

.mat-expansion-panel-header {
  .pac-insight-board__search-keyword {
    margin-right: 3px;
  }
}
