<mat-toolbar color="accent">
    <button mat-icon-button class="pac-insight-board__exit" (click)="close($event)">
        <mat-icon>exit_to_app</mat-icon>
    </button>
    <span>Intelligent Insight</span>
</mat-toolbar>

<div #boardBody class="pac-insight-board__body">

  <div class="app-insight-board__hit">
    <h2>What do you want to know?</h2>
    <div>您可以询问有关数据的问题，并以可视化方式立即看到您的答案。这些可视化组件还可以添加到你的报表或数字看板中。</div>
  </div>

  <mat-accordion class="pac-insight-board__widgets" togglePosition="before" multi>
    <mat-expansion-panel *ngFor="let item of stories$ | async" expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ng-container *ngIf="item.keyWords; else statement">
            <span *ngFor="let keyWord of item.keyWords" [ngClass]="keyWord.isKeyword?'keyword':''" class="pac-insight-board__search-keyword">
              {{keyWord.word}}
            </span>
          </ng-container>
          <ng-template #statement>
            <span>{{item.statement}}</span>
          </ng-template>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>

        <button mat-icon-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{item: item}"
          (click)="$event.stopPropagation();">
          <mat-icon>more_horiz</mat-icon>
        </button>
      </mat-expansion-panel-header>

      <mat-chip-listbox *ngIf="item.story.options?.filters as chips">
        <mat-chip-option *ngFor="let chip of chips"
          [selectable]="chip.selected"
          [removable]="true"
          [matTooltip]="chip.path + ':\n' + chip.label"
          (removed)="boardService.removeSlicer({storyId: item.story.id, slicer: chip})"
        >
          <div>{{ chip.label || chip.value }}</div>
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip-option>
      </mat-chip-listbox>

      <pac-insight-widget [story]="item.story" [pointId]="item.pointId" [widgetId]="item.widgetId"></pac-insight-widget>
    </mat-expansion-panel>
  </mat-accordion>

</div>

<mat-toolbar class="pac-insight-board__search-bar mat-elevation-z8">
  <mat-form-field appearance="outline" floatLabel="always" class="pac-insight-board__search-field">
    <mat-label>询问</mat-label>

    <!-- <mat-chip-list #chipList aria-label="Ask a Question">
      <span *ngFor="let item of keyWords" [ngClass]="item.isKeyword?'keyword':''" class="pac-insight-board__search-keyword">
        {{item.word}}
      </span> -->
      
      <!-- <mat-chip *ngFor="let item of fruits" [selectable]="selectable"
               [removable]="removable" (removed)="fruits.splice(item)">
        {{item.word}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip> -->

      <!-- <input placeholder="Ask a Question..."
             #questionInput
             [formControl]="searchControl"
             [matAutocomplete]="auto"
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matAutocompletePosition]="'above'"
             (keydown.backspace)="onQuestionBackspace($event)"
             (keydown.enter)="onEnter($event)"
             >
    </mat-chip-list> -->

    <button mat-icon-button matSuffix (click)="onSearch($event)">
      <mat-icon>search</mat-icon>
    </button>

    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
      (optionSelected)="onQuestionSelected($event)"
      (closed)="onAutoCompClose($event)">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option"
        (click)="$event.stopPropagation();$event.preventDefault();setQuestion(option)">
        <span *ngFor="let item of option" [ngClass]="item.isKeyword?'keyword':''" class="pac-insight-board__search-keyword">
          {{item.word}}
        </span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-item="item">
    <button mat-menu-item>
      <mat-icon>content_copy</mat-icon>Copy to current Story
    </button>
    <button mat-menu-item class="ngm-button--warn"
      (click)="remove(item)">
      <mat-icon color="warn">close</mat-icon>Delete
    </button>
  </ng-template>
</mat-menu>