<div class="w-[500px] max-w-full flex flex-col justify-center items-center gap-4">
    <img src="/assets/logo.svg" class="w-20 h-20">
    <div class="text-3xl text-bluegray-500">Welcome to Metad Platform</div>
    <div class="text-lg text-center">Looks like everything is working. Now let's get to know you, connect to your data, and start finding you some answers!</div>

    <button mat-raised-button color="primary" class="text-lg" (click)="navigateTenant()">Let's get started</button>
</div>

<div class="absolute bottom-4 p-4 ">
    If you feel stuck, <a href="https://www.mtda.cloud/docs/deploy/" class="text-bluegray-500">our getting started guide</a> is just a click away.
</div>
