<mat-accordion>
  @for (cube of allCubes(); track cube.name) {
    <mat-expansion-panel hideToggle class="mat-elevation-z">
        <mat-expansion-panel-header>
        <mat-panel-title> {{cube.name}} </mat-panel-title>
        <mat-panel-description>  </mat-panel-description>
        </mat-expansion-panel-header>
        
        <mat-list role="list">
          @for (dimension of cube.dimensions; track dimension.name) {
            <mat-list-item role="listitem">
                <div class="flex justify-between items-center">
                    <span>{{dimension.caption || dimension.name}}</span>
                    <button mat-raised-button color="primary" [disabled]="loading()" (click)="syncMember(cube, dimension)">Sync Member</button>
                </div>
            </mat-list-item>
          }
        </mat-list>
        
    </mat-expansion-panel>
  }
</mat-accordion>
