  <button class="px-4 py-3 text-left border-[0.5px] flex flex-col items-stretch rounded-xl p-1 mb-2 cursor-default
  bg-gray-50 border-gray-200 enabled:hover:bg-white enabled:shadow-sm disabled:opacity-50"
    [disabled]="disabled()"
  >
    <div class="w-full text-gray-800 font-semibold leading-5 flex items-center">
      <button class="w-6 h-6 rounded-md enabled:hover:bg-hover-bg enabled:cursor-pointer"
        [disabled]="disabled()"
        (click)="toggleExpand()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
          class="w-6 h-6 text-text-tertiary"
          [ngClass]="{'rotate-180': expand()}">
          <path d="M12 15.0006L7.75732 10.758L9.17154 9.34375L12 12.1722L14.8284 9.34375L16.2426 10.758L12 15.0006Z"></path>
        </svg>
      </button>
      
      <div class="flex-1 truncate">{{tool().name | i18n}}</div>

      <mat-slide-toggle [(ngModel)]="enabled" ngm-density="xs" [disabled]="disabled()" />
    </div>

    @if (expand()) {
      <div>
        <div class="w-full flex justify-between items-center m-2">
          <div class="py-2 leading-5 text-sm font-medium text-gray-900">Parameters &amp; Value</div>
          <button type="button" class="btn btn-medium h-10"
            [disabled]="!parameters()"
            (click)="saveAsDefault()">
            {{ 'PAC.Xpert.SaveAsDefault' | translate: { Default: 'Save as default' } }}</button>
        </div>
        
        <div class="rounded-lg border border-gray-200">
          <table class="w-full leading-[18px] text-sm text-gray-700 font-normal">
            <thead class="text-gray-500 uppercase">
              <tr class="border-b border-gray-200">
                <th class="p-2 pl-3 font-medium">Parameters</th>
                <th class="p-2 pl-3 font-medium">Value</th>
              </tr>
            </thead>
            <tbody>
              @for (parameter of parameter$ | async; track parameter.name) {
              <tr class="border-b last:border-0 border-gray-200">
                <td class="py-2 pl-3 pr-2.5">{{parameter.name}}
                  @if (parameter.required) {
                    <span class="inline-block text-sm font-medium text-[#EC4A0A]">*</span>
                  }
                </td>
                <td class="">
                  <input class="ngm-input-inline ngm-input-sm w-full" [type]="parameter.type || 'text' "
                    [ngModel]="parameters()?.[parameter.name]"
                    (ngModelChange)="onParameter(parameter.name, $event)">
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>

      <button type="button" class="btn disabled:btn-disabled btn-primary btn-medium mt-4 w-full h-10"
        [disabled]="loading()"
        (click)="testTool()">
        {{ 'PAC.ACTIONS.Test' | translate: { Default: 'Test' } }}</button>

      <div class="mt-6">
        <div class="flex items-center space-x-3">
          <div class="leading-[18px] text-sm font-semibold text-gray-500">Test Results</div>
          <div class="grow w-0 h-px bg-[rgb(243, 244, 246)]"></div>
        </div>
        <div class="mt-2 px-3 py-2 h-[200px] overflow-y-auto overflow-x-hidden rounded-lg leading-4 text-sm font-normal whitespace-pre-wrap
         bg-gray-100 text-gray-700">
          @if (testResult()) {
            {{testResult()}}
          } @else {
            <span class="text-gray-400">Test result will show here</span>
          }
        </div>
      </div>
    }

    @if (loading()) {
      <ngm-spin class="absolute top-0 left-0 w-full h-full" />
    }
  </button>
