:host {
  background-color: var(--ngm-color-surface);
  @apply flex-1 flex flex-col;
}

.cdk-cell {
  @apply whitespace-nowrap;
}

.ngm-cdk-listbox:focus .cdk-option-active {
  background: rgba(0, 0, 0, 0.2);
}

.ngm-cdk-option {
  position: relative;
}
