<div class="relative w-16 h-16 rounded-full overflow-hidden group border border-solid border-transparent hover:border-gray-200">
    <img class="" [src]="user?.imageUrl || '/assets/images/avatar-default.svg'" alt="{{user | user}}"/>
    <div class="absolute w-full h-full top-0 left-0 flex justify-center items-center cursor-pointer z-10
        opacity-0 bg-white/10 backdrop-blur-sm group-hover:opacity-100"
        [cdkMenuTriggerFor]="editorMenu"
    >
        <mat-icon class="">edit</mat-icon>
    </div>
</div>

<input #fileUpload type="file" class="file-input invisible w-0"
    (change)="uploadAvatar($event)"
    (click)="fileUpload.value=null;">

<ng-template #editorMenu>
    <div cdkMenu displayDensity="cosy">
        <button cdkMenuItem (click)="fileUpload.click()">
            {{ 'PAC.ACTIONS.Upload' | translate: { Default: 'Upload' } }}
        </button>
        <button cdkMenuItem *ngIf="user?.imageUrl" ngmAppearance="danger" (click)="remove()">
            {{ 'PAC.ACTIONS.Remove' | translate: { Default: 'Remove' } }}
        </button>
    </div>
</ng-template>
