<div class="w-full flex justify-start items-center px-3 pt-3 pb-2">
  <emoji-avatar [avatar]="knowledgebase()?.avatar" small class="shrink-0 mr-2 rounded-lg overflow-hidden shadow-sm" />
  <div class="flex flex-col">
    <span class="text-lg">{{knowledgebase()?.name}}</span>
  </div>

  <div class="flex-1"></div>

  <div class="flex items-center">

    <div class="flex items-center justify-center mr-1 w-8 h-8 rounded-md cursor-pointer text-text-tertiary hover:text-base-content
      hover:bg-hover-bg"
      [matTooltip]="'PAC.Xpert.Test' | translate: { Default: 'Test' }"
      (click)="openTest()"
    >
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="w-5 h-5">
        <path d="M8 18.3915V5.60846L18.2264 12L8 18.3915ZM6 3.80421V20.1957C6 20.9812 6.86395 21.46 7.53 21.0437L20.6432 12.848C21.2699 12.4563 21.2699 11.5436 20.6432 11.152L7.53 2.95621C6.86395 2.53993 6 3.01878 6 3.80421Z"></path>
      </svg>
    </div>

    <div class="flex items-center justify-center w-8 h-8 rounded-md cursor-pointer
      text-text-tertiary hover:text-base-content hover:bg-hover-bg"
      (click)="closePanel()"
    >
      <ngm-close-svg class="w-5 h-5" />
    </div>
  </div>
</div>

<div class="w-full flex flex-col justify-start items-stretch px-4">
  <div class="px-2 my-4 text-text-tertiary text-sm line-clamp-3" [title]="knowledgebase()?.description">
    {{knowledgebase()?.description}}
  </div>

  <copilot-model-select class="text-text-secondary"
    readonly
    [modelType]="eModelType.TEXT_EMBEDDING"
    [copilotModel]="copilotModel()"
  />

  @if (openedTest()) {
    <div class="absolute top-0 left-0 w-full h-full z-50 rounded-t-2xl bg-black/20 dark:bg-neutral-500/50 backdrop-blur-[2px]" @ifAnimationTrigger
      (click)="closeTest()">
      <xpert-knowledge-test class="absolute top-14 left-0 bottom-0 w-full rounded-t-xl bg-components-panel-bg"
        [knowledgebase]="knowledgebase()"
        (click)="$event.stopPropagation()"
        (close)="closeTest()"
      />
    </div>
  }
</div>