@use 'sass:map';
@use 'sass:color';
@use '@angular/material' as mat;

@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $primary: map.get($config, 'primary');
  $accent: map.get($config, accent);
  $background: map.get($config, background);
}

@mixin density($config-or-theme) {
  .ngm-density__cosy .ngm-search, .ngm-density__cosy.ngm-search{
    .ngm-search__input {
      @apply h-8 rounded-lg;
    }
  }
  .ngm-density__compact .ngm-search, .ngm-density__compact.ngm-search{
    .ngm-search__input {
      @apply h-6 rounded-md;
    }
  }

  .ngm-search {
    .ngm-search__input {
      @apply h-10;
      font-size: 14px;
      line-height: 36px;
      padding: 5px;
      padding-left: 32px;
    }
  }
}
