.ngm-search__input.mat-mdc-input-element {
  @apply rounded-md relative flex justify-start items-center
    hover:bg-gray-500/10 focus:bg-gray-500/20
    dark:hover:bg-white/10 dark:focus:bg-white/20 dark:hover:bg-gradient-to-r;
}

.ngm-density__cosy .ngm-search, .ngm-density__cosy.ngm-search{
  .ngm-search__input {
    @apply h-8 rounded-lg;
  }
}
.ngm-density__compact .ngm-search, .ngm-density__compact.ngm-search{
  .ngm-search__input {
    @apply h-6 rounded-md;
  }
}

.ngm-search {
  .ngm-search__input {
    @apply h-10;
    font-size: 14px;
    line-height: 36px;
    padding: 5px;
    padding-left: 32px;
  }
}