:host {
  @apply block relative;

  .ngm-search__icon {
    position: absolute;
    left: 10px;
    top: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
  }
}
.ngm-search__input {
  @apply w-full text-sm;
}
