:host {
  display: flex;
  place-content: center space-between;
  align-items: center;
  white-space: nowrap;

  &.ngm-display-behaviour__exclude-selected {
    text-decoration-line: line-through;
  }

  &.ngm-display-behaviour__auto {
    &:hover {
      .ngm-display-behaviour__option-value {
        flex: 1;
      }
    }

    &.ngm-display-behaviour__no-label {
      .ngm-display-behaviour__option-text {
        flex: 0;
      }
      .ngm-display-behaviour__option-value {
        flex: 1;
      }
    }

    .ngm-display-behaviour__option-text {
      flex: 1;
    }

    .ngm-display-behaviour__option-value {
      flex: 0;
      margin-left: 0.25em;
      font-size: 0.85em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: right;
    }
  }

  &.ngm-display-behaviour__idAndDescription {
    .ngm-display-behaviour__option-value {
      margin-right: 1em;
    }
    .ngm-display-behaviour__option-text {
      font-style: italic;
      /* 因为有斜体和 hidden,避免字的尾部被隐藏 */
      padding: 0 0.25em;
      font-size: 0.85em;
    }
  }
  &.ngm-display-behaviour__descriptionAndId {
    &.ngm-display-behaviour__no-label {
      .ngm-display-behaviour__option-text {
        flex: 0;
      }
    }

    .ngm-display-behaviour__option-text {
      flex: 1;
      margin-right: 1em;
    }

    .ngm-display-behaviour__option-value {
      flex: 1;
      margin-left: 0.25em;
      /* descriptionAndId 中 value 作为辅助信息字体大小显示小一号 */
      font-size: 0.85em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: right;
      opacity: .6;
    }
  }

  &.ngm-display-behaviour__descriptionOnly {
    .ngm-display-behaviour__option-text {
      flex: 1;
    }
    .ngm-display-behaviour__option-value {
      flex: 0;
    }
  }

  .ngm-display-behaviour__option-text {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .ngm-display-behaviour__selected.mat-icon {
    margin-right: 0;
  }

  .ngm-display-behaviour__highlight {
    // color: map-get($accent, 500);
  }
}
