:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
}
:host.xs {
  width: 1.8rem;
  height: 1.8rem;
}
:host.small {
  width: 2rem;
  height: 2rem;
}
:host.large {
  width: 3rem;
  height: 3rem;
}
:host::ng-deep {
  ngx-emoji {
    line-height: 1;
  }
}