<div class="filter-bar p-2 flex items-center gap-4">
    <span class="flex-1"></span>
  
    <div ngmButtonGroup >
      <button mat-mini-fab [matTooltip]=" 'PAC.Knowledgebase.NewFiles' | translate: {Default: 'New Files' }"
          (click)="uploadDocuments()">
          <mat-icon fontSet="material-icons-outlined">add</mat-icon>
      </button>
    </div>
</div>

<ngm-table class="flex-1 overflow-hidden" displayDensity="cosy" paging
  [data]="items()"
  [columns]="[
    {
      name: 'name',
      caption: 'Name'
    }
  ]"   
/>
