@use 'sass:map';
@use 'sass:color';
@use '@angular/material' as mat;

@mixin color($theme) {
  $config: mat.get-color-config($theme);

  $primary: map.get($config, 'primary');
  $accent-palette: map.get($config, 'accent');
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);

  .ngm-tables-join__join-menu.mat-mdc-menu-panel {
    width: 500px;
    max-width: 500px;

    .table-join {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      padding: 1rem;
      cursor: pointer;

      &:hover {
        background-color: color.change(mat.get-color-from-palette($primary), $alpha: 0.2);
      }

      &.selected {
        background-color: color.change(mat.get-color-from-palette($primary), $alpha: 0.1);
      }
    }

    .join-fields-form {
      margin-top: 1rem;
    }
  }

  .ngm-tables-join__container {
    .join-table {
      background-color: color.change(mat.get-color-from-palette($primary), $alpha: 0.1);

      &::before {
        background-color: mat.get-color-from-palette($primary, 300);
      }
    }
  }
}

@mixin typography($theme) {
}

@mixin density($theme) {
}

@mixin theme($theme) {
  $color: mat.get-color-config($theme);
  $density: mat.get-density-config($theme);
  $typography: mat.get-typography-config($theme);

  @if $color != null {
    @include color($color);
  }
  @if $density != null {
    @include density($density);
  }
  @if $typography != null {
    @include typography($typography);
  }
}
