<mat-tab-group class="overflow-hidden">
    <mat-tab [label]="'PAC.Story.GlobalStyles' | translate: {Default: 'Global Styles'}">
        <formly-form class="m-4"
            [fields]="storyFields()"
            [options]="storyOptions"
            [form]="storyFormGroup"
            [model]="storyModel"
        />
    </mat-tab>
    <mat-tab [label]=" 'PAC.Story.ComponentsStyles' | translate: {Default: 'Components Styles'} ">
        <formly-form
            [fields]="fields"
            [options]="options"
            [form]="formGroup"
            [model]="model"
            (modelChange)="onModelChange($event)"
        />
    </mat-tab>
</mat-tab-group>
