<div class="pac-page-header">
    <div class="pac-page-title">{{ 'PAC.KEY_WORDS.DATA_SOURCES' | translate: {Default: "Data Sources"} }}</div>
</div>

<nav class="grid content-start grid-cols-1 gap-4 px-6 pt-12 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 grow shrink-0">
  <ngm-card-create [title]="'PAC.DataSources.CreateDataSource' | translate: {Default: 'Create data source'}"
    [helpTitle]="'PAC.DataSources.CreateDataSourceHelp' | translate: {Default: 'Learn more about custom data sources'} "
    helpUrl="/docs/server/datasources/"
    (create)="create()"
  />
  @for (item of dataSources(); track item.id) {
    <div
      class="group relative col-span-1 border-2 border-solid border-transparent rounded-xl shadow-sm min-h-[160px] flex flex-col transition-all duration-200 ease-in-out cursor-pointer hover:shadow-lg
            bg-gray-50 hover:bg-white dark:bg-neutral-800 dark:hover:bg-neutral-700"
      [ngClass]="routeAnimationsElements"
      (click)="edit(item)"
    >
      <div class="flex pt-[14px] px-[14px] pb-3 h-[66px] items-center gap-3 grow-0 shrink-0">
        <div class="relative shrink-0 w-20 h-20 rounded-xl overflow-hidden">
          <img src="assets/images/db-logos/{{item.type?.type}}.png">
        </div>
        <div class="grow w-0 py-[1px]">
          <div class="flex items-center text-base leading-5 font-semibold">
            <div class="truncate" [title]="item.name">{{ item.name }}</div>
          </div>
          <div class="flex items-center text-sm leading-5">
            <div class="truncate" [title]="item.type?.type">{{ item.type?.type }}</div>
          </div>
        </div>
      </div>
      <div
        class="grow mb-2 px-[14px] max-h-[72px] text-sm leading-normal line-clamp-2 group-hover:line-clamp-2 group-hover:max-h-[36px]"
      >
      </div>
      <div class="flex items-center shrink-0 mt-1 pt-1 pl-[14px] pr-[6px] pb-[6px] h-[42px]">
      </div>

      <div
        class="absolute bottom-1 left-0 right-0 items-center shrink-0 pt-1 pl-[14px] pr-[6px] pb-[6px] h-[42px]
          hidden group-hover:flex"
        (click)="$event.stopPropagation();"
      >
        <div class="grow flex items-center gap-1 w-0">
          
        </div>
        <div class="shrink-0 mx-1 w-[1px] h-[14px] bg-divider-regular"></div>
        <div class="shrink-0">
          <div class="relative" >
            <div>
              <button
                class="group bg-gray-100 !bg-transparent h-8 w-8 rounded-md border-none hover:!bg-black/5 dark:bg-neutral-400"
                type="button"
                [matMenuTriggerFor]="menu"
                [matMenuTriggerData]="{item: item}"
                #mt="matMenuTrigger"
                [class.active]="mt.menuOpen"
              >
                <div class="flex items-center justify-center w-8 h-8 cursor-pointer rounded-md">
                  <svg
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="currentColor"
                    class="w-4 h-4"
                  >
                    <path
                      d="M5 10C3.9 10 3 10.9 3 12C3 13.1 3.9 14 5 14C6.1 14 7 13.1 7 12C7 10.9 6.1 10 5 10ZM19 10C17.9 10 17 10.9 17 12C17 13.1 17.9 14 19 14C20.1 14 21 13.1 21 12C21 10.9 20.1 10 19 10ZM12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10Z"
                    ></path>
                  </svg>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  }
</nav>

<div *ngIf="loading" class="emoji-loader h-full w-full"></div>

<mat-menu #menu="matMenu" class="ngm-density__compact">
    <ng-template matMenuContent let-item="item">
        <button mat-menu-item (click)="edit(item)">
            <mat-icon fontSet="material-icons-outlined">edit</mat-icon>
            <span>
                {{ 'PAC.ACTIONS.Edit' | translate: {Default: "Edit"} }}
            </span>
        </button>

        <button mat-menu-item (click)="copy(item)">
            <mat-icon fontSet="material-icons-outlined">content_copy</mat-icon>
            <span>
                {{ 'PAC.ACTIONS.Copy' | translate: {Default: "Copy"} }}
            </span>
        </button>

        <button mat-menu-item ngmAppearance="danger" (click)="remove(item)">
          <mat-icon fontSet="material-icons-outlined">delete_forever</mat-icon>
          <span>{{ 'PAC.ACTIONS.Delete' | translate: {Default: "Delete"} }}</span>
        </button>
    </ng-template>
</mat-menu>
