@switch (credential()?.type) {
    @case (eCredentialsType.SECRET_INPUT) {
      <div class="relative w-full">
        <input tabindex="0" class="block px-3 w-full h-9 bg-gray-100 text-sm rounded-lg border border-transparent
            appearance-none outline-none caret-primary-600
            hover:border-[rgba(0,0,0,0.08)] hover:bg-gray-50
            focus:bg-white focus:border-gray-300 focus:shadow-xs
            placeholder:text-sm placeholder:text-gray-400"
          type="password"
          [placeholder]="credential().placeholder | i18n"
          [(ngModel)]="valueModel"
        >
      </div>
    }
    @case (eCredentialsType.TEXT_INPUT) {
      <div class="relative w-full">
        <input tabindex="0" class="
          block px-3 w-full h-9 bg-gray-100 text-sm rounded-lg border border-transparent
          appearance-none outline-none caret-primary-600
          hover:border-[rgba(0,0,0,0.08)] hover:bg-gray-50
          focus:bg-white focus:border-gray-300 focus:shadow-xs
          placeholder:text-sm placeholder:text-gray-400"
          type="text" 
          [placeholder]="credential().placeholder | i18n"
          [(ngModel)]="valueModel"
        >
      </div>
    }
    @case (eCredentialsType.BOOLEAN) {
      <mat-slide-toggle class="inline-block ml-auto h-8"
        [(ngModel)]="valueModel"
      />
    }

    @case (eCredentialsType.REMOTE_SELECT) {
      <remote-select class="w-full"
        [url]="credential().selectUrl" 
        [placeholder]="credential().placeholder | i18n"
        [(ngModel)]="valueModel"
        [params]="params()"
        [multiple]="credential().multi"
      />
    }
}