<form class="mx-4 lg:mx-auto my-8 flex flex-col justify-start lg:w-[600px]" [formGroup]="form">
  <div class="pt-2">
    <div class="py-2 font-medium leading-[20px] text-gray-900">图标 &amp; 名称</div>
    <div class="flex items-center justify-between space-x-2">
  
      <emoji-avatar editable formControlName="avatar" class="rounded-lg overflow-hidden shadow-sm" />
  
      <input matInput placeholder="给你的专家起个名字" class="grow h-10 px-3 text-sm font-normal bg-gray-100 rounded-lg border border-transparent outline-none appearance-none caret-primary-600 placeholder:text-gray-400 hover:bg-gray-50 hover:border hover:border-gray-300 focus:bg-gray-50 focus:border focus:border-gray-300 focus:shadow-xs"
        [value]="name"
        disabled
        >
    </div>
  </div>
  
  <div class="pt-2">
    <div class="py-2 font-medium leading-[20px] text-gray-900">标题</div>
    <input matInput placeholder="标题" class="w-full h-10 px-3 text-sm font-normal bg-gray-100 rounded-lg border border-transparent outline-none appearance-none caret-primary-600 placeholder:text-gray-400 hover:bg-gray-50 hover:border hover:border-gray-300 focus:bg-gray-50 focus:border focus:border-gray-300 focus:shadow-xs"
      formControlName="title">
  </div>
  
  <div class="pt-2">
    <div class="py-2 font-medium leading-[20px] text-gray-900">描述</div>
    <textarea matInput class="w-full px-3 py-2 text-sm font-normal bg-gray-100 rounded-lg border border-transparent outline-none appearance-none caret-primary-600 placeholder:text-gray-400 hover:bg-gray-50 hover:border hover:border-gray-300 focus:bg-gray-50 focus:border focus:border-gray-300 focus:shadow-xs h-[80px] resize-none"
      placeholder="输入应用的描述"
      formControlName="description"
      ></textarea>
  </div>
  
  <div class="pt-2">
    <div class="py-2 font-medium leading-[20px] text-gray-900">Tags</div>
    <tag-select [category]="eTagCategoryEnum.XPERT" formControlName="tags"></tag-select>
  </div>
  
  <copilot-model-select class="w-full py-2 my-2"
    [modelType]="eModelType.LLM"
    formControlName="copilotModel"
  />

  <div class="flex flex-col mt-4 rounded-xl pt-2 pb-3 px-3 bg-gray-50 dark:bg-neutral-800"
    formArrayName="starters">
    <label class="ngm-input-label shrink-0">{{'PAC.Copilot.Roles.Starters' | translate: {Default: 'Starters'} }}</label>
    <ngm-input class="w-full" large
      formControlName="0"
      [placeholder]="'PAC.Copilot.Roles.FrequentlyQuestion' | translate: {Default: 'Frequently asked questions by users'}"
    />
    <ngm-input class="w-full"
      formControlName="1"
      [placeholder]="'PAC.Copilot.Roles.FrequentlyQuestion' | translate: {Default: 'Frequently asked questions by users'}"
    />
    <ngm-input class="w-full"
      formControlName="2"
      [placeholder]="'PAC.Copilot.Roles.FrequentlyQuestion' | translate: {Default: 'Frequently asked questions by users'}"
    />
    <ngm-input class="w-full"
      formControlName="3"
      [placeholder]="'PAC.Copilot.Roles.FrequentlyQuestion' | translate: {Default: 'Frequently asked questions by users'}"
    />
  </div>

  <div class="flex justify-center items-center mt-8">
    <button class="mt-2 no-underline group cursor-pointer relative shadow-2xl rounded-lg p-2 text-base font-semibold leading-6 inline-block
      bg-primary-500 shadow-zinc-900 text-white
      disabled:bg-primary-100 disabled:shadow-none disabled:cursor-not-allowed"
      [disabled]="form.invalid || form.pristine || loading()"
      (click)="saveDraft()"
    >
      <span>
        保存至草稿
      </span>

      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="inline-block w-4 h-4 ml-0.5"><path d="M20 2C20.5523 2 21 2.44772 21 3V6.757L19 8.757V4H5V20H19V17.242L21 15.242V21C21 21.5523 20.5523 22 20 22H4C3.44772 22 3 21.5523 3 21V3C3 2.44772 3.44772 2 4 2H20ZM21.7782 8.80761L23.1924 10.2218L15.4142 18L13.9979 17.9979L14 16.5858L21.7782 8.80761ZM13 12V14H8V12H13ZM16 8V10H8V8H16Z"></path></svg>
    </button>
  </div>
</form>
