:host {
  flex: 1;
  max-height: 100%;
  max-width: 100%;
  display: flex;
}

.mdc-list-item {
  &:hover {
    background-color: var(--ngm-color-primary-container-variant);
  }
}

.pac-cube-structure-drop {
  @apply rounded-md m-1 border border-dashed border-slate-200 p-4 dark:border-neutral-800;
}

.pac-cube__join-table-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  .table-join {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
}

.join-table {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 317px;
  padding: 5px;
  font-size: 12px;
  line-height: 20px;
  word-break: break-all;
  height: 38px;
  min-width: 100px;
  margin-bottom: 1rem;
  border-radius: 5px;

  &::before {
    content: '';
    border-radius: 3px;
    width: 3px;
    height: 100%;
  }

  .join-table-name {
    flex: 1;
    margin-left: 5px;
  }
}

.table-join {

  .join-icon {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    cursor: pointer;
  }

  .join-icon-with-connector {
    position: relative;
    margin: 0 27px;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      width: 28px;
      height: 1px;
      background-color: #7387b7;
      content: '';
    }

    &::before {
      left: 1px;
      transform: translate(-100%, -50%);
    }

    &::after {
      right: 1px;
      transform: translate(100%, -50%);
    }
  }

  .left-join-icon {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGMAAABACAYAAAAOA8kNAAAKGUlEQVR4Xu1cfWxT1xX/nWcnjpPY4SPJoB2FNsCAAlVRNz5KK7qtmfho7DCxrtM2raBVE5sqIa10YyPPL2xTm2ldO6mbxrbuj/WPTqzYMdO6j1YwlcIKWqcBHYUSPkrHV0KJ7eDEsf3udJ/9nIdn896zn23+eFeKMPK55/ze+fnde865HwS73TIeoGoh6fz2pabGJlebIAttacHZRki3E0Mbty8DQwI5BgmpoRQw5HJ7B3d9hyKVwrbhGdaSGI22OYFWBmerzNJtAtBaCyzaZ6woGd09Iw8zYmvA2FoQ5ph07hBjCArkCDtxfd8uqX3EZP+ceNezzIPR6FoBtAYMawBMNanLMiw3s2s5Gb5A5EsE6gTQCYbpJh+6iDiNAthDwF6nC6/u2uYZ1NP7SCDa6iR6FDLrBKiTgTXo9TH2/QSWFLE/7Al4h4z105eyjIwuMdolAFsArCpmtqGe0NQgoMktZP5tEAACro/JiCt/LPe5KHTGBhgJz/VLnp8Xk+kWoxsZw1YQPlFUD2EAjAYY5NMgGoCMAUVWQAcY6yAId4FYBxg6imPBCSL0BSXvS/qu1pcom4z14vASGQIn4cv55rjzp3gdaJ/kRPsUJ+qdxs0NDqcwNJzGYCSF6HW50JPsk4GfhiVvWP2ya3v0fhKwlYCuAh3OAtjHWDrc3zs5qO+aCQl/T2Q1CKsB/kez8/syIMxk9IV3eN8yozdf1rh38no+8QSruzw91ksMW0BwqV/X1xFmTavDFK8TrS2OcrDl+sbiMoYiKZy/kixEzMsy5BcECBsAbL3RIF0Ak38FkveFpMn7rADjC0RXUGbo2wzKBCCa1peY6ul57UlKlGKrJDLWbxucLte5fg0ok6HSHAJh1vQ6hQi3SygFi24fmQHnLo3j7MWkMpzlGlECjOV+EECGBMHl/OXu7zVd1FVcgoBfvDaLwbGZgM0AmjQq3nQ46ze9ur3hfbNqTZPRHYgtZIztATBLNcYJmDmtHp7GypCQ/1DJFMO5S0mcvjCO8RTTfh0Do58ILmFnpUjIx+ITYwsI8jeVN2WiDUEQvhgSm98wQ4gpMvzitVWAY69qoNElYFGHC22TnGZsWiLLyTh6eqyQrpdCkneTJUZMKMkGMHy0yA1dJAgbg2Lzb42qMUyGvycSAJGoKp7qdeDeuW7wSbra7dDxUVy5lsqZddUREkntG0KvhyTPw9XGlXlL2C4AC3K2GZNCvS0BI1gMebJbGnmcyXIufJvRXod7ZlsUthtBqZHhbwN/K9R25/R63H2nC/kEMQjP9EvN3zWp3hJxnxj9OwEPTihLP2QkgNAlwy+NfAay/LqqeO6MesydoZkrLYFvTEn+0JSP5eT5BE6eH88pI6LHggHPK8a0WyuVP5IQ0aJgwHPsZlZuSsbnd4zNSafGDyBbt+FD0/KFjdaiNqjtWiyNA8fiYNnRqBiWf58aU0JgtRGTO4O9k/5m0IylYn4xyueLr2WVnhWSiRW7f9RWNLorSsbqnzGX62qMP8QDXFmzW8Cqe7URnKW4b6osnWY4+O4ohkfSipweloPH4rgazcgy4BKTHWvCO5r+VT3EE5b8YpQHPGpV4k/tFz3+nTtp4teiAVWUDL8YfVZNongit/zuxqqFrvlOO34ugYH/ZoYfI1jGxhkOHI0jnsjlIq+FJG8uJ6omKRt+EL89mUzt16QCfSHJ+3QhDAXJ4GUFQQBXoLRPznPjY1OqH75y2x/x4eloPIfdKBZeTnn7P7y+qDbhKyGp+eVqEqHa8vVEPkdEf1b/L8tYWah0UpAMnxjtV+s7PKFbeFdtIicO/vB7o7j8USaMNYvl2OkxnM1GXgQcXgzPMkmigoWuSpPkFyMvqokhr2X1S15fvs3/I0OpeAK/4YK8xLFyce2GJz4R8wm5VCy8prX/SBxpXkdRmrAlJDU/X2nHF9KfzUEOqaUTAjblV3tvIIOvAThk7FdLzx2312P+zNqEsbzMwYenkdHMD7lULNr5BoQzBFoWDHiu1IaQaB8BTym2GU6kBazUrofcQEa3GPsGA/sFl+UT5QOLGytW9NNzhjanKAfLaELGm0fiGM9m6CTQt4Ki50U9+5X4nhcXwRyH1GpvPpYbyPCLsd8D7AscSC2TO27/nZOjuMBXxC3Aok0GCQgHC4zXlXB+IZ3aZDAfS46MDeKV5iTcVwDm5kruX9SIyR5r1iPMPijPK/56eATp7FT74D1N8DaVXhHm+QmfO3gj0Fi6sbk9/DTFzOKyQt63PbKUBPpHISw5MrrF6+sY0rw0riyHPrSkNgket3/5WgqHj2fCUquyfk6GmjTKxB4LB1pqUibhz+QXo5yMpfyzFkuODF9PdCcRvs4F1OKbFb+EUnQcGRjDB5czSSoPq3lIW257/8NxnPgguwBH+F0o4P1quTpL7e8PxL4PxnZkX9UclhwZfjHKd1woe4c+Nd+N9sm1SfK4fT5EqRPuZ+9rtqRMzyfyN/55XfXf1ZDkVZ61Fm2dGL/DidS5rO0cFoUMvqkrORobVoGtW+GpBUbFZjLN8Je3M1ukrBqi1IfR1qzq3J5Jldwop+dAbc1KxaKQ0SVGZgsgZc22sUHAp2s4X/C17b3vZH7Bt7U6sWSuEk9Y0rQRmgw2Jyy1nLJEcQlK/GLkFYAe5V1VLAoZ68XIMhl0kH/mS6hLF1jnALM4ean8rWwtyuq5690zCZy5mCk4CmDLd0stSlRTi+YTIy8Q6EktFoUMbSQ1c1odFtWwFqWNpObd4cLsj9db5qtTH47jvewkTnA8EpSa/miZcpOKfOLwNoLwQ95NxaKQ4euJPk4EZVl1/iwXOm6zzgEmMSoLQ2o9ii/t8iVeq5pWN2PY2N/rNbxZwCoMqh5/z/AmkMA3MPAFMwVL5s3oiT7FCH38833z3JhWo3I5t8/XLXg9iTerozq+iYGvlSu/RoatwV7vj612slF966XIWlkm5c1UsdhkGPWexXJFybCHKYs9bUBd8WFKUwqxJ3ADnrRApOgEboe2FnjXpIqioa2d9Jn0pAXiRZM+uxxigXdNqihaDuF67EKhSW+WIX7TQiHXa5fQy/Cuya66JXR7ccmkR8sQ111cspddy/Cuia6Gll0z84a9IcGEX0sSNbQhgWu2t+qU5F/DnUxt1bE3sRn2a0mCPtHEJrbM22Fv7yzJ0zqdTG/vVPXZG5+tp6Okjc8chn0kwFoyyjoSkM3I7cMyFnBS9mEZjsE+RmYBE5kyU/nHyDgU+4BleYRYdsBShWEfPS6NEMuPHqsw7EP55gip2KH83BtiX1ehy0hVrqvIEWJf5FKUkKpe5JIbsm75K47Yc5W8ZyqfjZpdcaQCsS//4iHrLXD5l0qIfS3eLXItnvZVtS+MVO4nqe2Fkfljp32Vqm6wpSuge9+UroY8AfuSYbMem5C3nAwtFPv6bXPEVJQMLRT7Ynp9YqpGhj4UW+J/Ss/HmwtNnR8AAAAASUVORK5CYII=);
  }
  .inner-join-icon {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGMAAABACAYAAAAOA8kNAAAKG0lEQVR4Xu1ce3BUVxn/fTePJY+9ASFRrK20PGwLUu0ohZZWnEo6QJvd4GCtU50CI4PgdIYZoYold29Qp021Wh1Si1qdsX/UwbK7wSlVWxsBW8VRx4pUIClUysMkDNkNJOSx93Pu3b27N0s2997N2Q1/3DPDMJP7nd/3O+e35/WdB8FL10wNULGY1H/tfFVlla9W0qTahFRaS0jUEaNW968BPRKVdBNGekaAHl+F3L3n6xQrFLc1T3DN4EC8thSYwSidoXGiVgJmTAYXaxkLKkZj06XlTLwSzKtAmOuycnuYEZaopK0Ul9v3qHWXXOZPmzc8yX4MxFdJoJVgrAQw3SWWMC7j+RUuRiAU+wKB6gHUgzHTZaFzmNMAgH0EvF7qw0t7tvu77XAfCMVnlBI9CI3rAapn8BS7PM6+Z7iMEP96X0jucZbP3kqYGA1KvEECtgBYlsstM84Q4QQBHQz9f+rQmBkSZoN5NkG6CcSzwZidkzpzJ5P0dFT1t+ayaVTi65ixDYSP5MQhdIKpk6G9A6JOaOg0bF1xwTEitIRV+Xn7qra3mLAYq5Xe2zVIuggPX+2OzgI4CPAr5MO+8Hb5gj2lpEVQ6a0nSMs1oJ6AhWPka9eA77epcpv5rWFH/C6SsI2AhjHsTwFoZ060RZunhZ3yMLg0xVaAsALQ/9Gc7LwMtLGGlrad8p/c4Gbb5i3Ghg1c9r+Zfc3E2AKCLw3M6Aa4lSTpQDjk/8NEyJl5G0N9C1jT7gVJjwD8sSzMFzRoz0iQ1gDYNvobnQVrPwFp7RF1WrsILoFQ/E5Kdn2bQMkJiCW1DE73N+1/lAbz8ZWXGKu3d8/Uynw/BYzB0EyXGWglJFoj6jT9Vyg8bXiOy7rOxjeDjYrITAiIBsGc+UEgKYLkK31u7zerzgknYrTci7MYJZsI2ASgyuLjYElp+fqXdkw54davazGMXynzPgCzMs64lSHtiqr+o24J5GMfVC5OTVWE3j0aU9JU6gPT9ySftLtQImTzDSh9txK0zUZLyaQeSNLnI0r1a27K50qMoHJxGVDyusXBKWbeGG2u+a0bpyJsG5W+jQx+dgys5yOqvF6EDzcYqQmM3lukuy6SpHVhpfrnTnEcixFsioVApFiA28vKSh/e83jlGafORNkFm2Ivg0gfUI3kKyMMDrMFnl6NqP7lovw5xUm2Et4D4NZ0HmY10lwTcoLhSIxG9dJa1jTr9O0XEVVe68SBaJuAEnuWQBtN3BtnlmP+jT4cfnsAXRdHMnUA6YmoWv0N0f6d4AWU+B8JuCdjm/i0kwmErRhB9dK90LRX81HaCXE3Ntld07zryzHv+sy4ffz0II6fHkpDEtFD4ZD/RTc+RNlm9yRE9NFwyH9kPPxxxfjszitzEyNDb5iDJAMHoqr8KVGE3eAYU0qmAwCX6PmmyyVYsqDyKoh/dlzB6a7hjCCs1Yebp/7ejS9RtkElro8Xj6TwTknDg3fu/U5tztldTjFW/JB9vgt9eiHuToEdjajyfFFE3eCsUbqqhzFFb5136PmqKyQs+7h1Njka7c0j/bgQTxh/ZOA8ayUr23ZW/cONT1G2QSWuT3jMqMTLdef8wd27KfNrsTjKKUZQiT9pWUR1M2hZsaau2RVh5VJeRlgyvxL+SilnfV0ZYrzxr370D2qmzf6IKlvXRKLq2hZnzbf6rxseHjlkWQq0RFT5sbEyjimGHlaQJOgARtKAgDXsYMtAoEE2l0/eXIH3v6/U1kN37wj+clSPL5pJ+mJErX7BNmMBDAJNsfuI6JV0fWpYOlboZEwxAko8monvcGtErdlcAI6OIK1cZn2gDAtuch58PfLOFZw6n+wRCPjrQvgXqyqlm4sjAoKMgkpsl7kw1GNZUVUOZENfJYYR8QR+ljK8zKBFk9U9WbmUSISlC8fvnrIL19ev4dBb/Uho5hpE2hJRq38gqH5dwaTWIIfN0AkB67OjvaPE0PcASjQcMkPPDDwVVeWs4JsrDnkbZ3OZfV05bvmwJfzkEPntdwfReSY13SWcJNDicMjf5TC7ULOAEm8hYKsByjiWkLDUuh8ySoxR83g9+kqJRYUK+tmV0spFH7TvXliJCl/uQTsX3sCghoNv9WMotUInib4aVvy77PwX4rseXASXHDajvdlcRokRVPp+BfDnkso5X8YXhniGS/bizq0/62KQgLbwGP21W8x87a2LwWwuaTGSc/mKLoArDC0Id0VDsr7gK3rK5nLPbVWQq9y3CpN476WEMXYkB3K6kqisrmt7jPqKXjAAgR2xO0iiP4/FJS1Go3L5fkZCD43rUnRE1Bq3BwiElc3KJddK260zXQxdFD1pxA+1hWomJUyi+w8qcV0MYwFr5ZIWI9AU302EL6fE+FFErXnUbYFF2Vu56FNZfUo70XTivSEc+29qA47wy0hI/tJEMfPNHwz1PQ7mnammmuaSFiOoxPUTF8mNGuaVkeaa/fk6m2g+K5fPfKIaU8pt45m2LvWB/LW/XTbtLkRU2bopZZtfpMH9Sv8NpRh5N4WZ5mKUUj/UNTzQ12s6jKjyxEufJ3srF1FdlEnFGrMqq/BPLeRBObviW2NWJhej0huU2BwJlNyzJXRGQvJVJyDswEV9t3L54IxS3D7PmE8ISX8/PoCz+plFI8TDc9vUmg4hwHmABJXYiwA9aOViiLFaiS3WQG8mMel3EdV/Xx74QrJYuZgbR0KAAfz75CBOnksuACXwkr1qjTGrmYwUUGLPEMgYl00uhhjW2QuDfxxVa74yGQSzudx8gw9zPlQujErHe0P4T2oQJ5Q8EFarfiMM3CVQQOndTpC+bfz8U1wMMQJN8bVEMLZVmbA1GpK/6xJbmLmVy21zpuD6uonPpExy+qaTvvlklJOxLtosOz4sIKyAKaBgU+96kKQfYEhzSbaMpvhWJrSkPqyONsuuTtyJJGrlsuiWCtRNsw+XO/Wv75Hre+XGr5GxLdwsP+U0r2i71WpslaaR0TJNLp4YomvZIV5OMbxuymENCjTL3U1ZQiHeAC6wxseByjmAe1Pb4ghg9ZJzaust+oovRs5FnxcOmQwxMkd4RoVDdCpeoLB4gowbKEwt/LwQepH0sA2he5tLRVLCyeaSt+1aHDEcbbsmxw3vQEKhJXF0IMGIUVlvA3lHdYTr4uqojneITXj9jwJ0dYgt2Tq8452FkMT18U6ThHfwWbwceR181ml4VwLEijGhKwGpFbl3WUaAJhO+LKNz8K6RCVAiucCb+DUynYp3wXJiggi7YGnS8K4e5yeI8KvHJg3vUr47QQp2KT/dQrznKmwVKcpzFWlBvIdccgpS1Idc0l3WNf/EET9dyHemstWYtCeOTCLe41/XyONfpiDes3jXyLN41qbqPRhpvE8yuQ9GZved3lOqtpMtWwPhN5S8R4Zt6zyngXAxrJ6857fdCVNQMaxUvIfp7YUpmhj2VDyL/wMrJOubSdEH7AAAAABJRU5ErkJggg==);
  }
  .right-join-icon {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGMAAABACAYAAAAOA8kNAAAJl0lEQVR4Xu1ca2wcVxX+zuyu17v2ziaN7TRpE9K8yKtpiUiaNCmkKnXVlPoRFF6qEElFFFpUqRJNUUS9O66EaIpAgOpCBBQJfoBCu7sOanmVRkloAalILSEliUNd0jxqO8ReP9f2zkV31rO+O8l4dtazO/0xR7K80px77nfvN3PPuec+CJ58aHqAKoWk8euXa8I1wXpJleqzkr+ekG0ghnpevwr0SeTrJUz2TQJ9wZDce/gbNFAubLu+zaKZ0XS9H6hj8NepLFsvAXVuYBHbWFYyWtuG7mXEdoCxB0BYYbNz+xhDQiJfpx/DRw8rDUM2y+fVm55hEYymH5BAO8CwA8A8m7YcwzJTvY6T0Rwf+CKBGgE0gmGBzUabqNMogCMEvOYP4sXDByK9VnYfjKfr/ESfg8oaAWpkYNVWZYp7Po1lkthvjsTlvuLKWWs5RkZTLN0kAY8D2G5WLWO4QISzBHQx8P/UpTLGIGEZGFtGkJaC2DIwLDOFztg5RtJ3U0qkw0ynNZbewxj2g/BRM51wtYSaagnhaoL+m+sOj6kY0f5Y/rc5FpwmwsGEIv/MuqutNWZNxs5Y/wYVEifhoWuro4sAjgPsdxTEkcQB+Yo1pJxGS6y/kSDdqwKNBKy/TrmjKvC9TkXu1J81PZXeShL2E9Bk1A8HJcyL+jD/Bj9uvMFfLAxNr+fqJHr7s9p/TpZRGNDJVBzsfFr+iy3DBuWSydi7lwU+WDDYTgyPgxDM22XoBVgHSdKxRDzy59mA08u2xgfXMVW9ByR9GWC3G2z+UoX6fQnSLgD7xWfVVYTF8wOYF/VjnuxzAgquDmbR2z+J7ssTGJ9gRpsHM/Miba88RplSKiuJjJ0HeheogeBPAM0Z6jLMgA5CtiOpzO0uBYxVmb0/ZoGei+lHweiRgoCAkAGbfiF0EhbPrwL/XQ4ZzagaId2XJpBVC0g57vNXPfziU9Vn7dZrG6n2ljJ2BMCS6cpYB4P0XEqJnLILoBT9ltjVOQy+Ryjno7SQlIvfR1i6MIBykmDEOzii4r3L4xoxgvRBkj6fjNW+aqd9tshoiV3dDvheEyroZoztS7VHf2+nUid0W2OD+xjY80ZbixoCuG25Q4GTDaAf/G8Sb50bKxi6SJL2JGK1LxRrpmgyWtoG4iCKCYaPBgL+hw5/M3yh2Mqc0mtpG3gZRPfr9oIBQkYYv+uiPmxeG3aquqLt8K/kzdOjGBoVnDxjSrI9Gi/GSFFktCpDu5mqiuHbz5OKvLuYCpzWaY4NPE+gfbrdWxZUYe0tQfz9nVEt2tFl+U1VWPWR6bjCaRwz2Xvj5AiupLOCSvbupDL3qBUGSzJalKF7oKp/yhuywbRV5XafG4emlYuqsHLRdIefOZ/BmfPjebMbVoawsM5eGGsXk5m+EQsR3ZqIR07OZH9GMj7z9NiK7OT467qTZMCxlCJ/0inAduw0x9N3EqNjANNiVB6qbll37VD0VtcYzvdMO9PNa0Kom+MOIQYs3dJE5s6XvlV/yazdpmTc/wMWDF4Z/COAu6YKn0oq8lo7HeiU7q5YT+0EqvnXeQe3WRuSsP1jNabmxWGC+5NNa0KI1jgzz7DbJsOQ9XLDpUjLoUNUEHrpNk3JaImlnxEmUb0MtL1SoauxwSKWqgBhy9owImHJtF/Gxhle/+cIRjI5R9owx68R4oYYsQA4mFTkJ6+H5bpk8LSCJOGEXkAFmsW0QyUbZcSycVVIS2lYCZ8l/+0Uzy/m5PYV1bi5PmBVrCzPjVhUFduulzq5LhnNsXRqOr/DOpJK9NGyoCzCqIhlyY0BrFta/Bzi5H/G8pOxObU+bL01DLIMWYoAVYKKiIXnslKK3Gw0cw00LeMJ/HRKcZiBNrk1PIlYfBJh2/qZhydj43jcf+LtkXy6Ys2SIJYurCqhK2dfxIiFgIeN2d4CMvgagE/FCT31zIBnU4pckHybPaziLBixLLupCqtLmDe8814G5y7kwl2eud26Pgzu1N0QEQsYTmclbBPXQwpQFcTxPPtK2U3lSvpZdYaIhTvtu9aHEQqaO20zezyhd/ztkXyagg9zfLhzQ4xYSKKvJWKR53QsBWS0xAZ/DbDPag9dnNzx6kUsxsmd3Y4UJ2Dc+fMgwC0RsRDQmRB8R56MXCwf6gGYhpQRtqbiMp/wVVyMWD5xWw3kGvtfhQ68fyir+Q4ukgQ0bqzVMrxuiIiFQGPZcG1D55M0yLHkEbXGhj/NkOWpcU5FV1KJ2t1A4FjbRCxmM227lXEyeEdwcTNNwusXsajEvtAZj/6qgIzmtvQhInxliowfJpXoY3Yb7JS+iMWpMf7s++M4/d/cAhyfb/B5h1siYgHhF8m4/KUCMlpiab7jIrdQw9iOZHv0FbfAilg+9fFaR1bruPN89c1hrUlVfkLjplq3mgcRC4ArSUXW+l0bpvimronRwX4dXVKR3RlQDVicGqL0dol5ovvuqEXAJb/B8YhYAqHIHL5pT+v0ptjAcgmUW7MlnEvG5eVuvTYiFp7+5uO7U/KPM6O4yPcsArh7Q422VcctEbGoYCs6lWiXRsbO2MBmFfRGDhj9IalE7nMLpIhFXzhyCsu/3s3g3Uu5CSBPjcyNuJPJ5fWLWCSwLS8p0b9qZIjRCwP7UUqJftWpDrBrR8SyanEQy292Ln3R9f44/j3lxDeuDmH+XOuEo138xeqLWAi+BxNKzW81Mprb0ruJoC2rMsITqbj8nWKNOq0nYuEbC/gGA6eELzrxBR8uTtu2i1HEwhj2pNrlF3JfRlv6CUY4qJHBsDPVLifsGndKX8SyaXUIDQ6+vXyNnK+Vc+F5Lp7vcktELMSwP9EuP+uR4RIbpmR4w1TlGTEfpoRUiOfAK0OMqQP3QtvKECDWYhraepO+ypNhOunz0iGVJ8M0HcKheInCyhEyY6JwauLnpdArxIdlCt1bXKoQE8UsLnnLrpUho6hl15zf8DYklJuSojYkaDkq8TSQt1XHcV5sbdXxNrE53v8FBm1tYst9Hd72znJQYnt7pw7C2/jsPB0lbXzmMLwjAc6SMasjAVMzcu+wjAOczPqwDMfgHSNzgAnDlhwApR0j41C8A5azI8SxA5Y6DO/ocWmEOH70WIfhHcq3R0jZDuXnvxDvugpLRipyXUWeEO8iF1NCKnqRS37I8q44KiDEtSuOdBTe5V/QtvW7fvmXToh3Ld6H5Fo88Tv1LowEXL8w0ujJvKtULYMtSwXHTyh5lwxb9rmpguNkiDV512/bI6asZIhQvIvprYmpGBnWUDyN/wN/8gSqJYzToQAAAABJRU5ErkJggg==);
  }
}

.join-fields-form {
  .fit-form-field.mat-button {
    min-width: unset;
  }
}

.pac-data-type-tag {
  background-color: var(--ngm-color-primary-container);
  color: var(--ngm-color-on-primary-container);
  @apply text-xs inline-flex items-center uppercase px-3 py-1 rounded-full overflow-hidden text-ellipsis;
}