<div class="pac-page-header">

  <div class="flex justify-start items-center gap-4">
    <pac-avatar class="w-16 h-16 rounded-full overflow-hidden" [imageUrl]="knowledgebase()?.avatar"></pac-avatar>

    <div>
      <h2 class="pac-page-title">知识库:{{ knowledgebase()?.name }}</h2>
    </div>
  </div>

  <nav
    mat-tab-nav-bar
    class="pac-tab-nav-bar"
    displayDensity="cosy"
    color="accent"
    mat-align-tabs="start"
    mat-stretch-tabs="false"
    disableRipple
    [tabPanel]="tabPanel"
  >
    <span
      mat-tab-link
      [routerLink]="['./documents']"
      routerLinkActive
      #rla1="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }"
      [active]="rla1.isActive"
    >
      <mat-icon fontSet="material-icons-round">document_scanner</mat-icon>
      {{ 'PAC.Knowledgebase.Documents' | translate: { Default: 'Documents' } }}
    </span>
    <span
      mat-tab-link
      [routerLink]="['./test']"
      routerLinkActive
      #rla2="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }"
      [active]="rla2.isActive"
    >
      <mat-icon fontSet="material-icons-outlined">quiz</mat-icon>
      {{ 'PAC.Knowledgebase.Test' | translate: { Default: 'Test' } }}
    </span>
    <span
      mat-tab-link
      [routerLink]="['./configuration']"
      routerLinkActive
      #rla3="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }"
      [active]="rla3.isActive"
    >
      <mat-icon fontSet="material-icons-outlined">manufacturing</mat-icon>
      {{ 'PAC.Knowledgebase.Configuration' | translate: { Default: 'Configuration' } }}
    </span>
  </nav>
</div>

<mat-divider></mat-divider>
  
<mat-tab-nav-panel #tabPanel class="pac-page-body flex flex-col items-center"
  [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
  <router-outlet #o="outlet"></router-outlet>
</mat-tab-nav-panel>
