<ng-content></ng-content>

@for (toolset of toolsets(); track toolset.id) {
  <div cdkMenuItem class="ngm-cdk-menu-item w-full flex justify-start items-center py-0.5 overflow-hidden"
    (click)="createToolset(toolset)">
    <emoji-avatar [avatar]="toolset.avatar" xs class="shrink-0 mr-2 overflow-hidden rounded-full"  />
    <div class="flex flex-col truncate">
      <span>{{toolset.name}}</span>
    </div>
  </div>
} @empty {
  <div class="p-2">
    {{ 'PAC.Xpert.NoToolset' | translate: {Default: 'No toolset'} }}
  </div>
}