.ngm-chatbi__cond {
  position: relative;
  text-decoration: underline dotted gray;
  margin: 0 10px;

  &::after {
    position: absolute;
    width: 60px;
    left: 50%;
    margin-left: -30px;
    bottom: -1.5em; /* Adjusts the distance from the main text */
    text-align: center;
    font-size: 0.8em;
    color: gray;
    padding: 0.2em 0.4em;
    border-radius: 3px;
    white-space: nowrap;
  }
}

.ngm-chatbi__time::after {
  content: 'Time';
}

.ngm-chatbi__slicer::after {
  content: 'Slicer';
}

.ngm-chatbi__dimension::after {
  content: 'Dimension';
}

.ngm-chatbi__measure::after {
  content: 'Measure';
}
