:host {
  display: flex;
  flex-direction: column;
}

.searchable .mat-mdc-input-element {
  @apply bg-transparent;
}

.mat-mdc-cell, .mat-mdc-header-cell {
  white-space: nowrap;

  &.number {
    text-align: right;
  }
}

.mat-mdc-paginator {
  border-top: 1px solid var(--mat-table-row-item-outline-color);
}