:host {
  display: flex;
  flex-direction: column;

  ::ng-deep {
    .cdk-header-cell {
      .searchable-icon {
        opacity: 0;
        transition: all 200ms;
      }

      &:hover {
        .searchable-icon {
          opacity: 1;
        }
      }
      
      .searchable {
        @apply ml-2 ;
        .mat-mdc-input-element {
          width: 0;
          max-width: 0;
          overflow: hidden;
          text-align: left;
        }
  
        &.searching {
          @apply rounded-md bg-black/10 dark:bg-white/10;
          
          .mat-mdc-input-element {
            width: 100px;
            max-width: unset;
            outline: none;
          }
        }
      }
    }
  }
}

.searchable .mat-mdc-input-element {
  @apply bg-transparent;
}

.mat-mdc-cell, .mat-mdc-header-cell {
  white-space: nowrap;

  &.number {
    text-align: right;
  }
}

.mat-mdc-paginator {
  border-top: 1px solid var(--mat-table-row-item-outline-color);
}
