@if (selectedNode()) {
  <div class="relative mr-2 h-full flex" @ifAnimationTrigger>
    @if (selectedNode().entity) {
      @switch (selectedNode().type) {
        @case('agent') {
          <xpert-studio-panel-agent class="h-full bg-components-panel-bg shadow-lg border-[0.5px] border-components-panel-border rounded-2xl overflow-y-auto
            w-[420px]"
            [key]="selectedNode().key"
          />
        }
      }
    }

    <div class="absolute top-2 right-2 z-20 opacity-50 hover:opacity-100" displayDensity="compact">
      <!-- <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
      </button> -->
    </div>
  </div>
}

@if (preview()) {
  <xpert-studio-panel-preview />
}