@use 'sass:map';
@use 'sass:color';
@use '@angular/material' as mat;

@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);
}

@mixin icon-cosy() {
  line-height: 20px;
  width: 20px;
  height: 20px;
  font-size: 20px;
}

@mixin icon-compact() {
  line-height: 16px;
  width: 16px;
  height: 16px;
  font-size: 16px;
}

@mixin density($config-or-theme) {
  .ngm-density__cosy .mat-mdc-chip-grid {
    .mat-mdc-chip.mat-mdc-standard-chip {
      --mdc-chip-container-height: 24px;
      @include mat.chips-density(-2);
      &.mdc-evolution-chip--with-trailing-action .mdc-evolution-chip__action--primary {
        padding-left: 8px;
      }
      &.mdc-evolution-chip--with-trailing-action .mdc-evolution-chip__action--trailing {
        padding-left: 4px;
        padding-right: 4px;
      }
    }
  }
  .ngm-density__compact .mat-mdc-chip-grid {
    .mat-mdc-chip.mat-mdc-standard-chip {
      --mdc-chip-container-height: 18px;
      @include mat.chips-density(-3);
      // margin: 0 2px;
      // min-height: 20px;
      // font-size: 12px;
      &.mdc-evolution-chip--with-trailing-action .mdc-evolution-chip__action--primary {
        padding-left: 2px;
      }
      &.mdc-evolution-chip--with-trailing-action .mdc-evolution-chip__action--trailing {
        padding-left: 2px;
        padding-right: 2px;
      }

      .mat-mdc-chip-avatar {
        width: 16px;
        height: 16px;
        margin-left: 2px;
        margin-right: 4px;
      }
    }
  }

  // For mat icon
  .mat-icon {
    &.ngm-density__cosy {
      @include icon-cosy();
    }
    &.ngm-density__compact {
      @include icon-compact();
    }
  }

  // For accordion expansion
  .ngm-density__compact.mat-accordion, .ngm-density__compact .mat-accordion {
    --mat-expansion-header-collapsed-state-height: 34px;
    --mat-expansion-header-expanded-state-height: 50px;

    .mat-expansion-panel-header {
      padding: 0 14px;
    }
  }

  // For toolbar
  .mat-toolbar.ngm-density__compact {
    &.mat-toolbar-multiple-rows {
      min-height: 58px;
    }
    &.mat-toolbar-row,
    &.mat-toolbar-single-row {
      height: 33px;
      padding: 0 6px;
      font-size: 1rem;
    }

    .mat-toolbar-row {
      padding: 0 6px;
    }
  }
}
