@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);
}

@mixin typography($config-or-theme) {
}

@mixin icon-cosy() {
  line-height: 20px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  margin: 0;
}

@mixin icon-compact() {
  line-height: 16px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  margin: 0;
}

@mixin density($config-or-theme) {
  .mat-mdc-button-base.ngm-density__cosy, .ngm-density__cosy .mat-mdc-button-base {
    height: 30px;
    line-height: 30px;

    &:not(.mat-mdc-icon-button) {
      padding: 0 12px;
    }

    &.mat-mdc-icon-button {
      --mdc-icon-button-icon-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      line-height: 30px;
      padding: 2px;

      .mat-mdc-button-touch-target {
        width: 30px;
        height: 30px;
      }
    }

    .mat-icon {
      @include icon-cosy();
    }
  }

  .mat-mdc-button-base.ngm-density__compact, .ngm-density__compact .mat-mdc-button-base {
    height: 24px;
    line-height: 24px;

    .mat-icon {
      @include icon-compact();
    }

    &:not(.mat-mdc-icon-button) {
      padding: 0 6px;
    }

    &.mat-mdc-icon-button {
      --mdc-icon-button-icon-size: 16px;
      width: 24px;
      height: 24px;
      line-height: 24px;
      padding: 0;

      .mat-mdc-button-touch-target {
        width: 24px;
        height: 24px;
      }
    }
  }
}

@mixin theme($theme) {
  $color: mat.get-color-config($theme);
  $density: mat.get-density-config($theme);
  $typography: mat.get-typography-config($theme);

  @if $color != null {
    @include color($color);
  }
  @if $density != null {
    @include density($density);
  }
  @if $typography != null {
    @include typography($typography);
  }
}
