@use 'sass:map';
@use '@angular/material' as mat;

$dialog-container-padding: 0;


@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $foreground: map.get($config, foreground);
  
  .cdk-overlay-container {
    .mat-mdc-dialog-container {
      --mdc-dialog-subhead-font: inherit;
      display: flex;
      padding: $dialog-container-padding;
      max-height: 90vh;

      .mat-mdc-dialog-title {
        padding: .5rem 1rem;
        margin: 0;
        // background-color: rgba(0, 0, 0, 0.08);
        display: flex;
        align-items: center;
        font-size: 1.25rem;
    
        h4 {
          margin: 0;
          text-align: left;
          // font-weight: 500;
          font-size: 1.25rem;
        }
      }

      .cdk-drag-handle {
        cursor: grab;
      }
    
      .mdc-dialog__content {
        flex: 1;
        max-height: unset;
        // padding: 1rem;
        // margin: 0;
      }
      
      .mat-mdc-dialog-actions {
        min-height: unset;
        margin-bottom: -$dialog-container-padding;
        border-top: 1px dashed mat.get-color-from-palette($foreground, divider);
        padding: 8px;
        &:not([align='end']) {
          justify-content: space-between;
        }
      }

      .mat-tree {
        background: unset;
      }
    }
  }
}

@mixin density($config-or-theme) {
}

@mixin theme($theme) {
  $color: mat.get-color-config($theme);
  $density: mat.get-density-config($theme);
  $typography: mat.get-typography-config($theme);

  @if $color != null {
    @include color($color);
  }
  @if $density != null {
    @include density($density);
  }
  @if $typography != null {
    @include typography($typography);
  }
}