.cdk-overlay-pane:not(.mat-mdc-autocomplete-panel-above) {
  .ngm-autocomplete-panel.mat-mdc-autocomplete-panel {
    @apply mt-2;
  }
}
.cdk-overlay-pane.mat-mdc-autocomplete-panel-above {
  .ngm-autocomplete-panel.mat-mdc-autocomplete-panel {
    @apply mb-2;
  }
}

div.mat-mdc-autocomplete-panel {
  .cdk-virtual-scroll-viewport {
    height: 240px;
  }
}

.ngm-autocomplete-panel.mat-mdc-autocomplete-panel {
  .mat-mdc-option {
    .mdc-list-item__primary-text {
      @apply w-full flex items-center whitespace-nowrap;
    }
  }

  &.ngm-density__cosy {
    .mat-mdc-option {
      min-height: 36px;
      @apply text-sm;
    }
  }

  &.ngm-density__compact {
    .mat-mdc-option {
      min-height: 30px;
      @apply text-xs;
    }
  }
}
