@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);

  .ngm-checkbox__property.mat-mdc-checkbox {
    @apply block w-60;
    .mdc-form-field {
      @apply w-full;
      .mdc-checkbox {
        @apply flex;
      }
      .mdc-label {
        @apply flex-1 overflow-hidden;
      }
    }
  }
}

@mixin typography($config-or-theme) {
}

@mixin density($config-or-theme) {
  .ngm-density__cosy {
    .mat-mdc-checkbox {
      @include mat.checkbox-density(-2);
      @apply text-sm;
      .mdc-checkbox__background {
        @apply scale-90;
      }
    }
  }
  .ngm-density__compact {
    .mat-mdc-checkbox {
      @include mat.checkbox-density(-3);
      @apply text-sm;
      .mdc-checkbox__background {
        @apply scale-90;
      }
    }
  }
}

@mixin theme($theme) {
  $color: mat.get-color-config($theme);
  $density: mat.get-density-config($theme);
  $typography: mat.get-typography-config($theme);

  @if $color != null {
    @include color($color);
  }
  @if $density != null {
    @include density($density);
  }
  @if $typography != null {
    @include typography($typography);
  }
}
