@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);

  .ngm-radio-group__horizontal.mat-radio-group {
    display: flex;
    .mat-radio-button {
      margin-right: 10px;
    }
  }

  .mat-mdc-radio-button {
    .mdc-radio {
      display: flex;
    }
  }

  .ngm-radio-button__property.mat-mdc-radio-button {
    @apply block w-60;
    .mdc-form-field {
      @apply w-full;
      .mdc-radio {
        @apply flex;
      }
      .mdc-label {
        @apply flex-1 overflow-hidden;
      }
    }
  }
}

@mixin typography($config-or-theme) {
}

@mixin density($config-or-theme) {
}

@mixin theme($theme) {
  $color: mat.get-color-config($theme);
  $density: mat.get-density-config($theme);
  $typography: mat.get-typography-config($theme);

  @if $color != null {
    @include color($color);
  }
  @if $density != null {
    @include density($density);
  }
  @if $typography != null {
    @include typography($typography);
  }
}
