@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);

  .mat-mdc-paginator {
    --mat-paginator-container-background-color: transparent;
  }
  
}

@mixin typography($config-or-theme) {
}

@mixin density($config-or-theme) {
  .mat-mdc-paginator.ngm-density__cosy, .ngm-density__cosy .mat-mdc-paginator {
    --mat-paginator-container-size: 32px;
    .mat-mdc-text-field-wrapper {
      height: 26px;
    }
    .mat-mdc-paginator-page-size-select {
      @include mat.form-field-density(-2);
      margin: -5px 0;
      .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
        padding: 0;
      }
    }
  }
  .mat-mdc-paginator.ngm-density__compact, .ngm-density__compact .mat-mdc-paginator {
    --mat-paginator-container-size: 32px;
    .mat-mdc-text-field-wrapper {
      height: 26px;
    }
    .mat-mdc-paginator-page-size-select {
      @include mat.form-field-density(-5);
      margin: -5px 0;
      .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
        padding: 0;
      }
    }
  }

}

@mixin theme($theme) {
  $color: mat.get-color-config($theme);
  $density: mat.get-density-config($theme);
  $typography: mat.get-typography-config($theme);

  @if $color != null {
    @include color($color);
  }
  @if $density != null {
    @include density($density);
  }
  @if $typography != null {
    @include typography($typography);
  }
}
