@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);
}

@mixin typography($config-or-theme) {
}

@mixin density($config-or-theme) {
  .mat-mdc-list-base.ngm-density__cosy, .ngm-density__cosy .mat-mdc-list-base {
    .mat-mdc-list-item {
      --mdc-list-list-item-one-line-container-height: 40px;
      @apply px-2;
      line-height: 40px;
      font-size: 14px;

      .mat-mdc-list-item-content > .mat-icon {
        font-size: 18px;
        line-height: 20px;
        width: 20px;
        height: 20px;
      }
    }
  }
  .mat-mdc-list-base.ngm-density__compact, .ngm-density__compact .mat-mdc-list-base {
    .mat-mdc-list-item {
      --mdc-list-list-item-one-line-container-height: 30px;
      @apply px-1;
      line-height: 30px;
      font-size: 12px;

      .mat-mdc-list-item-content {
        padding: 0 6px;
      }

      .mat-mdc-list-item-content > .mat-icon {
        font-size: 16px;
        line-height: 18px;
        width: 18px;
        height: 18px;
      }
    }
  }
}

@mixin theme($theme) {
  $color: mat.get-color-config($theme);
  $density: mat.get-density-config($theme);
  $typography: mat.get-typography-config($theme);

  @if $color != null {
    @include color($color);
  }
  @if $density != null {
    @include density($density);
  }
  @if $typography != null {
    @include typography($typography);
  }
}
