@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);

  .mat-mdc-menu-panel .mat-mdc-menu-item.active {
    // background-color: mat.get-color-from-palette($background, selected-button);
  }

  // active status color for menu trigger icon button
  .mat-mdc-menu-trigger.mat-mdc-icon-button.active {
    background: mat.get-color-from-palette($background, focused-button);
    opacity: 1;
  }

  .cdk-menu.cdk-menu-group .cdk-menu-item {
    @apply outline-none;
  }
}

@mixin typography($config-or-theme) {

}

@mixin density($config-or-theme) {
  .mat-mdc-menu-panel.ngm-density__cosy {
    --mat-menu-item-label-text-size: 14px;
    .mat-mdc-menu-item {
      line-height: 40px;
      height: 40px;
      min-height: 40px;

      .mat-mdc-icon-button .mat-icon {
        margin-right: 0;
      }
    }
  }
  .mat-mdc-menu-panel.ngm-density__compact {
    --mat-menu-item-label-text-size: 12px;
    .mat-mdc-menu-item {
      line-height: 38px;
      height: 38px;
      min-height: 38px;

      .mat-mdc-icon-button .mat-icon {
        margin-right: 0;
      }
    }
  }

  // flex 1 for radio button content in menu panel
  .mat-mdc-menu-panel {
    .mat-mdc-menu-item {

      .mat-mdc-menu-item-text {
        @apply w-full;
      }

      .mat-mdc-radio-button {
        .mat-radio-label-content {
          flex: 1;
          overflow: hidden;
        }
      }
    }
  }
}

@mixin theme($theme) {
  $color: mat.get-color-config($theme);
  $density: mat.get-density-config($theme);
  $typography: mat.get-typography-config($theme);

  @if $color != null {
    @include color($color);
  }
  @if $density != null {
    @include density($density);
  }
  @if $typography != null {
    @include typography($typography);
  }
}
