.ngm-list.mdc-list {
  .mdc-list-item {
    @apply hover:bg-black/5 dark:hover:bg-white/5;
  }
}

.ngm-nav-list.mat-mdc-nav-list .mat-mdc-list-item {
  @apply text-white rounded-lg duration-300;

  &.active {
    --mdc-list-list-item-label-text-color: theme(colors.slate.500);
    --mdc-list-list-item-hover-label-text-color: theme(colors.slate.600);
    @apply bg-slate-50;
  }

  &:hover {
    .mat-icon {
      visibility: visible;
    }
  }
}
