.mat-mdc-slide-toggle.xs {
    --mat-switch-with-icon-handle-size: 14px;
    --mdc-switch-track-height: 10px;
    --mdc-switch-track-width: 26px;
    --mdc-switch-unselected-icon-size: 12px;
    --mdc-switch-selected-icon-size: 12px;
    --mdc-switch-handle-width: 14px;
    --mdc-switch-state-layer-size: 26px;
}

.mat-mdc-slide-toggle.small {
    --mat-switch-with-icon-handle-size: 16px;
    --mdc-switch-track-height: 14px;
    --mdc-switch-track-width: 26px;
    --mdc-switch-unselected-icon-size: 14px;
    --mdc-switch-selected-icon-size: 14px;
    --mdc-switch-handle-width: 16px;
    --mdc-switch-state-layer-size: 26px;
}