.nx-dialog-container {
  &.small {
    min-height: 50vh;
    min-width: 40vw;
  }
  &.medium {
    min-width: 60vw;
    min-height: 60vh;
  }
  &.large {
    min-width: 80vw;
    min-height: 80vh;
  }
}

.cdk-dialog-container {
  @apply bg-components-card-bg rounded-2xl p-4;
}