.mat-mdc-menu-panel.ngm-menu-card {
  overflow: hidden;
  max-height: 80vh;
}

.mat-mdc-menu-panel {
  .mat-mdc-menu-item {
    .mat-mdc-radio-button {
      .mdc-label {
        @apply whitespace-nowrap text-ellipsis;
      }
    }
  }
}

.mat-mdc-menu-panel .mat-mdc-menu-content {
  .mat-mdc-menu-item.active {
    color: var(--ngm-color-primary);
    @apply font-bold bg-black/5 dark:bg-white/10;
  }
}

.mat-mdc-menu-panel.ngm-density__compact {
  --mat-menu-item-icon-size: 20px;
  --mdc-radio-state-layer-size: 30px;
  .mat-mdc-menu-content .mat-mdc-menu-item .mat-icon {
    font-size: 20px;
  }
}