.mat-mdc-menu-panel.ngm-menu-card {
  overflow: hidden;
  max-height: 80vh;
}

.mat-mdc-menu-panel {
  .mat-mdc-menu-item {
    .mat-mdc-radio-button {
      .mdc-label {
        @apply whitespace-nowrap text-ellipsis;
      }
    }
  }
}

.mat-mdc-menu-panel .mat-mdc-menu-content {
  .mat-mdc-menu-item.active {
    color: var(--ngm-color-primary);
    @apply font-bold bg-black/5 dark:bg-white/10;
  }
}

/** active status color for menu trigger icon button */
.mat-mdc-menu-trigger.mat-mdc-icon-button.active {
  @apply bg-black/5 dark:bg-white/10;
  opacity: 1;
}

.cdk-menu.cdk-menu-group .cdk-menu-item {
  @apply outline-none;
}

.mat-mdc-menu-panel.ngm-density__compact {
  --mat-menu-item-icon-size: 20px;
  --mdc-radio-state-layer-size: 30px;
  --mat-menu-item-label-text-size: 1rem;
  --mat-menu-item-spacing: 1rem;
  .mat-mdc-menu-item {
    line-height: 38px;
    height: 38px;
    min-height: 38px;

    .mat-mdc-icon-button .mat-icon {
      margin-right: 0;
    }
  }
  .mat-mdc-menu-content .mat-mdc-menu-item .mat-icon {
    font-size: 20px;
  }
}

.mat-mdc-menu-panel.ngm-density__cosy {
  --mat-menu-item-label-text-size: 14px;
  --mat-menu-item-spacing: 1rem;
  .mat-mdc-menu-item {
    line-height: 40px;
    height: 40px;
    min-height: 40px;

    .mat-mdc-icon-button .mat-icon {
      margin-right: 0;
    }
  }
}

/** flex 1 for radio button content in menu panel */
.mat-mdc-menu-panel {
  .mat-mdc-menu-item {

    .mat-mdc-menu-item-text {
      @apply w-full;
    }

    .mat-mdc-radio-button {
      .mat-radio-label-content {
        flex: 1;
        overflow: hidden;
      }
    }
  }
}