<button class="px-2 py-3 text-left border-[0.5px] flex flex-col items-stretch rounded-xl p-1 cursor-default
  bg-gray-50 border-gray-200 enabled:hover:bg-white enabled:shadow-sm disabled:opacity-50"
  [disabled]="disabled()"
>
  <div class="w-full text-gray-800 font-semibold leading-5 flex items-center">
    <button class="w-6 h-6 mr-2 rounded-md pressable enabled:hover:bg-hover-bg enabled:cursor-pointer"
      [disabled]="disabled()"
      (click)="toggleExpand()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
        class="w-6 h-6 text-text-tertiary"
        [ngClass]="{'rotate-180': expand()}">
        <path d="M12 15.0006L7.75732 10.758L9.17154 9.34375L12 12.1722L14.8284 9.34375L16.2426 10.758L12 15.0006Z"></path>
      </svg>
    </button>
    
    <div class="flex-1 truncate">{{tool().name | i18n}}</div>

    <mat-slide-toggle [(ngModel)]="enabled" ngm-density="xs" [disabled]="disabled()" />
  </div>

  @if (expand()) {
    <xpert-toolset-tool-test @ifAnimationTrigger [tool]="toolDetail$ | async" />
  }

  @if (loading()) {
    <ngm-spin class="absolute top-0 left-0 w-full h-full" />
  }
</button>
