:host {
  --mat-tree-container-background-color: transparent;
  @apply flex flex-col overflow-hidden;
}

.ngm-chatbi__cube {
  @apply bg-gray-50 hover:bg-sky-50 hover:border-sky-200 dark:bg-neutral-900 dark:hover:border-sky-800;
  &.selected {
    @apply border-sky-200 bg-sky-50 dark:bg-neutral-800 dark:border-sky-900;
  }
}

:host::ng-deep {
  .cdk-virtual-scroll-viewport.cdk-virtual-scrollable.cdk-virtual-scroll-orientation-vertical {
    overflow-x: hidden;
    .cdk-virtual-scroll-content-wrapper {
      max-width: 100%;
    }
  }
}
