@use '@angular/material/core/tokens/token-utils';

$global-prefix: ngm;
$prefix: (ngm, color);

@include token-utils.use-tokens($prefix, (surface-container-high: null)) {
  :host {
    background-color: var(#{token-utils.get-token-variable(surface-container-high)});
    border-color: var(--mdc-outlined-card-outline-color);
  }
}

:host {
  @apply border rounded-lg;
}
