<div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700">
    <div class="flex flex-col items-center p-4 gap-2">
        <img class="w-24 h-24 mb-3 rounded-full" [src]="user?.imageUrl || '/assets/images/avatar-default.svg'" alt="{{user | user}}"/>
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{user?.firstName}} {{user?.lastName}}</h5>
        <span class="text-sm text-gray-500 dark:text-gray-400">
            {{ user?.email }}
        </span>

        <ng-content></ng-content>
    </div>
</div>
