<mat-tree
  [dataSource]="dataSource"
  [treeControl]="treeControl"
  class="nx-tree_selection"
  id="pac-entity-dimension"
>
  <mat-tree-node
    *matTreeNodeDef="let node"
    matTreeNodeToggle
    matTreeNodePaddingIndent="20"
    matTreeNodePadding
    class="nx-list-item"
    [ngClass]="isSelected(node) ? 'selected' : ''"
    (click)="onSelect(node)"
    (mouseenter)="(node.readonly && !node.isUsage) || actionStrip.show()"
    (mouseleave)="(node.readonly && !node.isUsage) || actionStrip.hide()"
    cdkDrag
    [cdkDragData]="node"
  >
    <button mat-icon-button displayDensity="cosy" disabled></button>

    <mat-icon *ngIf="node.isUsage" class="text-gray-500" displayDensity="compact" fontSet="material-icons-outlined">share</mat-icon>
    <ngm-entity-property [property]="node" [displayBehaviour]="displayBehaviour"></ngm-entity-property>

    <nx-action-strip #actionStrip [hidden]="true">
      <button
        mat-icon-button displayDensity="cosy"
        *ngIf="!readonly &&
          (node.role === AGGREGATION_ROLE.dimension || node.role === AGGREGATION_ROLE.hierarchy)
        "
        (click)="addNewItem($event, node)"
      >
        <mat-icon fontSet="material-icons-round">add_circle_outline</mat-icon>
      </button>

      <!-- <button mat-icon-button displayDensity="cosy" (click)="cubeState.toggleVisible(node)">
        <mat-icon *ngIf="isVisible(node)">visibility</mat-icon>
        <mat-icon *ngIf="!isVisible(node)">visibility_off</mat-icon>
      </button> -->
      <button mat-icon-button *ngIf="!usage || node.role==='dimension'" displayDensity="cosy" color="warn"
        (click)="onDelete($event, node)">
        <mat-icon>delete</mat-icon>
      </button>
    </nx-action-strip>
  </mat-tree-node>

  <mat-tree-node
    *matTreeNodeDef="let node; when: hasChild"
    matTreeNodePaddingIndent="20"
    matTreeNodePadding
    class="nx-list-item"
    [ngClass]="isSelected(node) ? 'selected' : ''"
    (click)="onSelect(node)"
    (mouseenter)="node.isUsage && usageStrip.show(); node.readonly || actionStrip.show()"
    (mouseleave)="node.isUsage && usageStrip.hide(); node.readonly || actionStrip.hide()"
    cdkDrag
    [cdkDragData]="node"
  >
    <button mat-icon-button matTreeNodeToggle displayDensity="cosy">
      <mat-icon class="mat-icon-rtl-mirror" fontSet="material-icons-round">
        {{ treeControl.isExpanded(node) ? 'arrow_drop_down' : 'arrow_right' }}
      </mat-icon>
    </button>

    <button mat-icon-button *ngIf="node.isUsage" displayDensity="compact"
      (click)="toDimension.emit()">
      <mat-icon class="text-gray-500" displayDensity="compact" fontSet="material-icons-outlined">share</mat-icon>
    </button>
    
    <ngm-entity-property [property]="node" [displayBehaviour]="displayBehaviour"></ngm-entity-property>

    <nx-action-strip #usageStrip [hidden]="true">
      <!-- <button mat-icon-button displayDensity="cosy" (click)="toDimensionUsage($event, node)">
        <mat-icon>link</mat-icon>
      </button> -->
    </nx-action-strip>
    <nx-action-strip #actionStrip [hidden]="true">
      <button mat-icon-button *ngIf="!readonly" displayDensity="cosy" (click)="addNewItem($event, node)">
        <mat-icon fontSet="material-icons-round">add_circle_outline</mat-icon>
      </button>
      <button mat-icon-button *ngIf="!usage || node.role==='dimension'" displayDensity="cosy" color="warn"
        (click)="onDelete($event, node)">
        <mat-icon>delete</mat-icon>
      </button>
    </nx-action-strip>
  </mat-tree-node>
</mat-tree>
