<div class="flex flex-wrap justify-between items-center py-4 px-4 md:px-8">
  <div class="text-xl">
    {{ 'PAC.MENU.INDICATOR.REGISTER_INDICATOR' | translate: {Default: "Register Indicator"} }}
    {{ indicator?.id ? indicator.name : ('PAC.INDICATOR.REGISTER.New' | translate: {Default: "New"}) }}
  </div>
  
  <div class="flex flex-wrap">
    <!-- <input #fileUpload type="file" class="file-input invisible"
      (change)="handleUploadChange($event)"
      (click)="fileUpload.value=null;"> -->
  
    <div ngmButtonGroup class="flex-wrap">
      <!-- <button mat-button displayDensity="cosy" (click)="fileUpload.click()">
        <mat-icon fontSet="material-icons-round">upload</mat-icon>
          {{ 'PAC.MENU.INDICATOR.BATCH_UPLOAD' | translate: {Default: "Batch Upload"} }}
      </button> -->
      <button mat-button displayDensity="cosy" (click)="downloadTempl()">
        {{ 'PAC.MENU.INDICATOR.DownloadAsTemplate' | translate: {Default: "Download as Template"} }}
      </button>
  
      <button mat-raised-button *ngIf="type !== 'copy' && (indicator$ | async) as indicator" displayDensity="cosy"
        (click)="copy(indicator)">
        {{ 'PAC.ACTIONS.COPY' | translate: {Default: "Copy"} }}
      </button>
      <button mat-raised-button displayDensity="cosy" color="primary"
        [disabled]="register_form.formGroup.invalid || register_form.formGroup.pristine"
        (click)="onSubmit()">
        {{ 'PAC.ACTIONS.SAVE' | translate: {Default: "Save"} }}
      </button>

      <button *ngIf="indicator?.id" mat-icon-button displayDensity="cosy" ngmAppearance="danger" (click)="deleteIndicator()">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>
  </div>
</div>

<div class="flex-1 overflow-auto p-2">

  <pac-indicator-register-form #register_form
    [certifications]="certifications$ | async"
    [models]="models$ | async"
    [(ngModel)]="indicator"
  ></pac-indicator-register-form>
    
  <div *ngIf="loading" class="absolute top-1/2 left-1/2 -mt-4 -ml-4 z-10">
    <mat-spinner diameter="30" strokeWidth="2">
    </mat-spinner>
  </div>
</div>
