:host {
  @apply overflow-auto flex-1 w-full max-w-full flex flex-col;
}

.pac-indicator-register__form.pac-page__body {
  @apply overflow-hidden;
}

.pac-indicator__period-tag {
  @apply text-neutral-700 hover:bg-neutral-100 focus:bg-neutral-200 dark:hover:bg-white/10 dark:focus:bg-white/20 dark:text-neutral-200;
  &.selected {
    @apply font-extrabold bg-neutral-200 text-neutral-800 dark:bg-white/20 dark:text-neutral-100;
  }
}