:host {
  display: flex;
  flex-direction: row;
  flex: 1;
  max-width: 100%;
  overflow: hidden;

  .mat-mdc-radio-group {
    --mdc-radio-state-layer-size: 28px;
  }
}

.mat-mdc-nav-list .mat-mdc-list-item {
  @apply text-white rounded-lg duration-300;

  &.active {
    @apply bg-slate-50 text-slate-500;
  }
}

.sub-calculation {
  min-width: 400px;
  @apply p-4;
}

::ng-deep {
  .mdc-dialog__container {
    .ngm-calculated-measure {
      min-width: 600px;
    }
  }
}