@use 'sass:map';
@use '@angular/material' as mat;
@use '../../../theming' as ocap;

// Define a theme.
$primary: mat.define-palette(mat.$blue-grey-palette, 600);
$accent:  mat.define-palette(mat.$amber-palette, A700, A400, A200);

// $material-typeface: "Lato, 'Noto Serif SC', monospace";
// // mat.$light-theme-background-palette: map-merge(mat.$light-theme-background-palette, (surface: rgba(255, 255, 255, 0.875)));
// $custom-typography: mat.define-typography-config(
//   $font-family: $material-typeface
// );
$mat-theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent:  $accent,
  ),
  density: -1,
));

@include mat.core();
@include mat.all-component-themes($mat-theme);

@include ocap.core-theme($mat-theme);
@include ocap.analytical-grid-theme($mat-theme);
@include ocap.breadcrumb-theme($mat-theme);
@include ocap.controls-theme($mat-theme);
@include ocap.entity-theme($mat-theme);
@include ocap.common-color($mat-theme);
@include ocap.common-density($mat-theme);
