<div class="w-full h-60 bg-slate-50 flex justify-center items-center bg-cover bg-center"
    [style.background-image]="'url(' + imageUrl + ')'"
    >
    <input #fileUpload type="file" class="file-input h-0 w-0 invisible" accept="image/*"
        (change)="onFileSelected($event)"
        (click)="fileUpload.value=null;"
    >
    <button mat-stroked-button ngmAppearance="dashed" displayDensity="cosy" color="accent" class="backdrop-blur-md"
        [disabled]="disabled"
        (click)="fileUpload.click()">
        <div class="flex justify-start items-center">
            <mat-icon fontSet="material-icons-round">upload</mat-icon>
            {{ 'Story.Common.Upload' | translate: {Default: "Upload"} }}
        </div>
    </button>
</div>