:host {
  @apply flex items-center gap-2;

  &.disabled {
    .tag {
      @apply opacity-50;
    }
  }

  .tag {

    @apply shadow-sm;

    &.primary {
      color: var(--ngm-color-on-primary-container);
    }
    &.blue {
      @apply text-blue-500 dark:text-blue-800;
    }
    &.green {
      @apply text-green-500 dark:text-green-800;
    }
    &.red {
      @apply text-red-500 dark:text-red-800;
    }
    &.yellow {
      @apply text-yellow-500 dark:text-yellow-800;
    }
    &.gray {
      @apply text-gray-500 dark:text-gray-800;
    }
  }

  &.selectable {
    .tag {
      @apply cursor-pointer;

      &.selected {
        @apply bg-gray-200 dark:bg-gray-500;
      }

      &.blue.selected {
        @apply bg-blue-100;
      }
      &.green.selected {
        @apply bg-green-100;
      }
      &.red.selected {
        @apply bg-red-100;
      }
      &.yellow.selected {
        @apply bg-yellow-100;
      }
      &.gray.selected {
        @apply bg-gray-100;
      }
    }
  }

  &:not(.selectable) {
    .tag {
      &.primary {
        background-color: var(--ngm-color-primary-container);
      }
      &.blue {
        @apply bg-blue-100 dark:bg-blue-100/80;
      }
      &.green {
        @apply bg-green-100 dark:bg-green-100/80;
      }
      &.red {
        @apply bg-red-100 dark:bg-red-100/80;
      }
      &.yellow {
        @apply bg-yellow-100 dark:bg-yellow-100/80;
      }
      &.gray {
        @apply bg-gray-100 dark:bg-gray-100/80;
      }
    }
  }
}

.tag {
  @apply px-3 py-1 rounded-lg;
}

::ng-deep {
  .ngm-density__cosy {
    .ngm-tags .tag {
      @apply px-2 py-0.5 rounded-lg text-sm;
    }
  }

  .ngm-density__compact {
    .ngm-tags .tag {
      @apply px-1 py-0 rounded-md text-sm font-semibold;
    }
  }
}
