@use 'sass:map';
@use 'sass:color';
@use '@angular/material' as mat;

@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);
  $warn: map.get($config, warn);

  .pac-model-hierarchy {
    #pac-model-dimension__hierarchy-levels {
      .mat-mdc-list-text {
        padding: 0;
      }
    }
  }
  #pac-model-dimension__hierarchy-levels {
    .mdc-list-item.mdc-list-item--activated {
      @apply bg-black/10;
    }
  }
}

@mixin density($config-or-theme) {
}
