:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 100%;
  height: 100%;
}

:host::ng-deep {
  .ant-tabs-tab-btn {
    padding: 0 1rem;
  }
  .ant-tabs-nav {
    margin: 0;
  }
}
