<mat-toolbar class="pac-nav-toolbar flex items-center" displayDensity="compact">
    <button mat-icon-button displayDensity="cosy"
        [matMenuTriggerFor]="menu"
        >
        <mat-icon>more_vert</mat-icon>
    </button>
    <nav mat-tab-nav-bar [tabPanel]="tabPanel" color="accent" disableRipple class="flex-1" mat-stretch-tabs="false" mat-align-tabs="start">
        <span mat-tab-link *ngFor="let tab of hierarchies(); index as i; trackBy: trackById"
            [routerLink]="['hierarchy', tab.__id__]"
            routerLinkActive #rla="routerLinkActive"
            [active]="rla.isActive"
        >
            {{tab.caption}}
            <button mat-icon-button displayDensity="compact" class="pac-nav-tab__close"
                [matMenuTriggerFor]="hMenu"
                [matMenuTriggerData]="{key: tab.__id__}"
                >
                <mat-icon>more_vert</mat-icon>
            </button>
        </span>

        <button mat-icon-button displayDensity="cosy" [matTooltip]="'PAC.ACTIONS.NEW_HIERARCHY' | translate: {Default: 'New Hierarchy'}"
            (click)="newHierarchy()">
            <mat-icon>add</mat-icon>
        </button>
    </nav>

    <div class="flex justify-around items-center">
        <button mat-button displayDensity="cosy" [color]="detailsOpen?'accent':''" (click)="drawer.toggle()">
            <div class="flex justify-start items-center">
                <mat-icon fontSet="material-icons-outlined">edit_attributes</mat-icon>
                <span *ngIf="(isMobile$ | async)==false">{{ 'PAC.MENU.Attributes' | translate: {Default: "Attributes"} }}</span>
            </div>
        </button>
    </div>
</mat-toolbar>
<mat-drawer-container class="flex-1" [hasBackdrop]="false" [autosize]="true">
    <mat-drawer #drawer class="ngm-story__designer-drawer mat-elevation-z"
        autosize position="end"
        [mode]="(isMobile$ | async) ? 'over' : 'side'"
        [(opened)]="detailsOpen"
        ngmResizer [resizerWidth]="380"
    >
        <ngm-settings-panel class="pac-model__settings-container m-2 rounded-lg shadow-lg overflow-hidden"
            liveMode (opened)="detailsOpen=true">
        </ngm-settings-panel>

        <div ngmResizerBar resizerBarPosition="left" style="z-index: 1;"
            cdkDrag
            cdkDragLockAxis="x"
        ></div>
    </mat-drawer>
    <mat-drawer-content>
        <mat-tab-nav-panel #tabPanel class="h-full w-full flex-1 overflow-hidden">
            <router-outlet #o="outlet"></router-outlet>
        </mat-tab-nav-panel>
    </mat-drawer-content>
</mat-drawer-container>

<mat-menu #menu="matMenu" class="ngm-density__compact">
    <button mat-menu-item (click)="editDimension()">
        <mat-icon fontSet="material-icons-round">drive_file_rename_outline</mat-icon>
        <span>{{ 'PAC.KEY_WORDS.DIMENSION' | translate: {Default: "Dimension"} }}</span>
    </button>
</mat-menu>

<mat-menu #hMenu="matMenu" class="ngm-density__compact">
    <ng-template matMenuContent let-key="key">
      <button mat-menu-item (click)="editHierarchy(key)">
        <mat-icon fontSet="material-icons-outlined">drive_file_rename_outline</mat-icon>
        <span>{{ 'PAC.MODEL.DIMENSION.EditAttributes' | translate: {Default: "Edit Attributes"} }}</span>
      </button>

      <button mat-menu-item (click)="duplicateHierarchy(key)">
        <mat-icon fontSet="material-icons-outlined">content_copy</mat-icon>
        <span>{{ 'PAC.ACTIONS.Duplicate' | translate: {Default: "Duplicate"} }}</span>
      </button>
    
      <button mat-menu-item ngmAppearance="danger" (click)="removeHierarchy(key)">
        <mat-icon fontSet="material-icons-round">delete_forever</mat-icon>
        <span>{{ 'PAC.KEY_WORDS.DELETE' | translate: {Default: "Delete"} }}</span>
      </button>
    </ng-template>
</mat-menu>
