<div class="flex items-center mb-4 leading-[18px] text-xs font-semibold text-gray-500 uppercase">
  <div class="mr-3">parameters</div>
  <div class="grow w-0 h-px bg-[#f3f4f6]"></div>
</div>

<div class="space-y-4">
  @for (parameter of tool().parameters; track parameter.name) {
    <div>
      <div class="flex items-center space-x-2 leading-[18px]">
        <div class="text-sm font-semibold text-gray-900">{{parameter.label | i18n}}</div>
        <div class="text-xs font-medium text-gray-500">{{parameter.type}}</div>
        @if (parameter.required) {
          <div class="text-xs font-medium text-[#EC4A0A]">Required</div>
        }
      </div>
      <div class="mt-1 leading-[18px] text-xs font-normal text-gray-600">{{parameter.human_description | i18n}}</div>
    </div>
  }
</div>
