@use 'sass:map';
@use '@angular/material' as mat;
@use './member-table/member-table-theme' as member-table;
@use './member-tree/member-tree-theme' as member-tree;
@use './member-list/member-list-theme' as member-list;
@use './smart-filter/smart-filter-theme' as smart-filter;


@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);

  @include member-table.color($config-or-theme);
  @include member-tree.color($config-or-theme);
  @include member-list.color($config-or-theme);
  @include smart-filter.color($config-or-theme);
}

@mixin typography($config-or-theme) {
}

@mixin density($config-or-theme) {
  @include member-table.density($config-or-theme);
  @include member-tree.density($config-or-theme);
  @include member-list.density($config-or-theme);
  @include smart-filter.density($config-or-theme);

  .ngm-density__cosy.ngm-smart-select, .ngm-density__cosy .ngm-smart-select {
    @include mat.form-field-density(-3);
  }
  .ngm-density__compact.ngm-smart-select, .ngm-density__compact .ngm-smart-select{
    @include mat.form-field-density(-5);
  }
}

@mixin theme($theme) {
  $color: mat.get-color-config($theme);
  $density: mat.get-density-config($theme);
  $typography: mat.get-typography-config($theme);

  @if $color != null {
    @include color($color);
  }
  @if $density != null {
    @include density($density);
  }
  @if $typography != null {
    @include typography($typography);
  }
}
