<span class="flex" data-state="closed">
  <button [matTooltip]="sidenav().opened ? (
    'PAC.Chat.CloseSidebar' | translate: {Default: 'Close sidebar'}
  ) : (
    'PAC.Chat.OpenSidebar' | translate: {Default: 'Open sidebar'}
  )"
    class="pac-chat-button"
    (click)="sidenav().toggle()"
  >
    <pac-chat-sidemenu-svg />
  </button>
</span>

<span class="flex" data-state="closed">
  <button [matTooltip]="'PAC.Chat.NewChat' | translate: {Default: 'New chat'}"
    class="pac-chat-button"
    (click)="newConversation()"
  >
    <pac-chat-new-chat-svg />
  </button>
</span>