.ngm-resizer-disabled {
  .ngm-resizer-bar.cdk-drag-disabled {
    display: none;
  }
}

.ngm-resizer-bar {
  opacity: 0;
  background-color: var(--ngm-accent-color, theme('colors.amber.400'));
  transition: opacity 0.1s ease-in-out;
}
.ngm-resizer-bar:hover,
.ngm-resizer-bar.cdk-drag-dragging {
  opacity: 1;
  transition: opacity 0.1s ease-in-out .5s;
}