@import './features/home/_home';
@import './features/project/_project.component';
@import './features/_features.component';

.pac-page-header {
  @apply flex flex-col justify-start items-start gap-2 px-4 pt-4;
}
.pac-page-title {
  @apply text-2xl font-bold;
}
.pac-page-subtitle {
  @apply text-base font-light;
}
.pac-page-body {
  @apply overflow-auto relative ;
}
.pac-page-body-toolbar {
  @apply flex justify-between items-center;
}
.pac-tab-nav-bar.mat-mdc-tab-header {
  --mdc-secondary-navigation-tab-container-height: 38px;

  .pac-tab-close {
    @apply opacity-0 invisible absolute -right-6;
  }
  .mdc-tab.mdc-tab--active {
    .pac-tab-close {
      @apply opacity-100 visible;
    }
  }
}
.mat-mdc-card.mdc-card {
  @apply rounded-lg shadow-sm;
}

.cdk-overlay-container .mat-mdc-dialog-container.mdc-dialog .mdc-dialog__content.pac-dialog-content {
  @apply p-0;
}

.ngm-table {
  border-color: var(--mat-divider-color);
}
.pac-table-container {
  border-color: var(--mat-divider-color);
}

.ngm-modal-sidenav {
  @apply bg-bluegray-700 text-white dark:bg-bluegray-900;
}