<mat-accordion >
  <mat-expansion-panel hideToggle class="mat-elevation-z" [disabled]="!primary()?.enabled">
    <mat-expansion-panel-header>
      <mat-panel-title>{{'PAC.KEY_WORDS.Copilot' | translate: {Default: 'Copilot'} }}({{'PAC.KEY_WORDS.Primary' | translate: {Default: 'Primary'} }})</mat-panel-title>
      <mat-panel-description class="flex-1">
        <mat-slide-toggle labelPosition="before" ngm-density small [matTooltip]="'PAC.Copilot.EnableCopilot' | translate: {Default: 'Enable Copilot'}"
          [checked]="primary()?.enabled"
          (change)="onToggle(eAiProviderRole.Primary, primary()?.enabled)"
          (click)="$event.stopPropagation();">
        </mat-slide-toggle>
      </mat-panel-description>
    </mat-expansion-panel-header>
    
    <pac-copilot-form [role]="eAiProviderRole.Primary"></pac-copilot-form>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle class="mat-elevation-z" [disabled]="!secondary()?.enabled">
    <mat-expansion-panel-header>
      <mat-panel-title>{{'PAC.KEY_WORDS.Copilot' | translate: {Default: 'Copilot'} }}({{'PAC.KEY_WORDS.Secondary' | translate: {Default: 'Secondary'} }})</mat-panel-title>
      <mat-panel-description class="flex-1">
        <mat-slide-toggle labelPosition="before" ngm-density small [matTooltip]="'PAC.Copilot.EnableCopilot' | translate: {Default: 'Enable Copilot'}"
          [checked]="secondary()?.enabled"
          (change)="onToggle(eAiProviderRole.Secondary, secondary()?.enabled)"
          (click)="$event.stopPropagation();">
        </mat-slide-toggle>
      </mat-panel-description>
    </mat-expansion-panel-header>
    
    <pac-copilot-form [role]="eAiProviderRole.Secondary"></pac-copilot-form>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle class="mat-elevation-z"
    [disabled]="!embedding()?.enabled"
    [expanded]="!!embedding()?.enabled">
    <mat-expansion-panel-header>
      <mat-panel-title>{{'PAC.KEY_WORDS.Copilot' | translate: {Default: 'Copilot'} }}({{'PAC.KEY_WORDS.Embedding' | translate: {Default: 'Embedding'} }})</mat-panel-title>
      <mat-panel-description class="flex-1">
        <mat-slide-toggle labelPosition="before" ngm-density small [matTooltip]="'PAC.Copilot.EnableCopilot' | translate: {Default: 'Enable Copilot'}"
          [checked]="embedding()?.enabled"
          (change)="onToggle(eAiProviderRole.Embedding, embedding()?.enabled)"
          (click)="$event.stopPropagation();">
        </mat-slide-toggle>
      </mat-panel-description>
    </mat-expansion-panel-header>
    
    <pac-copilot-form [role]="eAiProviderRole.Embedding" embedding></pac-copilot-form>
  </mat-expansion-panel>
</mat-accordion>
