<div class="pac-page-header">
    <div class="pac-page-title">{{ 'PAC.Copilot.AICopilot' | translate: {Default: 'AI Copilot'} }}</div>
</div>

<form [formGroup]="formGroup" class="w-full lg:w-1/2 lg:max-w-[50%] flex flex-col items-start p-4 overflow-hidden"
    (ngSubmit)="onSubmit()">
    <mat-slide-toggle class="my-8" formControlName="enabled">
        {{ 'PAC.Copilot.EnableCopilot' | translate: {Default: 'Enable Copilot'} }}
    </mat-slide-toggle>

    <mat-form-field appearance="fill">
        <mat-label>{{ 'PAC.Copilot.Provider' | translate: {Default: 'Provider'} }}</mat-label>
        <mat-select formControlName="provider">
          <mat-option value="openai">OpenAI</mat-option>
          <mat-option value="azure">Azure</mat-option>
          <mat-option value="dashscope">
            {{ 'PAC.Copilot.Provider_DashScope' | translate: {Default: 'DashScope'} }}
          </mat-option>
        </mat-select>
    </mat-form-field>

    <input type="text" id="username" name="username" autocomplete="username" aria-hidden="true" style="display: none;">
    <div class="self-stretch flex justify-start items-center gap-4">
        <mat-form-field appearance="fill" class="flex-1">
            <mat-label>
                {{ 'PAC.Copilot.APIKey' | translate: {Default: 'API Key'} }}
            </mat-label>
            <input name="copilot-apikey" id="copilot-apikey" matInput formControlName="apiKey" type="password"
                autocomplete="current-password">
        </mat-form-field>

        <a mat-stroked-button [href]="providerHref[provider()]" target="_blank">
            {{ 'PAC.Copilot.GetYourApiKey' | translate: {Default: 'Get your api key!'} }}
        </a>
    </div>

    <div class="self-stretch flex justify-start items-center">
        <mat-form-field appearance="fill" class="flex-1">
            <mat-label>
                {{ 'PAC.Copilot.APIHost' | translate: {Default: 'API Host'} }}
            </mat-label>
            <input name="copilot-apihost" id="copilot-apihost" matInput formControlName="apiHost" type="text">
        </mat-form-field>
    </div>

    <mat-form-field appearance="fill" class="flex-1">
        <mat-label>
            {{ 'PAC.Copilot.DefaultModel' | translate: {Default: 'Default Model'} }}
        </mat-label>

        <mat-select formControlName="defaultModel">
          @for (model of models(); track model.id) {
            <mat-option [value]="model.id">{{model.name}}</mat-option>
          }
        </mat-select>
    </mat-form-field>

    <div class="self-stretch flex justify-start items-center">
        <mat-checkbox formControlName="showTokenizer">
            {{ 'PAC.Copilot.ShowTokenizer' | translate: {Default: 'Show Tokenizer'} }}
        </mat-checkbox>
    </div>

    <div class="self-stretch flex justify-start items-center mt-8">
        <button mat-raised-button color="primary" class="ngm-rounded-full"
            [disabled]="formGroup.invalid || formGroup.pristine"
        >
            <div class="flex items-center">
              @if (saving()) {
                <mat-spinner diameter="20" class="mr-2"></mat-spinner>
              }
                <span>
                    {{ 'PAC.ACTIONS.Save' | translate: {Default: 'Save'} }}
                </span>
            </div>
            
        </button>
    </div>
</form>
