@if (execution(); as execution) {
  <div class="xpert-execution-status py-4"
    [ngClass]="execution.status">
    <div class="container px-3 py-[10px] rounded-lg border-[0.5px] border-black/5 shadow-xs dark:border-white/10">
      <div class="flex">
        <div class="flex-[33%] max-w-[120px]">
          <div class="text-sm leading-[18px] font-medium text-gray-400">STATUS</div>
          <div class="indicator-container flex items-center gap-1 h-[18px] text-sm leading-3 font-semibold">
            <div class="indicator w-2 h-2 border border-solid rounded-[3px] "></div>
            <span class="uppercase">{{execution.status | isNil: 'unknow'}}</span>
          </div>
        </div>
        <div class="flex-[33%] max-w-[152px]">
          <div class="text-sm leading-[18px] font-medium text-gray-400">ELAPSED TIME</div>
          <div class="flex items-center gap-1 h-[18px] text-sm leading-3 font-semibold">
            <span>{{execution.elapsedTime / 1000 | number: '0.0-3'}}s</span>
          </div>
        </div>
        <div class="flex-[33%]">
          <div class="text-sm leading-[18px] font-medium text-gray-400">TOTAL TOKENS</div>
          <div class="flex items-center gap-1 h-[18px] text-sm leading-3 font-semibold">
            <span>{{execution.tokens | isNil: 'NaN'}} Tokens</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p class="">在拟定合作协议时，建议寻求法律意见以确保合同的合法性和有效性。执行与销售伙伴的合作协议计划是一个重要的商业策略。以下是一些建议步骤</p>

  @if (execution.error) {
    <p class="">{{ execution.error }}</p>
  }
}
