@for (item of contents(); track $index) {
  @switch (item.type) {
    @case ('text') {
      <div>
        <markdown class="ngm-copilot-markdown max-h-[400px] block overflow-auto"
          lineNumbers
          [start]="5"
          [data]="item.text"
        />
      </div>
    }
    @case ('tool_use') {
      <div class="mt-2 pt-2 border-t-[0.5px] border-t-black/5">
        <div class="flex items-center mb-1 system-sm-semibold-uppercase text-text-secondary">Tool: {{item.name}}</div>
        <div class="mb-2 system-xs-regular text-text-tertiary">{{item.id}}</div>
        <div class="mb-2 system-xs-regular text-text-tertiary">{{item.input}}</div>
      </div>
    }
  }
}
