.ngm-appearance-opacity {
  opacity: 0.5;
}

.mat-button-toggle-group.mat-button-toggle-group-appearance-standard {
  --border-radius: 1rem;
  --box-shadow-radius: 6px;
  border: unset;
  border-radius: var(--border-radius);
  overflow: visible;

  &:not(.mat-button-toggle-vertical) {
    .mat-button-toggle {
      &:first-child {
        border-top-left-radius: calc(var(--border-radius) - 3px);
        border-bottom-left-radius: calc(var(--border-radius) - 3px);
      }
      &:last-child {
        border-top-right-radius: calc(var(--border-radius) - 3px);
        border-bottom-right-radius: calc(var(--border-radius) - 3px);
      }
    }
  }
  &.mat-button-toggle-vertical {
    .mat-button-toggle {
      &:first-child {
        border-top-left-radius: calc(var(--border-radius) - 3px);
        border-top-right-radius: calc(var(--border-radius) - 3px);
      }
      &:last-child {
        border-bottom-left-radius: calc(var(--border-radius) - 3px);
        border-bottom-right-radius: calc(var(--border-radius) - 3px);
      }
    }
  }

  .mat-button-toggle {
    &:hover, 
    &.cdk-focused,
    &:active {
      box-shadow: rgb(143 155 179 / 16%) 0px 0px 0px var(--box-shadow-radius);
      z-index: 1;
    }
  }

  &.ngm-appearance-outline {
    --box-shadow-radius: 10px;
    @apply border-gray-100 border-solid border p-1 dark:border-gray-800;
  }

  &.ngm-appearance-hero {
    --border-radius: 1.5rem;
    --mat-standard-button-toggle-divider-color: theme(colors.transparent);
    @apply p-1.5 bg-gray-100 dark:bg-gray-500/10;
    .mat-button-toggle.mat-button-toggle-appearance-standard {
      border-radius: calc(var(--border-radius) - 3px);
      &:not(.mat-button-toggle-checked) {
        @apply bg-transparent;
      }
    }
  }
}