.assets-list {
  padding-top: 0;
  .mat-mdc-list-item {
    --mdc-list-list-item-label-text-size: theme(fontSize.sm);
    --mdc-list-list-item-label-text-line-height: theme(lineHeight.5);
    @apply py-2 h-[auto];

    &.mdc-list-item--with-leading-icon {
      .mdc-list-item__start {
        margin-left: 6px;
        margin-right: 12px;
      }
    }
    .description {
      white-space: normal;
      padding-left: 8px;
      margin: 8px 0;
    }
  }
}