<div class="flex justify-between items-center p-4">
  <div class="text-xl">
    {{ 'PAC.KEY_WORDS.SEMANTIC_MODEL' | translate: {Default: "Semantic Models"} }}
  </div>

  <input #fileUpload type="file" class="file-input"
      (change)="onUpload($event)"
      (click)="fileUpload.value=null;"
    >
  <div ngmButtonGroup>
    <button mat-button displayDensity="cosy" (click)="fileUpload.click()" [disabled]="modelUploading">
      <ng-container *ngIf="modelUploading">
        <mat-spinner color="primary" strokeWidth="1" diameter="20" style="display: inline-block;"></mat-spinner>
        {{ 'PAC.ACTIONS.Uploading' | translate: {Default: "Uploading"} }}...
      </ng-container>
      <ng-container *ngIf="!modelUploading">
        {{ 'PAC.ACTIONS.UPLOAD' | translate: {Default: "Upload"} }}
      </ng-container>
    </button>
    <button mat-raised-button color="primary" displayDensity="cosy"
      (click)="onNewModel()">
      <div class="flex items-center">
        <mat-icon>add</mat-icon>{{ 'PAC.ACTIONS.NEW' | translate: {Default: "New"} }}
      </div>
    </button>

    <button mat-icon-button displayDensity="cosy" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</div>

<!-- <div>
  <nav mat-tab-nav-bar [tabPanel]="tabPanel" color="accent" disableRipple displayDensity="cosy" mat-stretch-tabs="false" mat-align-tabs="start">
    <span mat-tab-link [active]="type === 'my'" (click)="type='my'">
      {{ 'PAC.MENU.MODEL.MY' | translate: {Default: "My"} }}
    </span>

    <span mat-tab-link [active]="type === 'all'" *ngxPermissionsOnly="[AnalyticsPermissionsEnum.BUSINESS_AREA_EDIT]"
      (click)="type='all'">
      {{ 'PAC.MENU.MODEL.ALL' | translate: {Default: "All"} }}
    </span>
  </nav>
  
</div> -->

<ngm-tree-table class="w-full h-full"
  [data]="models$ | async"
  [columns]="columns"
  [nameLabel]=" 'PAC.MODEL.Name' | translate: {Default: 'Name'} "
  [displayDensity]="DisplayDensity.cosy"
  [nameCellTemplate]="nameTempl"
  [initialLevel]="1000"
  [stickyHeaders]="true"
>
</ngm-tree-table>

<div *ngIf="loading" class="absolute left-0 top-0 w-full h-full z-50 flex justify-center items-center">
  <mat-spinner class="self-center" strokeWidth="2" diameter="30"></mat-spinner>
</div>

<!-- <mat-tab-nav-panel #tabPanel class="relative flex-1 overflow-auto">
</mat-tab-nav-panel> -->

<ng-template #nameTempl let-key="key" let-name="name" let-item="raw">
  <div class="max-w-[300px] inline-flex justify-start items-center overflow-hidden whitespace-nowrap text-ellipsis">
    <a *ngIf="item.__isModel__" [routerLink]="['/models', key]" class="flex justify-start items-center">
      <span class="font-notoColorEmoji">🧊</span>
      <mat-icon *ngIf="item.agentType==='wasm'" fontSet="material-icons-round" displayDensity="compact" class="shrink-0 text-emerald-600">memory</mat-icon>
      <span class="text-ellipsis overflow-hidden">{{name}}</span>
    </a>
    <span *ngIf="!item.__isModel__">
      {{name}}
    </span>
  </div>
</ng-template>

<mat-menu #menu="matMenu" class="ngm-density__compact">
  <button mat-menu-item color="primary" (click)="onNewModel(null, 'sql')">
    <div class="flex items-center">
      <mat-icon>add</mat-icon>
      {{ 'PAC.ACTIONS.NEW' | translate: {Default: "New"} }} SQL {{ 'PAC.KEY_WORDS.MODEL' | translate: {Default: "Model"} }}
    </div>
  </button>

  <button mat-menu-item color="primary" (click)="onNewModel(null, 'mdx')">
    <div class="flex items-center">
      <mat-icon>add</mat-icon>
      {{ 'PAC.ACTIONS.NEW' | translate: {Default: "New"} }} MDX {{ 'PAC.KEY_WORDS.MODEL' | translate: {Default: "Model"} }}
    </div>
  </button>

  <button mat-menu-item color="primary" (click)="onNewWASMModel()">
    <div class="flex items-center">
      <mat-icon>add</mat-icon>{{ 'PAC.ACTIONS.NEW' | translate: {Default: "New"} }} WASM {{ 'PAC.KEY_WORDS.MODEL' | translate: {Default: "Model"} }}
    </div>
  </button>
</mat-menu>

<ng-template #actions let-item="raw" let-key="key">
  <div *ngIf="!item.__isModel__" class="pac__table-actions flex items-center">
    <button mat-icon-button displayDensity="cosy" [matTooltip]="'PAC.ACTIONS.CreateModel' | translate: {Default: 'Create Model'}"
      (click)="onNewModel(key)">
      <mat-icon fontSet="material-icons-outlined">add</mat-icon>
    </button>
  </div>
  <div *ngIf="item.__isModel__" class="pac__table-actions flex items-center gap-2" >
    <button mat-icon-button displayDensity="cosy" [matTooltip]="'PAC.ACTIONS.Edit' | translate: {Default: '✒️Edit'}"
      [routerLink]="['/models', key]">
      <mat-icon fontSet="material-icons-outlined">edit</mat-icon>
    </button>

    <button mat-icon-button displayDensity="cosy" [matTooltip]="'PAC.ACTIONS.CreateStory' | translate: {Default: '📖Create Story'}"
      (click)="createStory(item)">
      <mat-icon fontSet="material-icons-outlined">local_library</mat-icon>
    </button>
    
    <button mat-icon-button displayDensity="cosy" [matTooltip]=" 'PAC.ACTIONS.Download' | translate: {Default: 'Download'} "
      (click)="onDownload(item.id)">
      <mat-icon fontSet="material-icons-outlined">file_download</mat-icon>
    </button>
    <button mat-icon-button displayDensity="cosy" ngmAppearance="danger" [matTooltip]=" 'PAC.ACTIONS.Delete' | translate: {Default: 'Delete'} "
      (click)="onDelete(item)"
    >
      <mat-icon fontSet="material-icons-outlined">delete</mat-icon>
    </button>
  </div>
</ng-template>
