:host {
  background-color: var(--ngm-copilot-bg-color, theme('colors.white'));
  font-family: var(--ngm-copilot-font-family);
  // --mat-divider-color: var(--ngm-divider-color-secondary);
  --hot-pink: oklch(59.91% 0.239 8.14);
  --hot-red: oklch(61.42% 0.238 15.34);
  --orange-red: oklch(63.32% 0.24 31.68);
  --red-to-orange-horizontal-gradient: linear-gradient(90deg, var(--hot-pink) 0%, var(--orange-red) 100%);
  --subtle-purple: color-mix(in srgb, var(--bright-blue) 5%, white 10%);
  --full-contrast: white;
  --bright-blue: color-mix(in srgb, oklch(51.01% 0.274 263.83), var(--full-contrast) 60%);
  @apply flex flex-col relative text-sm;
}

.copilot-code-container {
  @apply bg-gray-200 rounded-lg text-xs text-gray-500;
}

.copilot-code-titlebar {
  @apply flex justify-between items-center border-b-2 p-2;
}

.copilot-code-copy-button {
  @apply flex items-center;
}

.copilot-code-content {
  @apply overflow-x-auto overflow-y-hidden p-2 whitespace-pre;
}

.copilot-message-stop {
  .emoji-loader {
    width: 1.5rem;
  }
  .emoji-loader::before {
    font-size: 1rem;
    line-height: 1rem;
  }
}

.ngm-copilot__message-remove.mat-mdc-icon-button {
  background-color: var(--ngm-copilot-bg-color, theme('colors.white'));
  @apply absolute z-[101] text-slate-500 hover:text-red-500 hover:bg-slate-50 dark:bg-neutral-100/10;
}
.pac-colpilot__clear-messages {
  @apply border-dashed;
}

.ngm-copilot__resubmit {
  @apply my-2 rounded-full;
}

.mat-mdc-input-element {
  @apply outline-none bg-transparent;
}

.ngm-colpilot__active {
  @apply shadow-lg dark:shadow-neutral-800;
}

.ngm-copilot-chat__message-content {
  @apply rounded-lg max-w-full py-2 px-4 overflow-auto;
}

.ngm-copilot__user-message {
  @apply rounded-xl rounded-tr-sm bg-gray-200/50 dark:bg-neutral-700/30;
}

.ngm-copilot-chat__answering {
  background-color: var(--ngm-copilot-bg-color, white);
}

:host::ng-deep {
  markdown {
    p:first-child {
      @apply indent-4;
    }

    ol {
      list-style-type: decimal;
    }

    :not(pre) > code[class*='language-'],
    pre[class*='language-'] {
      scrollbar-width: thin;
      scrollbar-color: hsla(0, 0%, 100%, 0.1) transparent;
      @apply rounded-lg bg-gray-950;

      &:hover {
        scrollbar-color: hsla(0, 0%, 100%, 0.3) transparent;
      }

      &::-webkit-scrollbar {
        height: 1rem;
        width: 0.5rem;
      }

      &::-webkit-scrollbar:horizontal {
        height: 0.5rem;
        width: 1rem;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 9999px;
      }

      &::-webkit-scrollbar-thumb {
        --tw-border-opacity: 1;
        background-color: hsla(0, 0%, 100%, 0.1);
        border-color: rgba(255, 255, 255, var(--tw-border-opacity));
        border-radius: 9999px;
        border-width: 1px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: hsla(0, 0%, 100%, 0.3);
      }
    }

    code {
      font-family: var(--code-font);
      border-radius: 0.25rem;
      font-weight: 400;
      isolation: isolate;
    }

    code:not(pre *):before {
      content: '';
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      background: var(--subtle-purple);
      border-radius: 0.25rem;
      z-index: -1;
    }

    code:not(pre *) {
      position: relative;
      padding: 0 0.3rem;
      background: var(--red-to-orange-horizontal-gradient);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      max-width: max-content;
      width: 100%;
      display: inline-block;
    }
  }

  // popper
  .ngxp__container.ngxp__animation {
    @apply p-0 shadow-none border-0;
  }
}

::ng-deep {
  .ngm-copilot-chat__autocomplete-panel.ngm-density__compact {
    .mdc-list-item {
      @apply pl-2;
    }
  }
}

.icon-md {
  stroke-width: 1.5;
  height: 18px;
  width: 18px;
}
