:host {
  background-color: var(--ngm-copilot-bg-color, theme('colors.white'));
  @apply flex flex-col relative text-sm text-neutral-500 dark:text-neutral-300;
}

.copilot-code-container {
  @apply bg-gray-200 rounded-lg text-xs text-gray-500;
}

.copilot-code-titlebar {
  @apply flex justify-between items-center border-b-2 p-2;
}

.copilot-code-copy-button {
  @apply flex items-center;
}

.copilot-code-content {
  @apply overflow-x-auto overflow-y-hidden p-2 whitespace-pre;
}

.copilot-message-stop {
  .emoji-loader {
    width: 1.5rem;
  }
  .emoji-loader::before {
    font-size: 1rem;
    line-height: 1rem;
  }
}

.ngm-copilot__message-remove.mat-mdc-icon-button {
  background-color: var(--ngm-copilot-bg-color, theme('colors.white'));
  @apply absolute z-[101] text-slate-500 hover:text-red-500 hover:bg-slate-50;
}
.pac-colpilot__clear-messages {
  @apply border-dashed;
}

.ngm-copilot__resubmit {
  @apply my-2 rounded-full;
}

.mat-mdc-input-element {
  @apply outline-none bg-transparent;
}

.ngm-copilot__user-message {
  @apply bg-bluegray-100/50 text-black;
}

.pac-colpilot__active {
  @apply shadow-lg;
}

:host::ng-deep {
  markdown p:first-child {
    @apply indent-4;
  }

  // popper
  .ngxp__container.ngxp__animation {
    @apply p-0 shadow-none border-0;
  }
}

::ng-deep {
  .ngm-copilot-chat__autocomplete-panel.ngm-density__compact {
    .mdc-list-item {
      @apply pl-2;
    }
  }
}