<mat-card class="w-full">
    <mat-card-header>
        <div class="flex items-center">
            <mat-icon class="mr-1" fontSet="material-icons-outlined" displayDensity="cosy">manage_accounts</mat-icon>
            <span>{{ 'PAC.MENU.USER.BASIC' | translate: {Default: "Basic"} }}</span>
        </div>
    </mat-card-header>
    <mat-card-content >
        <div class="w-full flex justify-center">
            <pac-user-basic-info-form #userBasicInfo class="block max-w-[700px]"
                [isSuperAdmin]="true"
                [password]="true"
                [(ngModel)]="user">
            </pac-user-basic-info-form>
        </div>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-flat-button color="primary" (click)="save()" [disabled]="userBasicInfo.form.pristine || userBasicInfo.form.invalid">
            {{ 'PAC.ACTIONS.SAVE' | translate: {Default: 'Save'} }}
        </button>
    </mat-card-actions>
</mat-card>
