<ng-template>
  <div #menu="cdkMenu" cdkMenu class="ngm-cdk-menu">
    <div cdkMenuItem class="ngm-cdk-menu-item" (click)="createAgent(menu)">
      <span>新建成员</span>
    </div>
    <div cdkMenuItem class="ngm-cdk-menu-item" [cdkMenuTriggerFor]="teamsMenu">
      <span>添加外部成员</span>
    </div>
    <div cdkMenuItem class="ngm-cdk-menu-item" [cdkMenuTriggerFor]="knowledgeMenu">
      <span>添加知识库</span>
    </div>
    <div cdkMenuItem class="ngm-cdk-menu-item" [cdkMenuTriggerFor]="toolsetMenu">
      <span>添加工具集</span>
    </div>
    <div cdkMenuItem class="ngm-cdk-menu-item danger" (click)="deleteNode(menu, node)">
      <span>删除</span>
    </div>
  </div>
</ng-template>

<ng-template #knowledgeMenu>
  <div cdkMenu class="ngm-cdk-menu flex flex-col">
    <xpert-studio-knowledge-menu class="overflow-auto" />
  </div>
</ng-template>

<ng-template #toolsetMenu>
  <div cdkMenu class="ngm-cdk-menu flex flex-col">
    <xpert-studio-toolset-menu class="overflow-auto" />
  </div>
</ng-template>

<ng-template #teamsMenu>
  <div cdkMenu class="ngm-cdk-menu flex flex-col">
    @for (xpert of collaborators$ | async; track xpert.id) {
      <xpert-inline-profile cdkMenuItem class="ngm-cdk-menu-item py-1 overflow-hidden"
        [xpert]="xpert"
        (click)="addCollaborator(xpert)"
      />
    }
  </div>
</ng-template>
