$button-compact-size: 1.5rem;
@mixin ngm-story-toolbar($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $primary: map-get($config, primary);


}

@mixin ngm-story-toolbar__not-fullscreen($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $primary: map-get($config, primary);

  // .ngm-story__toolbar {
  //   &.compact {
  //     .ngm-story__toolbar-title {
  //       height: 0;
  //       opacity: 0;
  //     }
  //     .mat-mdc-icon-button {
  //       width: $button-compact-size;
  //       height: $button-compact-size;
  //       line-height: $button-compact-size;
  //     }
  //     .mat-stroked-button,
  //     .mat-button,
  //     .mat-menu-trigger.mat-button {
  //       line-height: $button-compact-size;
  //     }
  //     .mat-divider.mat-divider-vertical {
  //       height: $button-compact-size;
  //     }
  //   }
  // }
}
