:host {
  @apply flex justify-start items-stretch;

  &.pac-toolbar__on-right {
    @apply flex-row-reverse;
  }
}

.pac-story-bar__detail-card {
  background-color: var(--mdc-elevated-card-container-color);
}

.mat-divider {
  @apply border-dashed my-4;
}

.mat-mdc-icon-button.mat-mdc-button-base {
  --mdc-icon-button-state-layer-size: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pac-story-bar__scale-item.active {
  .pac-story-bar__scale-point {
    @apply bg-yellow-500;
  }
}