<div
  #menuTrigger
  class="flex items-center px-3 py-2 rounded-lg bg-gray-100 cursor-pointer hover:bg-gray-200"
  [cdkMenuTriggerFor]="menu"
>
  <div class="grow mr-2 text-gray-900 text-sm leading-5">Invited as Normal user</div>
  <svg
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    fill="currentColor"
    class="remixicon shrink-0 w-4 h-4 text-gray-700"
  >
    <path
      d="M11.9999 13.1714L16.9497 8.22168L18.3639 9.63589L11.9999 15.9999L5.63599 9.63589L7.0502 8.22168L11.9999 13.1714Z"
    ></path>
  </svg>
</div>

<ng-template #menu>
  <div
    cdkMenu
    class="relative bg-white rounded-lg border-[0.5px] border-gray-200 shadow-md p-2"
    [style.width.px]="menuTrigger.offsetWidth"
  >
    <ul cdkListbox>
      <li cdkOption="a">A</li>
      @for (option of selectOptions(); track option.key) {  
        <li #opElem="cdkOption" class="p-2 rounded-lg hover:bg-gray-50 cursor-pointer"
          [cdkOption]="option.value"
        >
          <div class="relative pl-5">
            <div class="text-gray-700 text-sm leading-5">{{ option.label | i18n }}</div>
            <div class="text-gray-500 text-xs leading-[18px]">{{ option.description | i18n }}</div>
            @if (opElem.isSelected()) {
                <svg
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="absolute top-0.5 left-0 w-4 h-4 text-primary-600"
                >
                    <g id="check">
                    <path
                        id="Icon"
                        d="M13.3334 4L6.00008 11.3333L2.66675 8"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    ></path>
                    </g>
                </svg>
            }
          </div>
        </li>
      }
    </ul>
  </div>
</ng-template>
