<div class="shrink-0 flex justify-between items-center p-4">
  {{xpertAgent().title || xpertAgent().name}}
</div>

<div class="flex-1 px-4 overflow-auto">
  @if (parameters()?.length) {
    <xpert-parameters-card [parameters]="parameters()" [(ngModel)]="parameterValue" />
  }
  <div class="h-6 mb-1 mt-4 flex items-center gap-1 text-text-secondary system-sm-semibold">
    <div class="truncate">
      <div class="mx-0.5 text-sm font-medium text-gray-700 max-w-[150px] truncate"
        [title]="'PAC.Xpert.AskQuestion' | translate: {Default: 'Ask a question'} ">{{ 'PAC.Xpert.AskQuestion' | translate: {Default: 'Ask a question'} }}</div>
    </div>
  </div>
  <div class="grow">
    <input class="w-full px-3 text-sm leading-8 text-gray-900 border-0 rounded-lg grow h-8 bg-gray-50 focus:outline-none focus:ring-1 focus:ring-inset focus:ring-gray-200"
      placeholder="Please input" type="text"
      [(ngModel)]="input">
  </div>

  <div class="mt-4 flex justify-between space-x-2">
    <button type="button" class="btn disabled:btn-disabled btn-primary btn-medium w-0 grow space-x-2"
      [disabled]="loading()"
      (click)="startRunAgent()"
    >
      <div>{{ 'PAC.Xpert.StartRun' | translate: {Default: 'Start run'} }}</div>
    </button>
  </div>

    @if (execution(); as execution) {
      <xpert-agent-execution class="p-2 w-full" [execution]="execution" />
    }

    <div class="flex items-center my-4 leading-[18px] text-base font-semibold text-gray-500 uppercase">
      <div class="mr-3">Output</div>
      <div class="grow w-0 h-px bg-divider-regular"></div>
    </div>

    <div class="mt-4 p-2 text-sm max-h-80 overflow-auto rounded-xl bg-neutral-100 dark:bg-neutral-700">
        <markdown class="ngm-copilot-markdown"
            lineNumbers
            [start]="5"
            [data]="output()"
        />
    </div>

  <div class="w-full flex flex-col mt-4">
    <div class="flex items-center mb-4 leading-[18px] text-base font-semibold text-gray-500 uppercase">
      <div class="flex items-center cursor-pointer rounded-md hover:bg-hover-bg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-text-tertiary"><path d="M12 15.0006L7.75732 10.758L9.17154 9.34375L12 12.1722L14.8284 9.34375L16.2426 10.758L12 15.0006Z"></path></svg>
        <div class="mr-3">Log</div>
      </div>
      <div class="grow w-0 h-px bg-divider-regular"></div>
    </div>

    <div class="flex flex-col gap-2 p-2">
      @for (execution of executions(); track execution.id) {
        <div class="flex items-center my-4 leading-[18px] text-sm font-semibold text-gray-500 uppercase">
          <div class="mr-3">{{execution.agent?.title || execution.agent?.name || execution.agentKey}}</div>
          <div class="grow w-0 h-px bg-divider-regular"></div>
        </div>
        @for (message of execution.messages; track $index) {
          <copilot-stored-message [message]="message" />
        }
      }
    </div>
  </div>
</div>