<div class="w-60 max-w-sm mx-auto shadow-2xl rounded-2xl overflow-hidden mb-10 bg-components-card-bg">
  <div class="flex items-center justify-start p-4 bg-yellow-100 border-b border-yellow-400 dark:bg-yellow-800">
    <i class="ri-lightbulb-flash-line text-lg text-yellow-500"></i>
    <span class="ml-2 text-yellow-700 font-semibold dark:text-yellow-300">API Access</span>
  </div>
  <div class="p-4">
    <p class="text-gray-700 text-sm dark:text-zinc-300">
      {{ 'PAC.Xpert.InDevelopment' | translate: { Default: 'This feature is in development' } }}...
    </p>
  </div>
</div>
