<ngm-analytical-card
    [dataSettings]="{
        dataSource: 'S4CDS',
        entitySet: '$/CPMB/SOIX6DW',
        chartAnnotation: {
            chartType: {
                type: 'Bar'
            },
            measures: [
                {
                    dimension: 'Measures',
                    measure: '/CPMB/SDATA'
                }
            ],
            dimensions: [
                {
                    dimension: '[/CPMB/SODE5GU]',
                    hierarchy: '[/CPMB/SODE5GU]'
                }
            ]
        }
    }"
></ngm-analytical-card>