.ngm-analytical-card {
  min-height: 300px;
}
:host::ng-deep {
  .ngm-kpi--kpi {
    @apply p-4;
    .ngm-kpi--title {
      @apply text-xl;
    }
    .ngm-kpi--value {
      font-size: 3rem;
      line-height: 1.5;
    }
  }
}
