@switch (data().type) {
  @case ('AnalyticalCard') {
    <ngm-analytical-card [title]="data().title"
      [dataSettings]="data().dataSettings"
      [chartSettings]="chartSettings()"
      [slicers]="slicers()"
    >
      <button mat-icon-button ngmAction displayDensity="cosy" class="ngm-menu-trigger"
        [color]="slicers() ? 'accent':''"
        [matMenuTriggerFor]="filtersMenu"
        #mt="matMenuTrigger"
        [class.active]="mt.menuOpen"
        >
        <mat-icon fontSet="material-icons-outlined">filter_alt</mat-icon>
      </button>
    </ngm-analytical-card>

    <mat-menu #filtersMenu="matMenu" class="pac-widget__slicer-menu">
      <div class="text-base font-semibold">{{ 'PAC.ChatBI.Slicers' | translate: {Default: "Slicers"} }}</div>
      <ngm-slicers class="overflow-hidden" inline editable
        [slicers]="slicers()"
        [dataSettings]="data().dataSettings"
        [limit]="5"
        [capacities]="[
          SlicersCapacity.Variable,
          SlicersCapacity.CombinationSlicer,
          SlicersCapacity.AdvancedSlicer
        ]"
        (valueChange)="updateSlicers($event)"
        (click)="$event.stopPropagation()"
      />
    </mat-menu>
  }
  @case ('KPI') {
    <pac-widget-kpi displayDensity="compact" [title]="data().title"
      [dataSettings]="data().dataSettings"
      [slicers]="slicers()"
      [options]="{
        showToolbar: true,
        shortNumber: true,
        digitsInfo: '0.0-2'
      }"
    />
  }
}