@use 'sass:map';
@use '@angular/material' as mat;
@use './entity-schema/entity-schema-theme' as entity-schema;

@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);

  @include entity-schema.color($config-or-theme);
}

@mixin typography($config-or-theme) {
}

@mixin density($config-or-theme) {
  @include entity-schema.density($config-or-theme);
}

@mixin theme($theme) {
  $color: mat.get-color-config($theme);
  $density: mat.get-density-config($theme);
  $typography: mat.get-typography-config($theme);

  @if $color != null {
    @include color($color);
  }
  @if $density != null {
    @include density($density);
  }
  @if $typography != null {
    @include typography($typography);
  }
}
