@use 'sass:map';
@use 'sass:color';
@use '@angular/material' as mat;

@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);

  .pac-model-query-lab {
    .mat-mdc-tab-group {
      height: 100%;
      .mat-tab-body-wrapper {
        height: 100%;
      }
    }
  }

  .mat-tooltip.pac-model-query__statement-tip {
    background-color: white;
    color: black;
    white-space: pre-wrap;
    @include mat.elevation(8);
  }

}

@mixin density($config-or-theme) {
}
