@forward './breadcrumb/breadcrumb.theme' as breadcrumb-*;

@use 'sass:map';
@use '@angular/material' as mat;
@use './splitter/splitter-theme' as splitter;
@use './tabs/tabs-theme' as tabs;
@use './appearance/appearance-theme' as appearance;
@use './table/table-theme' as table;

@mixin common-color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $accent: map.get($config, accent);

  @include splitter.color($config-or-theme);
  @include appearance.color($config-or-theme);
  @include tabs.color($config-or-theme);
  @include table.color($config-or-theme);

  .ngm-display-behaviour {
    .ngm-display-behaviour__highlight {
      color: map-get($accent, 500);
    }
  }

  .ngm-resizer-bar:hover,
  .ngm-resizer-bar.cdk-drag-dragging {
    background-color: mat.get-color-from-palette($accent);
  }
}
