@forward './breadcrumb/breadcrumb.theme' as breadcrumb-*;

@use 'sass:map';
@use '@angular/material' as mat;
@use './splitter/splitter-theme' as splitter;
@use './tabs/tabs-theme' as tabs;
@use './appearance/appearance-theme' as appearance;
@use './table/table-theme' as table;
@use './tree-select/tree-select-theme' as tree-select;
@use './search/search-theme' as search;

@mixin common-color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $accent: map.get($config, accent);

  @include splitter.color($config-or-theme);
  @include appearance.color($config-or-theme);
  @include tabs.color($config-or-theme);
  @include table.color($config-or-theme);
  @include tree-select.color($config-or-theme);
  @include search.color($config-or-theme);

  .ngm-display-behaviour {
    .ngm-display-behaviour__highlight {
      color: map-get($accent, 500);
    }
  }

  /**
   * Search bar formfield for members list
   */
  .ngm-member__search {
    .mat-form-field-infix {
      width: unset;
    }
  }
}

@mixin common-density($config-or-theme) {
  @include table.density($config-or-theme);
  @include search.density($config-or-theme);
  @include tree-select.density($config-or-theme);
}
