@if (modelType() === ModelType.SQL) {
  <ngm-formula-editor class="pac-cdk-drop__list flex-1 w-full h-full"
    [dataSettings]="dataSettings()"
    [ngModel]="formula()"
    (ngModelChange)="setFormula($event)"
    (keyDown)="onEditorKeyDown($event)"
  ></ngm-formula-editor>
} @else {
  <ngm-calculated-measure class="pac-cdk-drop__list flex-1 w-full h-full"
    [opened]="false"
    [syntax]="Syntax.MDX"
    [dataSettings]="dataSettings()"
    [entityType]="entityType()"
    [ngModel]="formula()"
    (ngModelChange)="setFormula($event)"
    (keyDown)="onEditorKeyDown($event)"
  >
  </ngm-calculated-measure>
}
<!-- 
<content-loader class="w-full m-4 overflow-hidden dark:opacity-20">
  <svg:rect x="0" y="0" rx="3" ry="3" width="250" height="5" />
  <svg:rect x="20" y="10" rx="3" ry="3" width="220" height="5" />
  <svg:rect x="20" y="20" rx="3" ry="3" width="170" height="5" />
  <svg:rect x="0" y="30" rx="3" ry="3" width="250" height="5" />
  <svg:rect x="20" y="40" rx="3" ry="3" width="200" height="5" />
  <svg:rect x="20" y="50" rx="3" ry="3" width="80" height="5" />
</content-loader> -->