ngm-slicer {
  .mat-chip-list-wrapper {
    max-width: 100%;
    .mat-standard-chip {
      padding: 0 8px;
      min-height: 24px;
      max-width: 100%;
      white-space: nowrap;
      span {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
ngm-slicers, ngm-slicer-bar {
  .mat-divider {
    margin: .5rem 0;
  }
}