<mat-drawer-container class="flex-1" [autosize]="true">
    <mat-drawer #drawer mode="side" opened ngmResizer [resizerWidth]="230">
        <ngm-splitter class="h-full" [type]="1">
            <ngm-splitter-pane size='15rem' class="flex flex-col justify-items-stretch items-stretch">
                <mat-toolbar class="pac-sub-toolbar flex justify-between items-center" displayDensity="compact">
                    <button mat-icon-button displayDensity="compact" (click)="drawer.toggle()">
                        <mat-icon fontSet="material-icons-round">segment</mat-icon>
                    </button>
                    <span>
                        {{ 'PAC.MODEL.DIMENSION.Levels' | translate: {Default: 'Levels'} }}
                    </span>

                    <span class="flex flex-1"></span>
                    <button mat-icon-button color="warn" displayDensity="cosy" class="pac-cdk-drop__recycle-bin"
                        cdkDropList
                        [cdkDropListEnterPredicate]="levelRemovePredicate"
                        (cdkDropListDropped)="removeLevel($event)"
                    >
                        <mat-icon color="warn" fontSet="material-icons-round">delete</mat-icon>
                    </button>
                </mat-toolbar>
                <div id="pac-model-dimension__hierarchy-levels"
                    class="pac-cdk-drop__list flex-1"
                    cdkDropList
                    [cdkDropListData]="levelSignal()"
                    (cdkDropListDropped)="dropLevel($event)"
                    [cdkDropListEnterPredicate]="levelPredicate"
                >
                    <mat-nav-list class="overflow-y-auto max-h-full" displayDensity="compact">
                        <mat-list-item *ngFor="let level of levelSignal()" [activated]="level.__id__ === designerComponentId"
                            cdkDrag
                            [cdkDragData]="level"
                            (click)="onLevelSelect(level.__id__)"
                        >
                            <ngm-display-behaviour [option]="{value: level.name, label: level.caption}"
                                [displayBehaviour]="DisplayBehaviour.descriptionAndId">
                            </ngm-display-behaviour>
                        </mat-list-item>
                    </mat-nav-list>
                </div>
            </ngm-splitter-pane>

            <ngm-splitter-pane class="flex flex-col">
                <mat-toolbar class="pac-sub-toolbar flex justify-between items-center" displayDensity="compact">
                    <span>
                        {{ 'PAC.MODEL.DIMENSION.DimensionTables' | translate: {Default: 'Dimension Tables'} }}
                    </span>
                    <button mat-icon-button color="warn" displayDensity="cosy" class="pac-cdk-drop__recycle-bin"
                        cdkDropList
                        [cdkDropListEnterPredicate]="tableRemovePredicate"
                        (cdkDropListDropped)="removeTable($event)"
                    >
                        <mat-icon color="warn" fontSet="material-icons-round">delete</mat-icon>
                    </button>
                </mat-toolbar>
                <div id="pac-model-dimension__hierarchy-tables"
                    class="pac-cdk-drop__list flex-1 overflow-y-auto"
                    cdkDropList
                    [cdkDropListData]="entities"
                    (cdkDropListDropped)="dropTable($event)"
                    [cdkDropListEnterPredicate]="tablesPredicate"
                >
                  <div class="overflow-y-auto max-h-full h-full">
                    <ngm-entity-schema *ngFor="let table of tables$ | async; trackBy: trackByName"
                        [dataSettings]="{dataSource: dataSourceName, entitySet: table.name}"
                        [capacities]="[
                            EntityCapacity.Dimension,
                            EntityCapacity.Measure,
                        ]"
                    ></ngm-entity-schema>
                  </div>
                </div>
            </ngm-splitter-pane>
        </ngm-splitter>

        <div ngmResizerBar resizerBarPosition="right" cdkDrag></div>
    </mat-drawer>
    <mat-drawer-content class="flex">
        <ngm-splitter class="flex-1 h-full w-full" [type]="1">
            <ngm-splitter-pane class="pac-model-hierarchy__preview flex flex-col justify-items-stretch items-stretch">
                <mat-toolbar class="pac-sub-toolbar flex justify-between items-center" displayDensity="compact" >
                    <div class="flex">
                        <button *ngIf="!drawer.opened" mat-icon-button displayDensity="compact" (click)="drawer.toggle()">
                            <mat-icon fontSet="material-icons-round">segment</mat-icon>
                        </button>
                        <span>
                            {{ 'PAC.MODEL.DIMENSION.DataPreview' | translate: {Default: 'Data Preview'} }}
                        </span>
                    </div>

                    <button mat-icon-button displayDensity="cosy" class="ngm-toolbar__action"
                        (click)="refresh()"
                    >
                        <mat-icon fontSet="material-icons-round">refresh</mat-icon>
                    </button>
                </mat-toolbar>
                <div style="position: relative; flex: 1; max-height: calc(100% - 34px)" class="flex">
                    <ngm-table class="striped flex-1 max-w-full"
                        [columns]="columns$ | async"
                        [data]="data$ | async"
                        [paging]="true"
                    ></ngm-table>
                    <mat-spinner *ngIf="loading" strokeWidth="2" diameter="30"></mat-spinner>
                    <div *ngIf="error$ | async as error" class="pac-model-hierarchy__error">
                        <div style="font-size: 4rem;" class="font-notoColorEmoji">🐞</div>
                        <div>
                            {{error}}
                        </div>
                    </div>
                </div>

            </ngm-splitter-pane>
            <ngm-splitter-pane size='10rem' [collapsed]="tablesJoinCollapsed">
                <ngm-tables-join [dataSource]="dataSourceName" style="margin: 1rem;"
                    [tables]="tables$ | async"
                    (tablesChange)="onTablesChange($event)"
                >
                </ngm-tables-join>
            </ngm-splitter-pane>
        </ngm-splitter>
    </mat-drawer-content>
</mat-drawer-container>