@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $accent: map.get($config, accent);
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);

  .cdk-table {
    &.striped {
      .cdk-row:nth-child(even) {
        background-color: lighten(mat.get-color-from-palette($background, hover), 50%);
      }

      .cdk-row {
        &:hover {
          background-color: mat.get-color-from-palette($background, hover);
        }
      }
    }

    &.ngm-table-grid {
      .cdk-header-cell,
      .cdk-cell {
        padding: 0 10px;
      }
      &.ngm-density__compact {
        .cdk-header-cell,
        .cdk-cell {
          padding: 0 5px;
        }
      }
  
      .cdk-header-row {
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: mat.get-color-from-palette($foreground, divider);
      }
      .cdk-cell,
      .cdk-header-cell {
        border-right: 1px solid mat.get-color-from-palette($foreground, divider);
  
        &:first-child {
          border-left: 1px solid mat.get-color-from-palette($foreground, divider);
        }
      }
    }

    .cdk-row {
      &:hover {
        background-color: mat.get-color-from-palette($background, hover);
      }
    }
  }
}

@mixin density($config-or-theme) {
  .cdk-table.grid {
    &.ngm-density__cosy {
      .cdk-header-cell,
      .cdk-cell {
        padding: 0 10px;
      }
    }
    &.ngm-density__compact {
      .cdk-header-cell,
      .cdk-cell {
        padding: 0 5px;
      }
    }
  }
}
