:host {
  @apply flex flex-col;
}

.mat-mdc-cell,
.mat-mdc-header-cell {
  white-space: nowrap;

  &.number {
    text-align: right;
  }
}

:host ::ng-deep {
  .mat-mdc-cell.mat-mdc-table-sticky {
    background-color: var(--mat-table-background-color);
  }
}
