@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $background: map.get($config, background);
  $foreground: map.get($config, foreground);

  .ngm-member-list {
    // var 也没起作用
    --mdc-list-list-item-container-shape: 10px;
    
    .ngm-member-list__members {
      .cdk-virtual-scroll-content-wrapper {
        @apply max-w-full;
      }

      .mat-mdc-radio-group {
        .mat-mdc-radio-button {
          .mdc-form-field {
            flex: 1;
          }
          .mdc-label {
            flex: 1;
            padding-right: 10px; 
          }
        }
      }
    }
  }

}

@mixin typography($config-or-theme) {
}

@mixin density($config-or-theme) {
  // mat.radio-density 似乎还不起作用
  .ngm-member-list {
    @include mat.radio-density(-2);
  }
}

@mixin theme($theme) {
  $color: mat.get-color-config($theme);
  $density: mat.get-density-config($theme);
  $typography: mat.get-typography-config($theme);

  @if $color != null {
    @include color($color);
  }
  @if $density != null {
    @include density($density);
  }
  @if $typography != null {
    @include typography($typography);
  }
}
