:host {
  position: relative;
  display: flex;
  flex-direction: column;
}

.mat-progress-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px;
}

.ngm-member-list__members {
  overflow-y: auto;
  height: 100%;
}