:host {
  @apply flex flex-col justify-start items-start;
}

.node-output-right {
  .f-component.f-node-output {
    position: relative;
    border-radius: 0;
    width: 3px;
    height: 10px;
    border: none;
    @apply bg-blue-500;
  }
}