:host {
  @apply flex flex-col justify-start items-start;
}

.node-output-right {
  .f-component.f-node-output {
    position: relative;
    border-radius: 0;
    width: 3px;
    height: 10px;
    // border: none;
    @apply bg-blue-500;
  }
}

.node-output-bottom {
  .f-component.f-node-output {
    position: relative;
    bottom: 0;
    left: initial;
    border-radius: 0;
    width: 10px;
    height: 3px;
    // border: none;
    @apply bg-blue-500;
  }
}
