@if (!isRoot()) {
  <div fNodeInput [fInputId]="node().key" fInputConnectableSide="top" class="top"></div>
}

<div class="node-output-bottom flex items-center gap-2 h-3 absolute -bottom-[8px] left-1/2 -ml-3">
  <div fNodeOutput [fOutputId]="node().key + '/agent'" fOutputConnectableSide="bottom" [fOutputMultiple]="true">
  </div>
  <div fNodeOutput [fOutputId]="node().key + '/xpert'" fOutputConnectableSide="bottom" [fOutputMultiple]="true"></div>
</div>

<div class="node-output-right flex flex-col items-center gap-2 w-3 absolute -right-[8px] top-1/2 -mt-3">
  <div fNodeOutput [fOutputId]="node().key + '/knowledge'" fOutputConnectableSide="right" [fOutputMultiple]="true"></div>
  <div fNodeOutput [fOutputId]="node().key + '/toolset'" fOutputConnectableSide="right" [fOutputMultiple]="true"></div>
</div>

@if (xpertAgent()) {
  <div class="max-w-full flex justify-start items-center px-3 pt-3 pb-2 overflow-hidden">
    <xpert-avatar [avatar]="xpertAgent().avatar" small class="shrink-0 mr-2 rounded-lg overflow-hidden shadow-sm" />
    <div class="flex flex-col overflow-hidden text-base-content">
      <span class="text-base font-semibold uppercase truncate">{{xpertAgent().title}}</span>
    </div>
  </div>
  
  <div class="px-3 pb-2 flex flex-col items-stretch">
      <p class="text-sm text-token-text-secondary text-left">{{xpertAgent().description}}</p>
  
      @if (toolsets()?.length) {
        <label class="mt-4 text-left">Tools:</label>
      }
      @for (toolset of toolsets(); track toolset.id) {
        <xpert-studio-role-toolset [toolset]="toolset" class="flex items-center cursor-pointer px-2 py-1 rounded-md
          hover:bg-black/5 dark:hover:bg-white/10">
          <xpert-avatar [avatar]="toolset.avatar" class="shrink-0 mr-2 w-6 h-6 overflow-hidden rounded-full" />
          <span class="whitespace-nowrap text-ellipsis overflow-hidden" [title]="toolset.name">{{toolset.name}}</span>
        </xpert-studio-role-toolset>
      }
  </div>
}
