@if (!isRoot()) {
  <div fNodeInput [fInputId]="node().key" fInputConnectableSide="top" class="top"></div>
}
<div fNodeOutput [fOutputId]="node().key + '/agent'" fOutputConnectableSide="bottom" class="bottom" [fOutputMultiple]="true"></div>
<div class="node-output-right flex flex-col gap-1 absolute -right-[6px] top-1/2 -mt-3">
  <div fNodeOutput [fOutputId]="node().key + '/knowledge'" fOutputConnectableSide="right" [fOutputMultiple]="true"></div>
  <div fNodeOutput [fOutputId]="node().key + '/toolset'" fOutputConnectableSide="right" [fOutputMultiple]="true"></div>
</div>

@if (xpertRole()) {
  <div class="flex justify-start items-center px-3 pt-3 pb-2">
    <pac-avatar [avatar]="xpertRole().avatar" class="shrink-0 mr-2 w-6 h-6 overflow-hidden rounded-full" />
    <div class="flex flex-col">
      <span class="text-lg">{{xpertRole().title}}</span>
    </div>
  </div>
  
  <div class="px-3 pb-2 flex flex-col items-stretch">
      <p class="text-sm text-token-text-secondary text-left">{{xpertRole().description}}</p>
  
      @if (toolsets()?.length) {
        <label class="mt-4 text-left">Tools:</label>
      }
      @for (toolset of toolsets(); track toolset.id) {
        <xpert-studio-role-toolset [toolset]="toolset" class="flex items-center cursor-pointer px-2 py-1 rounded-md
          hover:bg-black/5 dark:hover:bg-white/10">
          <pac-avatar [avatar]="toolset.avatar" class="shrink-0 mr-2 w-6 h-6 overflow-hidden rounded-full" />
          <span class="whitespace-nowrap text-ellipsis overflow-hidden" [title]="toolset.name">{{toolset.name}}</span>
        </xpert-studio-role-toolset>
      }
  </div>
}
