:root {
  // --ngm-copilot-font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  --ngm-primary-container-rounded: theme('borderRadius.3xl');
}

:root .default, :root .light, :root .dark {
  --mat-expansion-container-background-color: var(--ngm-color-surface-container-low);
}

:root .default, :root .light {
  --ngm-app-background-color: white;
  --ngm-color-main-container-background: white;
  --ngm-color-on-surface: #1f1f1f;
  --ngm-color-on-surface-variant: #444746;
  --ngm-divider-color-secondary: theme('colors.neutral.100');
  --ngm-color-surface: white;
  --ngm-color-surface-container-low: theme('colors.neutral.50');
  --ngm-color-surface-container: theme('colors.neutral.100');
  --ngm-color-surface-container-high: #f2f2f2;
  --ngm-color-surface-container-highest: #e5e5e5;
  --ngm-color-outline-variant: theme('colors.neutral.100');
  --ngm-copilot-bg-color: var(--ngm-color-surface-container);
  --main-surface-primary: var(--ngm-color-surface);
  --main-surface-secondary: theme('colors.neutral.100');
  --text-secondary: theme('colors.neutral.400');
  --border-medium: theme('colors.neutral.300');
  --border-light: theme('colors.neutral.200');
  --components-card-option-selected-border: theme('colors.blue.500');
  --color-components-panel-bg: #fff;
  --color-components-panel-border: #10182814;
  --color-components-card-bg: white;
}

:root .dark {
  --ngm-app-background-color: #1e1f20;
  --ngm-color-main-container-background: #1e1f20;
  --ngm-color-on-surface: #e3e3e3;
  --ngm-color-on-surface-variant: #444746;
  --ngm-divider-color-secondary: theme('colors.neutral.900');
  --ngm-color-surface: #16181c;
  --ngm-color-surface-container-low: #62626210;
  --ngm-color-surface-container: black;
  --ngm-color-surface-container-high: #24292f;
  --ngm-color-surface-container-highest: #2f353c;
  --ngm-color-outline-variant: theme('colors.neutral.800');
  --ngm-copilot-bg-color: var(--ngm-color-surface-container);
  --main-surface-primary: var(--ngm-color-surface);
  --main-surface-secondary: theme('colors.neutral.800');
  --text-secondary: theme('colors.zinc.400');
  --border-medium: theme('colors.neutral.600');
  --border-light: theme('colors.neutral.700');
  --components-card-option-selected-border: theme('colors.blue.500');
  --color-components-panel-bg: #222225;
  --color-components-panel-border: theme('colors.neutral.600');
  --color-components-card-bg: #16181c;
}
