@use '@angular/material/core/tokens/token-utils';
@use 'libs/material-theme/src/styles/material/thin.theme' as thin-theme;
@use 'libs/apps/indicator-market/src/lib/indicator-market-theme' as indicator-market;
@use '../../app/features/features-theme' as features;
@use '../../app/@shared/components-theme' as shared;
@use '../../app/public/public-theme' as public;


.dark.thin {
  --ngm-bg-color: rgb(46 16 101); // bg-violet-950
  --ngm-primary-color: theme(colors.green.500);
  --ngm-text-primary-color: theme(colors.green.100);
}

.ngm-theme-thin {
    @include features.color(thin-theme.$dark-theme);
    @include shared.color(thin-theme.$dark-theme);
    @include public.color(thin-theme.$dark-theme);
    @include indicator-market.color(thin-theme.$dark-theme);
}