<mat-expansion-panel class="mat-elevation-z" displayDensity="cosy">
    <mat-expansion-panel-header>
        <mat-panel-title> {{cube().caption}} <span class="text-sm italic ml-2">({{cube().name}})</span> </mat-panel-title>
        <mat-panel-description>
          @if (cube().id) {
            <button mat-icon-button [disabled]="loading()" ngmAppearance="danger"
              [matTooltip]="'PAC.MODEL.DeleteDimensionMembers' | translate: {Default: 'Delete Dimension Members'}"
              (click)="$event.stopPropagation();deleteMembers(cube().id)"
            >
              <mat-icon class="material-icons-outlined" >delete_outline</mat-icon>
            </button>
          }
            <button mat-icon-button [disabled]="loading()"
              [matTooltip]="'PAC.MODEL.SyncDimensionMembers' | translate: {Default: 'Sync Dimension Members'}"
              (click)="$event.stopPropagation();syncMember()"
            >
                <mat-icon class="material-icons-outlined" >sync</mat-icon>
            </button>

            <button mat-icon-button [disabled]="loading() || !loaded()"
              [matTooltip]="'PAC.MODEL.UploadDimensionMembers' | translate: {Default: 'Upload Dimension Members'}"
              (click)="$event.stopPropagation();uploadMembers(selectedDims())"
            >
                <mat-icon class="material-icons-outlined" >file_upload</mat-icon>
            </button>

            <mat-checkbox [checked]="allSelected()"
                [indeterminate]="someSelected()"
                (change)="setAll($event.checked)"
                (click)="$event.stopPropagation();"></mat-checkbox>
        </mat-panel-description>
    </mat-expansion-panel-header>
    
    <mat-selection-list #selection role="list" [disabled]="loading()" [(ngModel)]="selectedDims">
      @for (dimension of dimensions(); track dimension.name) {
        <mat-list-option role="listitem" [value]="dimension.name">
          <ngm-entity-property [property]="dimension" />
        </mat-list-option>

        @if (selectedDims()?.includes(dimension.name)) {
          @for (hierarchy of dimension.hierarchies; track $index) {
            <mat-list-option role="listitem" class="hierarchy" [value]="hierarchy.name">
              <ngm-entity-property [property]="hierarchy" />
    
              <span>
                @if (members()[hierarchy.name]) {
                  ({{members()[hierarchy.name].length}})
                }
                {{ 'PAC.MODEL.Members' | translate: { Default: 'Members' } }}
              </span>
            </mat-list-option>
          }
        }

        <mat-divider></mat-divider>
      }
    </mat-selection-list>
</mat-expansion-panel>