name: Build and Publish Docker Images Prod

on:
  push:
    branches: [ "main" ]
    tags:
      - '*'

jobs:

  ocap-api:

    runs-on: ubuntu-latest
    if: github.event_name == 'push' && !contains(github.ref, 'beta')
    steps:
    - uses: actions/checkout@v3
    - name: Build
      uses: docker/build-push-action@v3
      with:
          context: .
          file: ./.deploy/api/Dockerfile
          load: true
          platforms: linux/amd64
          tags: |
              ghcr.io/meta-d/ocap-api:latest
              metadc/ocap-api:latest
              registry.cn-hangzhou.aliyuncs.com/metad/ocap-api:latest
          cache-from: type=registry,ref=metadc/ocap-api:latest
          cache-to: type=inline

    - name: Docker images list
      run: |
          sudo docker image list

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Push to Docker Hub Registry
      env:
        GITHUB_REF_NAME: ${{ github.ref_name }}
      run: |
        docker push metadc/ocap-api:latest
        docker tag metadc/ocap-api:latest metadc/ocap-api:$GITHUB_REF_NAME
        docker push metadc/ocap-api:$GITHUB_REF_NAME

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

    - name: Push to Github Registry
      run: |
          docker push ghcr.io/meta-d/ocap-api:latest
          docker tag ghcr.io/meta-d/ocap-api:latest ghcr.io/meta-d/ocap-api:$GITHUB_REF_NAME
          docker push ghcr.io/meta-d/ocap-api:$GITHUB_REF_NAME

    - uses: aliyun/acr-login@v1
      with:
        login-server: https://registry.cn-hangzhou.aliyuncs.com
        username: "${{ secrets.ACR_USERNAME }}"
        password: "${{ secrets.ACR_PASSWORD }}"

    - name: Push to Aliyun Registry
      run: |
          docker push registry.cn-hangzhou.aliyuncs.com/metad/ocap-api:latest
          docker tag registry.cn-hangzhou.aliyuncs.com/metad/ocap-api:latest registry.cn-hangzhou.aliyuncs.com/metad/ocap-api:$GITHUB_REF_NAME
          docker push registry.cn-hangzhou.aliyuncs.com/metad/ocap-api:$GITHUB_REF_NAME
          
  ocap-webapp:

    runs-on: ubuntu-latest
    if: github.event_name == 'push' && !contains(github.ref, 'beta')
    steps:
    - uses: actions/checkout@v3
    - name: Build
      uses: docker/build-push-action@v3
      with:
          context: .
          file: ./.deploy/webapp/Dockerfile
          load: true
          platforms: linux/amd64
          tags: |
              ghcr.io/meta-d/ocap-webapp:latest
              metadc/ocap-webapp:latest
              registry.cn-hangzhou.aliyuncs.com/metad/ocap-webapp:latest
          cache-from: type=registry,ref=metadc/ocap-webapp:latest
          cache-to: type=inline

    - name: Docker images list
      run: |
          sudo docker image list

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Push to Docker Hub Registry
      env:
        GITHUB_REF_NAME: ${{ github.ref_name }}
      run: |
        docker push metadc/ocap-webapp:latest
        docker tag metadc/ocap-webapp:latest metadc/ocap-webapp:$GITHUB_REF_NAME
        docker push metadc/ocap-webapp:$GITHUB_REF_NAME

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

    - name: Push to Github Registry
      run: |
        docker push ghcr.io/meta-d/ocap-webapp:latest
        docker tag ghcr.io/meta-d/ocap-webapp:latest ghcr.io/meta-d/ocap-webapp:$GITHUB_REF_NAME
        docker push ghcr.io/meta-d/ocap-webapp:$GITHUB_REF_NAME

    - uses: aliyun/acr-login@v1
      with:
        login-server: https://registry.cn-hangzhou.aliyuncs.com
        username: "${{ secrets.ACR_USERNAME }}"
        password: "${{ secrets.ACR_PASSWORD }}"

    - name: Push to Aliyun Registry
      run: |
        docker push registry.cn-hangzhou.aliyuncs.com/metad/ocap-webapp:latest
        docker tag registry.cn-hangzhou.aliyuncs.com/metad/ocap-webapp:latest registry.cn-hangzhou.aliyuncs.com/metad/ocap-webapp:$GITHUB_REF_NAME
        docker push registry.cn-hangzhou.aliyuncs.com/metad/ocap-webapp:$GITHUB_REF_NAME
    