<header mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <h4 style="pointer-events: none;">
    {{ 'PAC.Xpert.CreateTool' | translate: { Default: 'Create Tool' } }}
  </h4>
</header>

<div mat-dialog-content>
  <pac-xpert-tool-configure #configure [loading]="loading()" />
</div>

<div mat-dialog-actions>
  <div ngmButtonGroup>
    <button mat-stroked-button mat-dialog-close cdkFocusInitial>
      {{ 'PAC.ACTIONS.CANCEL' | translate: { Default: 'Cancel' } }}
    </button>
  </div>

  <div ngmButtonGroup>
    <button mat-raised-button color="accent" [disabled]="configure.invalid"
      (click)="createTool(configure.value)">
      {{ 'PAC.ACTIONS.CREATE' | translate: { Default: 'Create' } }}
    </button>
  </div>
</div>