openapi: 3.0.1
info:
  title: Open Meteo Weather Forecast API
  description: An API for retrieving current and hourly weather data such as temperature, wind speed, and relative humidity for a given location.
  version: 1.0.0
servers:
  - url: https://api.open-meteo.com/v1
paths:
  /forecast:
    get:
      summary: Get current and hourly weather data
      description: Retrieves the current and hourly forecast for temperature, wind speed, and relative humidity for the specified latitude and longitude.
      parameters:
        - name: latitude
          in: query
          required: true
          description: The latitude of the location.
          schema:
            type: number
            example: 52.52
        - name: longitude
          in: query
          required: true
          description: The longitude of the location.
          schema:
            type: number
            example: 13.41
        - name: current
          in: query
          required: false
          description: Comma-separated list of current weather parameters to retrieve.
          schema:
            type: string
            example: temperature_2m,wind_speed_10m
        - name: hourly
          in: query
          required: false
          description: Comma-separated list of hourly weather parameters to retrieve.
          schema:
            type: string
            example: temperature_2m,relative_humidity_2m,wind_speed_10m
      responses:
        '200':
          description: Successful response with weather data
          content:
            application/json:
              schema:
                type: object
                properties:
                  current:
                    type: object
                    properties:
                      time:
                        type: string
                        format: date-time
                        example: "2022-01-01T15:00"
                      temperature_2m:
                        type: number
                        example: 2.4
                      wind_speed_10m:
                        type: number
                        example: 11.9
                  hourly:
                    type: object
                    properties:
                      time:
                        type: array
                        items:
                          type: string
                          format: date-time
                        example: ["2022-07-01T00:00", "2022-07-01T01:00", "..."]
                      wind_speed_10m:
                        type: array
                        items:
                          type: number
                        example: [3.16, 3.02, 3.3, 3.14, 3.2, 2.95]
                      temperature_2m:
                        type: array
                        items:
                          type: number
                        example: [13.7, 13.3, 12.8, 12.3, 11.8]
                      relative_humidity_2m:
                        type: array
                        items:
                          type: integer
                        example: [82, 83, 86, 85, 88, 88, 84, 76]
        '400':
          description: Invalid request parameters
        '500':
          description: Server error