:host {
  display: flex;
  flex-direction: column;
}

.ngm-tree-select__viewport {
  min-height: 200px;
  max-height: 100%;
}

.mat-chip {
  max-width: 100%;
  .ngm-display-behaviour {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.mat-option {
  overflow: visible;
  max-width: unset;
}

.ngm-tree-select__search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  .ngm-tree-select__search-icon {
    position: absolute;
    left: 10px;
    top: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
  }
  .ngm-tree-select__search-input {
    padding: 10px;
    padding-left: 32px;
    border-radius: 10px;
  }
}