:host {
  --mat-sidenav-container-width: 16rem;
  --mat-sidenav-container-divider-color: var(--color-divider-regular);
  @apply block w-full h-full;
}
.mat-drawer.mat-sidenav {
  border-top-left-radius: var(--ngm-primary-container-rounded);
}

.router-menu-item {
  @apply hover:bg-hover-bg flex items-center h-9 rounded-md py-2 font-normal px-3;
}

.router-menu-item.active {
  @apply bg-primary-100/50 text-primary-500 dark:bg-neutral-700;
}