:host {
  --mat-sidenav-container-width: 16rem;
  --mat-sidenav-container-divider-color: var(--color-divider-regular);
  @apply block w-full h-full;
}
.mat-drawer.mat-sidenav {
  border-top-left-radius: var(--ngm-primary-container-rounded);
}

.router-menu-item.active {
  @apply bg-primary-100/50 text-primary-500;
}